<div ng-init="searchScheduledJobInit()" ng-controller="adminController" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Search Scheduled Job</h1>
                </div>
                <hr>
            </div>
            
            <form name="searchScheduledJobForm" id="entity-form" class="af-entity" novalidate>
			   		
			   		<div style="display: none">
			   			
			   		</div>
			   	
		                <!-- Error Messages -->
					    <div class="row ocr-error" ng-show="errors.length > 0">			
							<div class="col-xs-12">				
								<div class="alert fade in alert-danger">
									<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
									<h4>Error!</h4>
									<ul class="msg-ul">
										<li ng-repeat="error in errors track by $index">
					            			{{ error.msg }}
					            		</li>
									</ul>
								</div>
							</div>
						</div>
						      
					      <!-- Warning Messages -->
					      <div class="row ocr-warning" ng-show="warnings.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
					            <strong>Warning!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="warning in warnings track by $index">
					            		{{ warning }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
						      
					      <!-- Info Messages -->
					      <div class="row ocr-info" ng-show="infos.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
					            <strong>Information!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="info in infos track by $index">
					            		{{ info }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
					      
					     <div class="row">
					     	<label class="col-xs-2">
					     		Job Code
					     	</label>
					     	<div class="col-xs-3">
					     		<input type="text" ng-model="job.jobCode" class="form-control" />
					     	</div>
					     </div>
					     
					      <div class="row">
					     	<label class="col-xs-2">
					     		Job Name
					     	</label>
					     	<div class="col-xs-3">
					     		<input type="text" ng-model="job.jobName" class="form-control" />
					     	</div>
					     </div>
					     
					     
					     <div class="row">
					     	<label class="col-xs-2">
					     		Job Description
					     	</label>
					     	<div class="col-xs-3">
					     		<textarea ng-model="job.jobDesc" rows="5" class="form-control">
		            			
		            			</textarea>
					     	</div>
					     </div>
					      
				   		<div class="row btn-row-bottom">
			            	<div class="col-xs-6">
			            		<button ng-click="searchScheduledJob('search')" class="btn btn-license">Search</button>
			            		
			            	</div>
			            </div>
               </form>   
         </div>
       </div>
     </div>
</div>