<div ng-init="schedularAesInit()" ng-controller="adminController" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
				
					<div class="col-sm-12 col-md-12 blue-div" >
		                <div class="" >
		                     <h1>Update Job</h1>
		                </div>
		                <hr>
		            </div>
		        <form class="af-entity" name="createAesConfig">	
		            
		            
		             <!-- Error Messages -->
				    <div class="row ocr-error" ng-show="errors.length > 0">			
						<div class="col-xs-12">				
							<div class="alert fade in alert-danger">
								<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
								<h4>Error!</h4>
								<ul class="msg-ul">
									<li ng-repeat="error in errors track by $index">
				            			{{ error.msg }}
				            		</li>
								</ul>
							</div>
						</div>
					</div>
					      
				      <!-- Warning Messages -->
				      <div class="row ocr-warning" ng-show="warnings.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
				            <strong>Warning!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="warning in warnings track by $index">
				            		{{ warning }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
					      
				      <!-- Info Messages -->
				      <div class="row ocr-info" ng-show="infos.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
				            <strong>Information!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="info in infos track by $index">
				            		{{ info }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
		            
		            <div class="row">
		            	<label class="control-label col-xs-2">Job Code &nbsp;<span class="required">*</span></label>
		            	<div class="col-xs-3">
		            		<input type="text" ng-model="aesFilingConfigView.jobCode" class="form-control" ng-disabled="true"/>
		            		
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="control-label col-xs-2">Job Name</label>
		            	<div class="col-xs-3">
		            		<input type="text" ng-model="aesFilingConfigView.jobName" class="form-control jobName" ng-disabled="false"/>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="col-xs-2 control-label">
		            		Frequency
		            	</label>
		            	<div class="col-xs-10" id="cron-selector">
		            		
		            	</div>
		            	
		            </div>
		            
		            <div class="row">		            	
		            	<label class="col-xs-2 control-label">
		            		Cron
		            	</label>
		            	<div class="col-xs-3">
		            		<input type="text" ng-model="aesFilingConfigView.cron"  class="form-control" ng-disabled="true"/>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="control-label col-xs-2">Job Description</label>
		            	<div class="col-xs-3">
		            		<textarea ng-model="aesFilingConfigView.jobDesc" rows="5" class="form-control jobDesc">
		            			
		            		</textarea>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<span class="red">Note </span> : <span style="font-style: italic">After modifying server restart is required to reflect latest scheduling.</span>
		            	</div>
		            </div>
		            
		            <div class="row btn-row-bottom">
		            	<div class="col-xs-6">
		            		<button ng-click="saveAesFilingConfig()" class="btn btn-license">Save</button>
		            		<button ng-click="searchScheduledJob('cancel')" class="btn btn-black">Cancel</button>
		            	</div>
		            </div>
            </form>
         </div>
       </div>
     </div>
</div>