<div ng-init="sbuParamCreateInit()" ng-controller="adminController" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
				
					<div class="col-sm-12 col-md-12 blue-div" >
		                <div class="" >
		                     <h1>Create SBU Config variable</h1>
		                </div>
		                <hr>
		            </div>
		        <form class="af-entity" name="createSbuConfig">	
		            
		            <div style="display: none">
		            	<input type="hidden" ng-model="sbuConfigView.id" />
		            	<input type="hidden" ng-model="sbuConfigView.createdBy" />
		            </div>
		            
		            <div class="row btn-row">
		            	<div class="col-xs-6">
		            		<button ng-click="saveSbuConfig('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveSbuConfig('return')" class="btn btn-license">Save & Return</button>
		            		
		            		<span ng-if="screenType == 'Edit'">
		            			<button ng-click="searchSbuConfig('cancel')" class="btn btn-black">Cancel</button>
		            		</span>
		            		<span ng-if="screenType == 'New'">
		            			<button gtn-click="/sbuParams" class="btn btn-black">Cancel</button>
		            		</span>	
	            			
		            	</div>
		            </div>
		            
		             <!-- Error Messages -->
				    <div class="row ocr-error" ng-show="errors.length > 0">			
						<div class="col-xs-12">				
							<div class="alert fade in alert-danger">
								<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
								<h4>Error!</h4>
								<ul class="msg-ul">
									<li ng-repeat="error in errors track by $index">
				            			{{ error.msg }}
				            		</li>
								</ul>
							</div>
						</div>
					</div>
					      
				      <!-- Warning Messages -->
				      <div class="row ocr-warning" ng-show="warnings.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
				            <strong>Warning!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="warning in warnings track by $index">
				            		{{ warning }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
					      
				      <!-- Info Messages -->
				      <div class="row ocr-info" ng-show="infos.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
				            <strong>Information!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="info in infos track by $index">
				            		{{ info }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
		            
		            <div class="row">
		            	<label class="control-label col-xs-3">SBU</label>
		            	<div class="col-xs-3">
		            		<select ng-model="sbuConfigView.sbu" class="form-control">
		            			<option value="">Select</option>
		            			<option ng-repeat="sbu in sbuList" value="{{sbu}}"> {{ sbu }} </option>
		            		</select>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="control-label col-xs-3">Parameter Name&nbsp;<span class="required">*</span></label>
		            	<div class="col-xs-3">
		            		<input type="text" ng-model="sbuConfigView.paramName" name="paramName" class="form-control" required/>
		            	</div>
		            </div>
		            <div class="row">
		            	<label class="control-label col-xs-3">Parameter Value&nbsp;<span class="required">*</span></label>
		            	<div class="col-xs-3">
		            		<input type="text" name="paramValue" ng-model="sbuConfigView.paramValue" class="form-control" required/>
		            	</div>
		            </div>
		            <div class="row">
		            	<label class="control-label col-xs-3">Parameter Description</label>
		            	<div class="col-xs-3">
		            		<textarea type="text" name="" ng-model="sbuConfigView.paramDescription" rows="5" class="form-control">
		            		
		            		</textarea>
		            	</div>
		            </div>
		            
		            <div class="row btn-row-bottom">
		            	<div class="col-xs-6">
		            		<button ng-click="saveSbuConfig('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveSbuConfig('return')" class="btn btn-license">Save & Return</button>
		            				            		
		            		<span ng-if="screenType == 'Edit'">
		            			<button ng-click="searchSbuConfig('cancel')" class="btn btn-black">Cancel</button>
		            		</span>
		            		<span ng-if="screenType == 'New'">
		            			<button gtn-click="/sbuParams" class="btn btn-black">Cancel</button>
		            		</span>	
		            	</div>
		            </div>
            </form>
         </div>
       </div>
     </div>
</div>