<div ng-init="scheduledJobSearchResultInit()" ng-controller="adminController" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
				
					<div class="col-sm-12 col-md-12 blue-div" >
		                <div class="" >
		                     <h1>Result Scheduled Job</h1>
		                </div>
		                <hr>
		            </div>
		        <form class="af-entity">	
		            
		            <div class="row btn-row">
		            	<div class="col-xs-6">
		            		<button type="button" class="btn btn-black" gtn-click="/createSearchScheduledJob">Back</button>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<table class="table table-striped table-bordered table-hover table-condensed">
								<thead>
									<tr>
										<th >Sr.</th>
										<th >Job Code</th>
										<th >Job Name</th>
										<th >Cron Expression</th>
										<th >Job Description</th>
										<th >Created On</th>
										<!-- <th >Delete</th> -->
									</tr>
								</thead>		  
								
								<tbody>
									<tr ng-repeat="job in jobList track by $index">
										<td>{{ $index + 1 }}</td>
										<td><a ng-click="editScheduledJob(job.jobCode)" style="color: blue">{{ job.jobCode }}</a></td>
										<td>{{ job.jobName }}</td>
										<td>{{ job.cron }}</td>
										<td>{{ job.jobDesc }}</td>
										<td>{{ job.createdOn | date:'dd/MM/yyyy' }}</td>
										<!-- <td><a href="javascript:void(0)" ng-click='deleteSbuConfig(sbuConfig.id)'><i class="fa fa-trash-o" aria-hidden="true"></i></a></td> -->
									</tr>								
								</tbody>          		
		            		</table>
		            	</div>
		            </div>
		           
		            
		            <div class="row btn-row-bottom">
		            	<div class="col-xs-6">
		            		<button type="button" class="btn btn-black" gtn-click="/createSearchScheduledJob">Back</button>
		            	</div>
		            </div>
            </form>
         </div>
       </div>
     </div>
</div>