  /* Adding gvnix styles css - NO COPIAR */
  @import '../resources/styles/standard.css';
 /* Custom fixed navs */

   header.navbar+nav.navbar{
   /* margin-top: 20px;same margin-bottom .navbar */
   }
   .navbar.navbar-default.navbar-fixed-top{
   margin-top:0px;
   }
   .sidebar.navbar-fixed-top{
    margin-top: 0px;
   }
   @media (min-width: 768px) and (max-width:2500px){
.navbar.navbar-default.navbar-fixed-top .navbar-left{ margin-top:0px; }

   }
   @media (min-width: 768px) and (max-width: 998px){
       .navbar.navbar-default.navbar-fixed-top{
       margin-top:0px;
       }
       .sidebar.navbar-fixed-top{
        margin-top:0px;
       }
    }

  /* Custom navbar default: global*/

  .navbar.navbar-default{
    background-color: #676566;
    border-color: #e7e7e7;
    margin: 0;
    border-radius: 0;
  }
  .navbar.navbar-default .navbar-brand {
    color: #666;
    text-shadow: none;
    min-width: 150px;
    }
   .navbar.navbar-default .navbar-nav > li > a {
    color: #666;
    text-shadow: none;
    }
    .navbar.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
    }
    .navbar.navbar-default .navbar-nav > li > a:hover{
    color: #fff;
    }
    .navbar.navbar-default .navbar-nav > .active > a{
    color: #fff;
    background-color: #acc47f;
    }
    .navbar.navbar-default .navbar-nav > .active > a:hover{
    color: #608224;
    background-color: #acc47f;
    }
    .navbar.navbar-default .caret {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    }
    .navbar.navbar-default .caret:hover {
    border-top-color: #333;
    border-bottom-color: #333;
    }


/* Custom sidebar menu */

 /*Remove rounded coners*/

  nav.sidebar.navbar {
    border-radius: 0px;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/
  .main{
    padding: 10px 10px 0 10px;
  }

  /* .....NavBar: Icon only with coloring/layout.....*/
@media  (min-width:100px) and (max-width: 767px) {nav.sidebar.navbar { border-radius: 0px; display:none; }
.nav>li>a { padding:4px 10px;}
  }
@media (max-width: 1023px) {nav.sidebar.navbar { border-radius: 0px; display:none;}}

  /*small/medium side display*/
  @media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
      padding-right: 13px;
            min-width: 100px;
    }

    /*custom sidebar nav*/
        nav.sidebar ul.nav.navbar-nav{
            margin: 0;
        }
        nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: white;
        }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }
    /*adds background on hover*/
    nav.sidebar .navbar-nav > li:hover{
        color: #fff;
            background-color: #43600E;
    }
    /*removes border last element*/
    nav.sidebar .navbar-nav > li.last{
      border-bottom: none;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

/*O quanto o menu irá esconder á esquerda*/
    /*gives sidebar width/height*/
    nav.sidebar{
      width: 200px;
      height: 100%;
      /*margin-left: -270px;*/
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
      opacity: 0;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {

/*     Allow main to be next to Nav
    .main{
      width: calc(100% - 200px); keeps 100% minus nav size
      margin-left: 200px;
    }

    Show all nav
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    Show hidden items on nav
    nav.sidebar .forAnimate{
      opacity: 1;
    } */
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  
  
  /*---- FIM SLIDE MENU*/
  
  .nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #4879a4;
  position: fixed;
  top: 0px;
  width:240px;
  height: 101%;
  color: #e1ffff;
}
.nav-side-menu .brand { 
  background-color: #fff;
  line-height:60px;
  display: block;
  text-align:left;
  font-size: 14px;
}
.nav-side-menu .brand img{margin:11px 20px; width:120px; height:45px; }

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  /*content: "\f078";*/
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #fff;
  background-color: #f8b01d;
}
#accordion h4.accordion_title:before{}
.nav-side-menu ul a span:before,
.nav-side-menu li a span:before {
content: "\f105";
right:0px; float:right; padding:0 0px 0 0px;
position:absolute;
font-family: FontAwesome;
font-size:16px;color: #fff;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}
.nav-side-menu ul .collapsed a span:before,
.nav-side-menu li .collapsed a span:before {
transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
}


.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #4879a4;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid rgba(35,40,46,0);
  margin-left:0px;
  padding-left:10px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color:rgba(248,176,29,0.3);
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #4879a4;
  border-bottom: 1px solid rgba(80,131,174,1);
}
.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #fff;
  background-color: #f8b01d;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 1px;
  }
  
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 10px;/**/
    top: 10px;
	float:left;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left:40px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

}
body { margin: 0px; padding: 0px; }

/*user img*/
.navbar-login { width:299px; padding: 10px; padding-bottom: 0px; padding: 11px 14px; color: #000;
background-color:rgba(255,255,255,1); box-shadow: 0 4px 6px -2px #cdcdcd; margin-bottom: 6px; word-wrap: break-word;}
.navbar-login-session { padding: 10px;  padding-bottom: 0px; padding-top: 0px; }
.icon-size { font-size: 87px; }

.nav>li>a:hover, .nav>li>a:focus { text-decoration: none; background-color:rgba(238,238,238,0.02);  }
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background-color:rgba(238,238,238,0.02); border-color: #428bca;}
.navbar-login p{margin:8px 0;}

.nav>li>a { position: relative; display: block; padding:4px 10px; color:#000;}
.dropdown-menu { position: absolute ; top: 100%; left: 0; z-index: 1000;
display: none; float: left; min-width: 160px; padding:1px 0; margin: 2px 0 0; font-size: 14px; text-align: left;
list-style: none;  
-webkit-background-clip: padding-box;
background-clip: padding-box;
/*border: 1px solid #ccc !important; border: 1px solid rgba(0,0,0,.15) !important;*/ border-radius: 4px; 
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.col-lg-4 { width: 33.33333333%; }
.col-lg-8 { width: 66.66666667%; }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }

.navbar-nav.navbar-right:last-child { margin:0px 0; }

.gbii { /* background-image: url(../img/user_img.jpg); *//* */}

.gb_8a {-webkit-background-size:50px 50px;
background-size:30px 30px;
-webkit-border-radius: 50%;
/**/ border-radius: 50%; 
display: block; margin: -1px;
overflow: hidden; position: relative;
height:30px; width:30px; z-index: 0; }
a:visited {color: #609;}
.gb_T .gb_Cf { display: -webkit-flex; display: flex; }

.gb_Cf, .gb_R { margin-left: 0!important;
margin-right: 6px !important; }
.gb_Cf { white-space: nowrap; }
.gb_R { display: inline-block; -webkit-flex: 0 0 auto;
flex: 0 0 auto; -webkit-flex: 0 0 main-size; flex: 0 0 main-size;
    vertical-align: -webkit-baseline-middle;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
color: #444;
background-color:rgba(231,231,231,1);
}
.user_div{ display:block; border:solid #000 0px; float:left;}
.user_div .gb_big {-webkit-background-size:130px 130px;
background-size:130px 130px;
-webkit-border-radius: 50%;
border-radius: 50%; 
display: block; margin: -1px;
overflow: hidden; position: relative;
height:130px; width:130px; z-index: 0;
margin:0 10px 0 10px;}
.pad_10px{padding:4px 0;}
.user_div .title_tt{color:#f9b01e; font-weight:bold; font-size:22px; display:block; line-height:20px; margin-top:15px;}
.user_div .title_sub{color:#4c5e70; font-weight:bold; font-size:14px; line-height:20px;}

.navbar-nav a.link-icon{
		color: #2895F1 !important;
}
.navbar-nav a.txt-price{
		color: red !important;
}

.font_18px {
    font-size: 18px !important;
}
.dropdown-menu-user{background-color: #f0f0f0;}