/*** Default  gvNIX ***/

.flag {
	height: 11px;
	width: 16px;
}

body {
  position: relative; /* For scrollyspy */
  padding-top: 70px; /* Account for fixed navbar */
  padding-bottom: 30px;
}
	@media (min-width: 768px) and (max-width: 1020px){
		body {
		  padding-top: 120px;
		}
	}

/*
 * Main navigation
 *
 * Turn the `.navbar` at the top
 */

.navbar {
text-shadow: 0 -1px 0 rgba(0,0,0,.15);
/*background-color: #563d7c; border-color: #463265;*/
box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.navbar .navbar-collapse {
  border-color: #463265;
}
.navbar .navbar-brand {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #cdbfe3;
}
.navbar .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.navbar .navbar-toggle {
  border-color: #563d7c;
}
.navbar .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

/* Custom theme Bootstrap for gvNIX by DISID */

.navbar {/* */ background-color: #608224; border-color: #527711;}

.navbar .navbar-toggle {
	border-color: #608224;
}
.navbar .navbar-toggle:hover { /*background-color: #608224; border-color: #43600E;*/ }

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus,
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
	color: #fff;
	background-color: #43600E;
}
.navbar .navbar-nav > li > a {
color: #acc47f;
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #acc47f;
		white-space: normal;
	}
.navbar-login { width:240px !important;}
	.navbar-nav .open .dropdown-menu{
	 max-width:260px; position:absolute; background:rgba(255,255,255,0.95) !important;
	     position: absolute !important;
    display: block;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	    right: 0;
    left: auto;
	}
	.navbar-nav .open .dropdown-menu li{
   max-width: 300px;
  }
  .col-xs-3 button[data-toggle="offcanvas"]{
    margin: 15px 0 0;
  }
}

@media (min-width: 768px){
	.navbar-nav {
	float: none;
	margin: 0 100px;

	}
}

/* Custom sidebar menu */

#sidebar-wrapper li a{
	text-decoration: none;
	}
.affix#sidebar-wrapper{
	z-index: 100;
	}


/*
 * Footer
 *
 * Separated section of content at the bottom of all pages
 */

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
  .bs-footer p {
    margin-bottom: 0;
  }
}

/*
 * Alerts
 *
 */

.alert{
	/* font-size: 0.95em; */
	display: block;
}

/*
* Errors
*
*/
.errors {
    color: #b94a48;
    display: block;
}


/*
 * Forms
 *
 */

 @media (min-width: 0px) {
	.form-horizontal .control-label {
		text-align: right;
	}
}
.btn {
	margin: 5px 0;
}
.btn-group{
	margin-right:5px;
}

/*
 * Custom theme Bootstrap signin.css
 *
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/** Custom ui buttons **/


.ui-dialog-buttonset{
	width: 100%;
}

.ui-dialog-buttonset button {
	-moz-user-select: none;
	 border: 1px solid rgba(0, 0, 0, 0);
	 border-radius: 4px;
	 cursor: pointer;
	 display: inline-block;
	 font-size: 14px;
	 font-weight: normal;
	 line-height: 1.42857;
	 margin-bottom: 0;
	 padding: 6px 12px;
	 text-align: center;
	 vertical-align: middle;
	 white-space: nowrap;
	 background-color: #428BCA;
	 border-color: #357EBD;
	 color: #FFFFFF;
     display: block;
	 padding-left: 0;
 	 padding-right: 0;
	 width: 100%;
}

/** Icons **/

.input-group-addon.glyphicon {
  top: 0;
}