<div ng-init="initCreateProduct()" ng-controller="masterCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Add Product</h1>
                </div>
                <hr>
            </div>
            
            <form name="productForm" id="entity-form" class="af-entity" novalidate>
			   		
				   		<div style="display: none">
				   			<input type="hidden" ng-model="product.reqType" />
				   		</div>
				   		
				   		<div class="row btn-row">
				   			<div class="col-xs-6">
				   				<!-- <button ng-click="saveProduct('save')" class="btn btn-license">Save</button>
			            		<button ng-click="saveProduct('return')" class="btn btn-license">Save & Return</button>
			            		<button gtn-click="/createSearchProduct" class="btn btn-black">Cancel</button>
			            		 -->
			            		 
			            		<button ng-click="saveProduct('save')" class="btn btn-license">Save</button>
			            		<button ng-click="saveProduct('return')" class="btn btn-license">Save & Return</button>
			            		
			            		<span ng-if="product.reqType == 'Edit'">
			            			<button ng-click="cancelProduct()" class="btn btn-black">Cancel</button>
			            		</span>
			            		<span ng-if="product.reqType == 'New'">
			            			<button gtn-click="/createSearchProduct" class="btn btn-black">Cancel</button>
			            		</span>
			            		
			            	</div>
			            	<div class="col-xs-6 text-right">
			            		<button ng-click="productManufacturer(product.partNo)" class="btn btn-license" ng-disabled="product.reqType == 'New'">Manufacturer</button>
			            		<button ng-click="productDocument(product.partNo)" class="btn btn-license" ng-disabled="product.reqType == 'New'">Document</button>
			            		
			            	</div>
			            </div>
			   		
		                <!-- Error Messages -->
					    <div class="row ocr-error" ng-show="errors.length > 0">			
							<div class="col-xs-12">				
								<div class="alert fade in alert-danger">
									<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
									<h4>Error!</h4>
									<ul class="msg-ul">
										<li ng-repeat="error in errors track by $index">
					            			{{ error.msg }}
					            		</li>
									</ul>
								</div>
							</div>
						</div>
						      
					      <!-- Warning Messages -->
					      <div class="row ocr-warning" ng-show="warnings.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
					            <strong>Warning!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="warning in warnings track by $index">
					            		{{ warning }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
						      
					      <!-- Info Messages -->
					      <div class="row ocr-info" ng-show="infos.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
					            <strong>Information!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="info in infos track by $index">
					            		{{ info }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
					      
					      
					      
					    <div class="row">
					    	<div class="col-xs-12">
					    		<fieldset>
					    			<legend>General Info</legend>  
									    <div class="row">
									    	<label class="col-xs-2 control-label">
									    		Part No&nbsp;<span class="required">*</span>
									    	</label>
									    	<div class="col-xs-3">
									    		<input name="partNo" ng-model="product.partNo" class="form-control" ng-disabled="product.reqType == 'Edit'" ng-blur="product.partNo=product.partNo.toUpperCase();" required/>
									    	</div>
									    	
									    	<label class="col-xs-2 control-label">
							            		SBU Code
							            	</label>
							            	<div class="col-xs-3">
							            		<select ng-model="product.sbu" class="form-control " disabled="disabled">
							            			<option value="">-Select-</option>
							            			<option ng-repeat="sbu in sbuList" value="{{sbu}}"> {{ sbu }} </option>
							            		</select>
							            	</div>
									    </div>  
									    
									    <div class="row">					    
									    	<label class="col-xs-2 control-label">Description&nbsp; <span class="required">*</span></label> 
									    	<div class="col-xs-3">
									    		<textarea name="partDesc" ng-model="product.partDesc" class="form-control" rows="4" required></textarea>
									    	</div>
									    	
									    	<label class="col-xs-2 control-label">
							            		Type
							            	</label>
							            	<div class="col-xs-3">
							            		<select ng-model="product.type" class="form-control ">
							            			<option value="">-Select-</option>
												    <option value="C">Cost Per Flight Hour</option>
												    <option value="E">Encryption</option>
												    <option value="FS">Fab to Stock - Valuated</option>
												    <option value="FPN">Finished product - No Value</option>
												    <option value="FP">Finished product - Value</option>
												    <option value="G">Ground Support and Engines</option>
												    <option value="H">Hardware</option>
												    <option value="N">Non-valuated material</option>
												    <option value="O">Other</option>
												    <option value="R">Raw Materials</option>
												    <option value="F">Semi-Finished Goods</option>
												    <option value="S">Services</option>
												    <option value="W">Software</option>
												    <option value="D">TD-Software</option>
												    <option value="T">Technical Data</option>
												    <option value="Q">Test Equipment</option>
							            		</select>
							            	</div>
									    </div>
									    
									    <div class="row">
									    	<label class="col-xs-2 control-label">
									    		SKU No
									    	</label>
									    	<div class="col-xs-3">
									    		<input name="skuNo" ng-model="product.skuNo" class="form-control" />
									    	</div>
									    	
									    	<label class="col-xs-2 control-label">
									    		Material Type
									    	</label>
									    	<div class="col-xs-3">
									    		<input name="materialType" ng-model="product.materialType" class="form-control" />
									    	</div>
									    </div>  
									    
									    <div class="row">
									    	<label class="col-xs-2 control-label">
									    		Model No
									    	</label>
									    	<div class="col-xs-3">
									    		<input type="text" name="modelNo" ng-model="product.modelNo" class="form-control" />
									    	</div>
									    	
								    	</div>  
									    
									    <div class="row">
									    	<label class="col-xs-2 control-label">
									    		Unit Price
									    	</label>
									    	<div class="col-xs-3">
									    		<input type="number" name="unitPrice" ng-model="product.unitPrice" class="form-control" />
									    	</div>
									    	
									    	<label class="col-xs-2 control-label">
									    		Currency
									    	</label>
									    	<div class="col-xs-3 autosuggest">
									    		<input
				                                     type="text" name="currency" id="currency" uib-typeahead="currency as currency.description for currency in getCurrency($viewValue)"
				                                     data-toggle="tooltip" title="Currency is required"
				                                     class="form-control placeholder" ng-model="product.currency"
				                                     typeahead-template-url="currencyTmpl.html"
				                                     typeahead-editable="false" 
				                                     typeahead-min-length="0"
				                                     typeahead-on-select="onCurrencySelect($item, $model, $label, 'currency', product)" autocomplete="off"/>					    
									    	</div>
									    </div>  
									      
									    <div class="row">
									    	<label class="col-xs-2 control-label">
									    		Net Weight
									    	</label>
									    	<div class="col-xs-3">
									    		<input type="number" name="netWeight" ng-model="product.netWeight" class="form-control" />
									    	</div>
									    	
									    	<label class="col-xs-2 control-label">
									    		UOM for Price
									    	</label>
									    	<div class="col-xs-3">
									    		<input type="text" name="uomForPrice" ng-model="product.uomForPrice" class="form-control" />
									    	</div>
								    	</div>   
				    				</fieldset>
				    			</div>
				    		</div>
				    		
				    	
					    <BR />
					    <div class="row">
					    	<div class="col-xs-12">
					    		<fieldset>
					    			<legend>Classification</legend>
					    			
					    			<div class="row">
					    				<label class="col-xs-2 control-label">Export Classification</label>
					    				<div class="col-xs-3">
					    					<input type="text" name="exportClass" ng-model="product.exportClass" class="form-control" />
					    				</div>
					    			</div>
					    			
					    			<div class="row">
					    				<label class="col-xs-2 control-label">Import Classification</label>
					    				<div class="col-xs-3">
					    					<input type="text" name="importClass" ng-model="product.importClass" class="form-control" />
					    				</div>
					    			</div>
					    			
					    		</fieldset>
					    	</div>
					    </div>  
					      
					      
					    <div class="row">
					    	<div class="col-xs-12">
					    		<fieldset>
					    			<legend>Hazmat</legend>
					    			
					    			<div class="row">
					    				<label class="col-xs-2">Hazardous</label>
					    				<div class="col-xs-3"><input type="checkbox" name="hazmat" ng-change="updateHazmat()" ng-model="product.hazmat" /></div>
					    			</div>
	
									<div class="row">
					    				<label class="col-xs-2 control-label">Hazmat Code</label>
					    				<div class="col-xs-3"><input type="text" name="hazmatCode" ng-model="product.hazmatCode" class="form-control" ng-disabled="product.hazmat == false" /></div>
					    			
					    				<label class="col-xs-2 control-label">Hazmat Description</label>
					    				<div class="col-xs-3"><input type="text" name="hazmatDesc" ng-model="product.hazmatDesc" class="form-control" ng-disabled="product.hazmat == false" /></div>
					    			</div>
					    			
					    			<div class="row">
					    				<label class="col-xs-2 control-label">Flash Point Temp.</label>
					    				<div class="col-xs-3"><input type="text" name="flashPointTemp" ng-model="product.flashPointTemp" class="form-control" ng-disabled="product.hazmat == false" /></div>
					    			
					    				<label class="col-xs-2 control-label">Contact Name</label>
					    				<div class="col-xs-3"><input type="text" name="hazmatContactName" ng-model="product.hazmatContactName" class="form-control" ng-disabled="product.hazmat == false" /></div>
					    			</div>
					    			
					    			<div class="row">
					    				<label class="col-xs-2 control-label">Phone</label>
					    				<div class="col-xs-3"><input type="text" name="hazmatContactPhone" ng-model="product.hazmatContactPhone" class="form-control" ng-disabled="product.hazmat == false" /></div>
					    			
					    			</div>
					    			
					    		</fieldset>
					    	</div>
					    </div>  
					      
					      
				   		<div class="row btn-row-bottom">
			            	<div class="col-xs-6">
			            		<button ng-click="saveProduct('save')" class="btn btn-license">Save</button>
			            		<button ng-click="saveProduct('return')" class="btn btn-license">Save & Return</button>
			            		<button gtn-click="/createSearchProduct" class="btn btn-black">Cancel</button>
			            		
			            	</div>
			            </div>
               </form>   
         </div>
       </div>
     </div>
</div>