<div ng-init="initCreateExporter()" ng-controller="masterCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Add Exporter</h1>
                </div>
                <hr>
				<!-- Contact login form -->
				<!--<form id="registration-form" name="registration-form" class="registration-form" action="#" method="post"> -->
		        <form name="exporterForm" id="entity-form" class="af-entity" novalidate>
			   		
			   		<div style="display: none">
			   			<input type="hidden" ng-model="exporter.type" />
			   		</div>
			   		
			   		<div class="row btn-row">
		            	<div class="col-xs-6">
		            		<button ng-click="saveExporter('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveExporter('return')" class="btn btn-license">Save & Return</button>
		            		
		            		<span ng-if="exporter.type == 'Edit'">
		            			<button ng-click="cancelExporter()" class="btn btn-black">Cancel</button>
		            		</span>
		            		<span ng-if="exporter.type == 'New'">
		            			<button gtn-click="/createSearchExporter" class="btn btn-black">Cancel</button>
		            		</span>
		            		
		            		
		            		<button class="btn btn-license" ng-click="getDplReasons('D', 'exporter')" ng-show="exporter.status != 'T'" ng-disabled="exporter.status == 'D'">Deny</button>
		            		<button class="btn btn-license" ng-click="getDplReasons('O', 'exporter')" ng-show="exporter.status != 'T'" ng-disabled="exporter.status == 'O'">Override</button>
		            		<button class="btn btn-license" ng-click="getDplReasons('A', 'exporter')" ng-show="exporter.status != 'T'" ng-disabled="exporter.status == 'A'">Approve</button>
		            		
		            	</div>
		            </div>
		            
		            
		                <!-- Error Messages -->
					    <div class="row ocr-error" ng-show="errors.length > 0">			
							<div class="col-xs-12">				
								<div class="alert fade in alert-danger">
									<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
									<h4>Error!</h4>
									<ul class="msg-ul">
										<li ng-repeat="error in errors track by $index">
					            			{{ error.msg }}
					            		</li>
									</ul>
								</div>
							</div>
						</div>
						      
					      <!-- Warning Messages -->
					      <div class="row ocr-warning" ng-show="warnings.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
					            <strong>Warning!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="warning in warnings track by $index">
					            		{{ warning }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
						      
					      <!-- Info Messages -->
					      <div class="row ocr-info" ng-show="infos.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
					            <strong>Information!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="info in infos track by $index">
					            		{{ info }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
		            
		            <!-- <div class="row">
		            	<label class="col-xs-2 control-label">
		            		SBU Code
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="exporter.sbu" class="form-control " readonly>
		            			<option value="">-Select-</option>
		            		</select>
		            	</div>
		            	
		            </div> -->
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			<legend>Used For</legend>
		            			<input type="checkbox" class="" ng-model="exporter.dos" /> DOS <input type="checkbox" class="" ng-model="exporter.doc" /> DOC <input type="checkbox" class="" ng-model="exporter.aes" /> AES
		            			
		            		</fieldset>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			<legend>Exporter Details</legend>
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Exporter Code&nbsp;<span class="required">*</span>
		            				</label>
		            				<div class="col-xs-3">
					            		 <input name="exporterCode" ng-model="exporter.exporterCode" ng-disabled="exporter.type == 'Edit'" class="form-control" required/>
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					Status
		            				</label>
		            				<div class="col-xs-3">
					            		 <select ng-model="exporter.status" class="form-control " disabled="disabled">
					            			<option value="">-Select-</option>
										    <option value="T" selected>To Be Screened</option>
										    <option value="A">Approved</option>
										    <option value="H">On Hold</option>
										    <option value="D">Denied</option>
										    <option value="O">Overridden</option>
					            		</select>
					            	</div>
					            	
					            	<div class="col-xs-2">
					            		<span ng-show="exporter.status != 'T'">
					            			<a href="javascript:void(0)" ng-click="wlsAuditReasonHistory(exporter.exporterCode, 'EXPORTER')">Reason History</a> &nbsp;|&nbsp; <a href="javascript:void(0)" ng-click="wlsAuditHistory(exporter.exporterCode, 'EXPORTER')">Audit</a>
					            		</span>
					            	</div>
					            	
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Exporter/Department
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="exporter.department" class="form-control" />
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					City
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="exporter.city" class="form-control" />
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Address
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="exporter.addrLine1" class="form-control" />
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					State
		            				</label>
		            				<div class="col-xs-3 autosuggest">
					            		 <!-- <input ng-model="exporter.stateName" class="form-control" />	 -->
					            		 
					            		 <input
                                                type="text" name="stateName" id="stateName" uib-typeahead="state as state.stateCode for state in getStates($viewValue, exporter.country)"
                                                data-toggle="tooltip" title="State is required"
                                                class="form-control placeholder" ng-model="exporter.stateName"
                                                typeahead-template-url="stateTmpl.html"
                                                typeahead-editable="false" 
                                                typeahead-min-length="0" 
                                                typeahead-on-select="selectStateEvent($item, $model, $label, 'stateName', 'state', exporter)" autocomplete="off" />
				            		 
					            		 				            		
					            	</div>
					            	<div class="col-xs-1">
					            		 <label class="control-label">{{ exporter.state }}</label>
					            		 <input ng-model="exporter.state" ng-show="false" />
					            	</div>
					            	
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="exporter.addrLine2" class="form-control" />
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					Country
		            				</label>
		            				<div class="col-xs-3 autosuggest">
					            		 <input type="text" name="countryName" id="countryName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
	                                                data-toggle="tooltip" title="Country is required"
	                                                class="form-control placeholder left-inp" ng-model="exporter.countryName"
	                                                typeahead-template-url="countryTmpl.html"
	                                                typeahead-editable="false" 
	                                                typeahead-min-length="0" ng-blur="clearCountry('country', 'stateName', 'state', exporter.countryName, exporter)"
	                                                typeahead-on-select="onCountrySelectCode($item, $model, $label, 'countryName', 'country')" autocomplete="off"/>
									      
									      <input name="country" ng-model="exporter.country" class="form-control right-inp" readonly="true"/>
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Telephone
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="exporter.telephone" class="form-control" />
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					Zip/Post Code
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="exporter.zipCode" class="form-control" />
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Email
		            				</label>
		            				<div class="col-xs-3" style="padding-top: 5px;">
					            		 <input name="email" ng-model="exporter.email" class="form-control" />
					            	</div>
		            	
		            				<label class="col-xs-2 control-label">
		            					Fax
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="exporter.fax" class="form-control" />
					            	</div>
		            			</div>
		            			
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Active
		            				</label>
		            				<div class="col-xs-3" style="padding-top: 5px;">
					            		 <input ng-model="exporter.active" class="" type="checkbox" checked="checked"/>
					            	</div>
		            				
					            	<label class="col-xs-2 control-label">
					            		SBU Code
					            	</label>
					            	<div class="col-xs-3">
					            		<select ng-model="exporter.sbu" class="form-control " disabled="disabled">
					            			<option value="">-Select-</option>
					            			<option ng-repeat="sbu in sbuList" value="{{sbu}}"> {{ sbu }} </option>
					            		</select>
					            	</div>
						            	
		            			
		            			</div>
		            			
		            			
		            		</fieldset>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			<legend>AES Details</legend>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Shipper Authorization Symbol
		            				</label>
		            				<div class="col-xs-2">
					            		 <input type="text" ng-model="exporter.shipperAuthSymbol" class="form-control" />
					            	</div>
					            	
					            	<label class="col-xs-2 control-label">
		            					USPPI ID Type
		            				</label>
		            				<div class="col-xs-2">
					            		 <select ng-model="exporter.usppIdType" class="form-control ">
					            		 	<option value="">-Select-</option>
										    <option value="D">DUNS</option>
										    <option value="E">EIN</option>
										    <option value="T">Foreign</option>
					            		 </select>
					            	</div>
					            	
					            	<label class="col-xs-2 control-label">
		            					USPPI ID
		            				</label>
		            				<div class="col-xs-2">
					            		 <input type="text" ng-model="exporter.usppId" class="form-control" />
					            	</div>
		            				
		            			</div>
		            			
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Transmitter Id
		            				</label>
		            				<div class="col-xs-2">
					            		 <input type="text" ng-model="exporter.transmitterId" class="form-control" />
					            	</div>
					            	
					            	<label class="col-xs-2 control-label">
		            					Filer ID Type
		            				</label>
		            				<div class="col-xs-2">
					            		 <select ng-model="exporter.filerTypeId" class="form-control ">
					            		 	<option value="">-Select-</option>
										    <option value="D">DUNS</option>
										    <option value="E">EIN</option>
										    <option value="T">Foreign</option>
					            		 </select>
					            	</div>
					            	
					            	<label class="col-xs-2 control-label">
		            					Filer ID
		            				</label>
		            				<div class="col-xs-2">
					            		 <input type="text" ng-model="exporter.filerId" class="form-control" />
					            	</div>		            				
		            			</div>
		            			
		            		</fieldset>
		            	</div>
		            </div>
		            
		            
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			<legend>DOC Registration</legend>
		            			
		            			<div class="row">
		            				<label class="col-xs-3 control-label">
		            					Registration Date
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="date" ng-model="exporter.docRegistrationDate" class="form-control" />
					            	</div>
					            	
					            	<label class="col-xs-3 control-label">
		            					Registration Expiry Date
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="date" ng-model="exporter.docRegistrationExpDate" class="form-control" />
					            	</div>
					            	
		            			</div>
								
								<div class="row">
									<label class="col-xs-3 control-label">
		            					Facility Registration Number
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="text" ng-model="exporter.docFacilityRegNo" class="form-control" />
					            	</div>
								</div>
										            			
		            		</fieldset>
		            	</div>
		            </div>
		            
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			<legend>DOS Registration</legend>
		            			
		            			<div class="row">
		            				<label class="col-xs-3 control-label">
		            					Registration Date
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="date" ng-model="exporter.dosRegistrationDate" class="form-control" />
					            	</div>
					            	
					            	<label class="col-xs-3 control-label">
		            					Registration Expiry Date
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="date" ng-model="exporter.dosRegistrationExpDate" class="form-control" />
					            	</div>
					            	
		            			</div>
								
								<div class="row">
									<label class="col-xs-3 control-label">
		            					Agreement Expiry Date
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="date" ng-model="exporter.dosAgreementExpDate" class="form-control" />
					            	</div>
					            	
					            	<label class="col-xs-3 control-label">
		            					Registration Number
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="text" ng-model="exporter.dosRegistrationNo" class="form-control" />
					            	</div>
								</div>
										            			
		            		</fieldset>
		            	</div>
		            </div>
		            
		            	            
		            <div class="row btn-row-bottom">
		            	<div class="col-xs-6">
		            		<button ng-click="saveExporter('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveExporter('return')" class="btn btn-license">Save & Return</button>
		            		<span ng-if="exporter.type == 'Edit'">
		            			<button ng-click="cancelExporter()" class="btn btn-black">Cancel</button>
		            		</span>
		            		<span ng-if="exporter.type == 'New'">
		            			<button gtn-click="/createSearchExporter" class="btn btn-black">Cancel</button>
		            		</span>
		            	</div>
		            </div>
			   		
		        </form> 
                <!-- /Contact entity form -->
             </div>                                
		</div>
      </div>
	</div>
</div>