<div ng-init="initCreateConsignee()" ng-controller="masterCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Add Consignee</h1>
                </div>
                <hr>
				<!-- Contact login form -->
				<!--<form id="registration-form" name="registration-form" class="registration-form" action="#" method="post"> -->
		        <form name="consigneeForm" id="entity-form" class="af-entity" novalidate>
			   		
			   		<div style="display: none">
			   			<input type="hidden" ng-model="consignee.reqType" />
			   		</div>
			   		
			   		<div class="row btn-row">
		            	<div class="col-xs-6">
		            		<button ng-click="saveConsignee('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveConsignee('return')" class="btn btn-license">Save & Return</button>
		            		
		            		
		            		<span ng-if="consignee.reqType == 'Edit'">
		            			<button ng-click="cancelConsignee()" class="btn btn-black">Cancel</button>
		            		</span>
		            		<span ng-if="consignee.reqType == 'New'">
		            			<button gtn-click="/createSearchConsignee" class="btn btn-black">Cancel</button>
		            		</span>
		            		
		            		<button class="btn btn-license" ng-click="getDplReasons('D', 'consignee')" ng-show="consignee.status != 'T'" ng-disabled="consignee.status == 'D'">Deny</button>
		            		<button class="btn btn-license" ng-click="getDplReasons('O', 'consignee')" ng-show="consignee.status != 'T'" ng-disabled="consignee.status == 'O'">Override</button>
		            		<button class="btn btn-license" ng-click="getDplReasons('A', 'consignee')" ng-show="consignee.status != 'T'" ng-disabled="consignee.status == 'A'">Approve</button>
		            		
		            	</div>
		            </div>
		            
		            
		                <!-- Error Messages -->
					    <div class="row ocr-error" ng-show="errors.length > 0">			
							<div class="col-xs-12">				
								<div class="alert fade in alert-danger">
									<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
									<h4>Error!</h4>
									<ul class="msg-ul">
										<li ng-repeat="error in errors track by $index">
					            			{{ error.msg }}
					            		</li>
									</ul>
								</div>
							</div>
						</div>
						      
					      <!-- Warning Messages -->
					      <div class="row ocr-warning" ng-show="warnings.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
					            <strong>Warning!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="warning in warnings track by $index">
					            		{{ warning }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
						      
					      <!-- Info Messages -->
					      <div class="row ocr-info" ng-show="infos.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
					            <strong>Information!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="info in infos track by $index">
					            		{{ info }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
		            
		            <!-- <div class="row">
		            	<label class="col-xs-2 control-label">
		            		SBU Code
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="consignee.sbu" class="form-control " readonly>
		            			<option value="">-Select-</option>
		            		</select>
		            	</div>
		            	
		            </div> -->
		            
		            <!-- <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			<legend>Used For</legend>
		            			<input type="checkbox" class="" ng-model="consignee.useForDos" /> DOS <input type="checkbox" class="" ng-model="consignee.useForDoc" /> DOC <input type="checkbox" class="" ng-model="consignee.useForAes" /> AES	            			
		            		</fieldset>
		            	</div>
		            </div> -->
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Consignee Code&nbsp;<span class="required">*</span>
		            				</label>
		            				<div class="col-xs-3">
					            		 <input name="consigneeId" ng-model="consignee.consigneeId" ng-disabled="consignee.reqType == 'Edit'" class="form-control" required/>
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					Status
		            				</label>
		            				<div class="col-xs-3">
					            		 <select ng-model="consignee.status" class="form-control " disabled="disabled">
					            			<option value="">-Select-</option>
										    <option value="T" selected>To Be Screened</option>
										    <option value="A">Approved</option>
										    <option value="H">On Hold</option>
										    <option value="D">Denied</option>
										    <option value="O">Overridden</option>
					            		</select>
					            	</div>
					            	
					            	<div class="col-xs-2">
					            		<span ng-show="consignee.status != 'T'">
					            			<a href="javascript:void(0)" ng-click="wlsAuditReasonHistory(consignee.consigneeId, 'CONSIGNEE')">Reason History</a> &nbsp;|&nbsp; <a href="javascript:void(0)" ng-click="wlsAuditHistory(consignee.consigneeId, 'CONSIGNEE')">Audit</a>
					            		</span>
					            	</div>
					            	
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Name&nbsp;<span class="required">*</span>
		            				</label>
		            				<div class="col-xs-3">
					            		 <input name="consigneeName" ng-model="consignee.consigneeName" class="form-control" required/>
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					City
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="consignee.consigneeCity" class="form-control" />
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Address
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="consignee.consigneeAddr1" class="form-control" />
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					State
		            				</label>
		            				<div class="col-xs-3 autosuggest">
					            		 <!-- <input ng-model="consignee.consigneeState" class="form-control" />	 -->
					            		 
					            		 <input
                                                type="text" name="consigneeStateName" id="consigneeStateName" uib-typeahead="state as state.stateCode for state in getStates($viewValue, consignee.consigneeCountry)"
                                                data-toggle="tooltip" title="State is required"
                                                class="form-control placeholder" ng-model="consignee.consigneeStateName"
                                                typeahead-template-url="stateTmpl.html"
                                                typeahead-editable="false" 
                                                typeahead-min-length="0" 
                                                typeahead-on-select="selectStateEvent($item, $model, $label, 'consigneeStateName', 'consigneeState', consignee)" autocomplete="off" />
				            		 
					            		 				            		
					            	</div>
					            	<div class="col-xs-1">
					            		 <label class="control-label">{{ consignee.consigneeState }}</label>
					            		 <input ng-model="consignee.consigneeState" ng-show="false" />
					            	</div>
		            				
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="consignee.consigneeAddr2" class="form-control" />
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					Country
		            				</label>
		            				<div class="col-xs-3 autosuggest">
					            		 <input type="text" name="consigneeCountryName" id="consigneeCountryName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
	                                                data-toggle="tooltip" title="Country is required"
	                                                class="form-control placeholder left-inp" ng-model="consignee.consigneeCountryName"
	                                                typeahead-template-url="countryTmpl.html"
	                                                typeahead-editable="false" 
	                                                typeahead-min-length="0" ng-blur="clearCountry('consigneeCountry', 'consigneeStateName', 'consigneeState', consignee.consigneeCountryName, consignee)"
	                                                typeahead-on-select="selectCountryEvent($item, $model, $label, 'consigneeCountryName', 'consigneeCountry', consignee)" autocomplete="off"/>
									      
									      <input name="consigneeCountry" ng-model="consignee.consigneeCountry" class="form-control right-inp" readonly="true"/>
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">
		            					Telephone
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="consignee.phone" class="form-control" />
					            	</div>
		            			
		            				<label class="col-xs-2 control-label">
		            					Zip/Post Code
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="consignee.zip" class="form-control" />
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label checkbox-label">
		            					Active
		            				</label>
		            				<div class="col-xs-3" style="padding-top: 5px;">
					            		 <input ng-model="consignee.active" class="" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" />
					            	</div>
		            	
		            				<label class="col-xs-2 control-label">
		            					Fax
		            				</label>
		            				<div class="col-xs-3">
					            		 <input ng-model="consignee.fax" class="form-control" />
					            	</div>
		            			</div>
		            			
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label checkbox-label">
		            					Used For
		            				</label>
		            				<div class="col-xs-3" style="padding-top: 5px;">
					            		 <input type="checkbox" class="" ng-model="consignee.useForDos" ng-true-value="'1'" ng-false-value="'0'" /> DOS <input type="checkbox" class="" ng-model="consignee.useForDoc" ng-true-value="'1'" ng-false-value="'0'" /> DOC <input type="checkbox" class="" ng-model="consignee.useForAes" ng-true-value="'1'" ng-false-value="'0'" /> AES
					            	</div>
		            				
		            				<label class="col-xs-2 control-label">
		            					Email
		            				</label>
		            				<div class="col-xs-3">
					            		 <input type="email" name="email" ng-model="consignee.email" class="form-control" />
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<div class="col-xs-5"></div>
		            				<label class="col-xs-2 control-label">
					            		SBU Code
					            	</label>
					            	<div class="col-xs-3">
					            		<select ng-model="consignee.sbuCode" class="form-control " disabled="disabled">
					            			<option value="">-Select-</option>
					            			<option ng-repeat="sbu in sbuList" value="{{sbu}}"> {{ sbu }} </option>
					            		</select>
					            	</div>
		            			</div>
		            		</fieldset>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<div class="col-xs-12">
		            		<fieldset>
		            			<legend>Additional Information</legend>
		            			
		            			<div class="row">
		            				<label class="col-xs-3 control-label">Assurance Given</label>
		            				<div class="col-xs-2" style="left: -15px">
		            					<input type="radio" ng-model="consignee.assurance" name="assurance" class="" /> Yes <input type="radio" ng-model="consignee.assurance" name="assurance" class="" /> No
		            				</div>
		            				
		            				<label class="col-xs-2 control-label">
					            		Consignee Type For AES
					            	</label>
					            	<div class="col-xs-3">
					            		<select ng-model="consignee.type" class="form-control">
					            			<option value="">Select</option>
					            			<option value="D">Direct Consumer</option>
										    <option value="G">Government Entity</option>
										    <option value="R">Reseller</option>
										    <option value="O">Other/Unknown</option>
					            		</select>
					            	</div>
		            			</div>
		            			
		            			<div class="row" style="margin-bottom: 5px;">
			            			<label class="col-xs-3 control-label">Military End User/Govt. End User?</label>
			            			<div class="col-xs-2" style="left: -15px">
			            				<input type="radio" ng-model="consignee.meuser" name="meuser" class="" /> Yes <input type="radio" ng-model="consignee.meuser" name="meuser" class="" /> No
			            				
			            				<!-- <md-radio-group ng-model="consignee.meuser">
									      <md-radio-button value="Y">Yes</md-radio-button>
									      <md-radio-button value="N"> No </md-radio-button>							
									    </md-radio-group> -->
    
			            				<!-- <span><i class="fa fa-trash-o" aria-hidden="true"></i></span> -->
			            			</div>
				            	</div>
				            	
				            	<div class="row">
		            				<label class="col-xs-2 control-label">Intermediate Consignee</label>
		            				<div class="col-xs-3">
		            					<input ng-model="consignee.intermediateConsigneeCode" class="form-control" />
		            				</div>
		            				
		            				<label class="col-xs-2 control-label">
					            		Type Of Consignee
					            	</label>
					            	<div class="col-xs-3">
					            		<select ng-model="consignee.typeOfConsignee" class="form-control">
					            			<option value="">Select</option>
					            			<option value="OE">Customer - OE</option>
										    <option value="AR">Customer - AR Distributor</option>
										    <option value="AG">Vendor - Agent (ie. Customs, travel, permit)</option>
										    <option value="CN">Vendor - Consultant (ie. Legal, tax, finance)</option>
										    <option value="DM">Vendor - Direct Materials</option>
										    <option value="IM">Vendor - Indirect Materials</option>
										    <option value="OS">Other - Services</option>
					            		</select>
					            	</div>
		            			</div>
		            			
		            			
		            			<div class="row">
		            				<label class="col-xs-2 control-label">Freight Forwarder Code</label>
		            				<div class="col-xs-3">
		            					<input ng-model="consignee.ffCode" class="form-control" />
		            				</div>
		            				
		            				<label class="col-xs-2">
					            		Is consignee fully or partially owned by government?
					            	</label>
					            	<div class="col-xs-3">
					            		<select ng-model="consignee.ownedByGovt" class="form-control">
					            			<option value="">Select</option>
					            			<option value="Y">Yes</option>
										    <option value="N">No</option>										    
					            		</select>
					            	</div>
		            			</div>
		            			
		            			<div class="row">
		            				<label class="col-xs-2">Aviation, Military or Nuclear end-use?</label>
		            				<div class="col-xs-3">
					            		<select ng-model="consignee.aviationMilNucEndUse" class="form-control">
					            			<option value="">Select</option>
					            			<option value="A">Aviation</option>
										    <option value="N">Nuclear</option>
										    <option value="M">Military</option>								    
					            		</select>
					            	</div>
		            				
		            				<label class="col-xs-2">
					            		Organization Contact for this consignee
					            	</label>
					            	<div class="col-xs-3">
					            		<input ng-model="consignee.contact" class="form-control" />
					            	</div>
		            			</div>
		            			
				            	
				            	<div class="row">
				            		<label class="col-xs-2">Remarks</label>
				            		<div class="col-xs-3">
				            			<textarea ng-model="consignee.remarks" class="form-control" rows="5"></textarea>
				            		</div>
				            	</div>
		            		</fieldset>
		            	</div>		            
		            </div>
		            		            
		            	            
		            <div class="row btn-row-bottom">
		            	<div class="col-xs-6">
		            		<button ng-click="saveConsignee('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveConsignee('return')" class="btn btn-license">Save & Return</button>
		            		
		            		<span ng-if="consignee.reqType == 'Edit'">
		            			<button ng-click="cancelConsignee()" class="btn btn-black">Cancel</button>
		            		</span>
		            		<span ng-if="consignee.reqType == 'New'">
		            			<button gtn-click="/createSearchConsignee" class="btn btn-black">Cancel</button>
		            		</span>
		            		
		            		<!-- <button gtn-click="/createSearchConsignee" class="btn btn-black">Cancel</button> -->
		            	</div>
		            </div>
			   		
		        </form> 
                <!-- /Contact entity form -->
             </div>                                
		</div>
      </div>
	</div>
</div>