<div ng-init="initCreateProductManufacture()" ng-controller="masterCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Add Product Manufacture</h1>
                </div>
                <hr>
				<!-- Contact login form -->
				<!--<form id="registration-form" name="registration-form" class="registration-form" action="#" method="post"> -->
		        <form name="productManufactureForm" id="entity-form" class="af-entity" novalidate>
			   		
			   		<!-- <div style="display: none">
			   			<input type="hidden" ng-model="product.partNo" />
			   		</div> -->
			   		
			   		<!-- <div class="row btn-row">
		            	<div class="col-xs-6">
		            		<button ng-click="saveExporter('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveExporter('return')" class="btn btn-license">Save & Return</button>
		            		<button gtn-click="/createSearchExporter" class="btn btn-black">Cancel</button>
		            		
		            	</div>
		            </div> -->
		            
		            	<div style="display: none">
				   			<input type="hidden" ng-model="pm.reqType" />
				   		</div>
		                <!-- Error Messages -->
					    <div class="row ocr-error" ng-show="errors.length > 0">			
							<div class="col-xs-12">				
								<div class="alert fade in alert-danger">
									<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
									<h4>Error!</h4>
									<ul class="msg-ul">
										<li ng-repeat="error in errors track by $index">
					            			{{ error.msg }}
					            		</li>
									</ul>
								</div>
							</div>
						</div>
						      
					      <!-- Warning Messages -->
					      <div class="row ocr-warning" ng-show="warnings.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
					            <strong>Warning!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="warning in warnings track by $index">
					            		{{ warning }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
						      
					      <!-- Info Messages -->
					      <div class="row ocr-info" ng-show="infos.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
					            <strong>Information!</strong>
					            <ul class="msg-ul">
					            	<li ng-repeat="info in infos track by $index">
					            		{{ info }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>
		            
		            <!-- <div class="row">
		            	<label class="col-xs-2 control-label">
		            		SBU Code
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="exporter.sbu" class="form-control " readonly>
		            			<option value="">-Select-</option>
		            		</select>
		            	</div>
		            	
		            </div> -->
		            
           			<div class="row">
           				<label class="col-xs-2 control-label">
           					Product ID&nbsp;<span class="required">*</span>
           				</label>
           				<div class="col-xs-3">
		            		 <input name="partNo" ng-model="pm.partNo" class="form-control" disabled="disabled" required/>
		            	</div>
           			
		            	<label class="col-xs-2 control-label">
           					Item No&nbsp;<span class="required">*</span>
           				</label>
           				<div class="col-xs-3">
		            		 <input name="itemNo" ng-model="pm.itemNo" class="form-control" disabled="disabled" required/>
		            	</div>
		            	
           			</div>
           			
           			<div class="row">
           				<label class="col-xs-2 control-label">
           					Manufacture ID&nbsp;<span class="required">*</span>
           				</label>
           				<div class="col-xs-3">
		            		 <input name="manufactureId" ng-model="pm.manufactureId" class="form-control" required/>
		            	</div>
           			
           				<label class="col-xs-2 control-label">
           					Manufacture Name
           				</label>
           				<div class="col-xs-3">
		            		 <input ng-model="pm.name" class="form-control" />
		            	</div>
           			</div>
           			
           			<div class="row">
           				<label class="col-xs-2 control-label">
           					Manuf. Part No
           				</label>
           				<div class="col-xs-3">
		            		 <input ng-model="pm.manufPartNo" class="form-control" />
		            	</div>
		            	
           				<label class="col-xs-2 control-label">
           					Model No
           				</label>
           				<div class="col-xs-3">
		            		 <input ng-model="pm.modelNo" class="form-control" />
		            	</div>
           			
           				
           			</div>
           			
           			<div class="row">
           				<label class="col-xs-2 control-label">
           					Contact Name
           				</label>
           				<div class="col-xs-3">
		            		 <input ng-model="pm.contactName" class="form-control" />
		            	</div>
           			
           				<label class="col-xs-2 control-label">
           					Country
           				</label>
           				<div class="col-xs-3 autosuggest">
		            		 <input type="text" name="countryName" id="countryName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
                                              data-toggle="tooltip" title="Country is required"
                                              class="form-control placeholder left-inp" ng-model="pm.cooName"
                                              typeahead-template-url="countryTmpl.html"
                                              typeahead-editable="false" 
                                              typeahead-min-length="0"
                                              typeahead-on-select="selectCountryEvent($item, $model, $label, 'cooName', 'cooCode', pm)" autocomplete="off"/>
						      
						      <input name="cooCode" ng-model="pm.cooCode" class="form-control right-inp" readonly="true"/>
		            	</div>
           			</div>
           			
           			<div class="row">
           				
           				<label class="col-xs-2 control-label">
           					Email
           				</label>
           				<div class="col-xs-3">
		            		 <input type="email" name="email" ng-model="pm.email" class="form-control" />
		            	</div>
		            	
           				<label class="col-xs-2 control-label">
           					Telephone
           				</label>
           				<div class="col-xs-3">
		            		 <input ng-model="pm.telephone" class="form-control" />
		            	</div>
           			
           			</div>
           			
           			<div class="row">
           				<label class="col-xs-2 control-label">
           					Assist Value
           				</label>
           				<div class="col-xs-3">
		            		 <input type="number" name="assistValue" step="any" ng-model="pm.assistValue" class="form-control" />
		            	</div>
           	
           				<label class="col-xs-2 control-label">
           					Assist Balance
           				</label>
           				<div class="col-xs-3">
		            		 <input type="number" name="assistBalance" step="any" ng-model="pm.assistBalance" class="form-control" />
		            	</div>
           			</div>
           			           
		            <div class="row btn-row-bottom">
		            	<div class="col-xs-6">
		            		<button ng-click="saveProductManufacture('save')" class="btn btn-license">Save</button>
		            		<button ng-click="saveProductManufacture('return')" class="btn btn-license">Save & Return</button>
		            		<button ng-click="productManufacturer(product.partNo)" class="btn btn-black">Cancel</button>
		            	</div>
		            </div>
			   		
		        </form> 
                <!-- /Contact entity form -->
             </div>                                
		</div>
      </div>
	</div>
</div>