<div ng-init="initDplAuditPopup()" ng-controller="masterCtlr">
	<div class="modal-dialog modal-lg">	
		<div class="modal-content {{gtnClass}}">
			<div class="modal-header">
		            <h5 class="modal-title" id="modal-title">DPL Status History for {{ type }} : {{ code }}</h5>
		        </div>
		        <div class="modal-body" id="modal-body">
		            <table class="table table-bordered table-hover table-condensed" style="font-size: 12px">
		            	
		            	<thead>
		            		<tr style="background-color: #ccc">
		            			<th>Sr.</th>
		            			<th>Screened On</th>
		            			<th>Screened By</th>
		            			<th>DPL Audit No</th>
		            			<th>Entity Name</th>
		            			<th>Old Status</th>   
		            			<th>New Status</th>
		            		</tr>
		            	</thead>
		            	
		            	<tbody>
		            		
		            		<tr ng-repeat="wplAudit in wplAudits track by $index">
		            			<td>{{ $index + 1 }}</td>
		            			<td>{{wplAudit.createdOn | date:'dd/MM/yyyy'}}</td>
		            			<td>{{wplAudit.createdBy}}</td>
		            			<td>{{wplAudit.dplAuditNo}}</td>
		            			<td>{{wplAudit.partyName}}</td>
		            			<td>{{wplAudit.oldStatus}}</td>
		            			<td>{{wplAudit.newStatus}}</td>
		            		</tr>
		            	
		            	</tbody>
		            	
		            
		            </table>
		        </div>
		        <div class="modal-footer">
		            <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
		            <button class="btn btn-black" type="button" ng-click="cancel()">Close</button>
		        </div>
		
		</div>
	</div>
</div>	