<div ng-init="initSearchExporter()" ng-controller="masterCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Search Exporter</h1>
                </div>
                <hr>
                
                <!-- Error Messages -->
			    <div class="row ocr-error" ng-show="errors.length > 0">			
					<div class="col-xs-12">				
						<div class="alert fade in alert-danger">
							<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
							<h4>Error!</h4>
							<ul class="msg-ul">
								<li ng-repeat="error in errors track by $index">
			            			{{ error.msg }}
			            		</li>
							</ul>
						</div>
					</div>
				</div>
				      
			      <!-- Warning Messages -->
			      <div class="row ocr-warning" ng-show="warnings.length > 0">
			        <div class="col-xs-12">
			          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
			            <strong>Warning!</strong>
			            <ul class="msg-ul">
			            	<li ng-repeat="warning in warnings track by $index">
			            		{{ warning }}
			            	</li>
			            </ul>
			          </div>
			        </div>
			      </div>
				      
			      <!-- Info Messages -->
			      <div class="row ocr-info" ng-show="infos.length > 0">
			        <div class="col-xs-12">
			          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
			            <strong>Information!</strong>
			            <ul class="msg-ul">
			            	<li ng-repeat="info in infos track by $index">
			            		{{ info }}
			            	</li>
			            </ul>
			          </div>
			        </div>
			      </div>
                
				<!-- Contact login form -->
				<!--<form id="registration-form" name="registration-form" class="registration-form" action="#" method="post"> -->
		        <form name="entity-form" id="entity-form" class="af-entity" novalidate>
			   		
			   		<!-- <div class="row btn-row">
		            	<div class="col-xs-6">
		            		<button ng-click="searchExporter()" class="btn btn-license">Search</button>
		            		<button ng-click="editExporter(exporter.expCode, 'New')" class="btn btn-license">Add Exporter</button>
		            		<button type="reset" class="btn btn-black">Reset</button>
		            	</div>
		            </div> -->
		            
		            <div class="row">
		            		
		            	<label class="col-xs-2 control-label">
		            		Exporter code
		            	</label>
		            	<div class="col-xs-3">
		            		 <input ng-model="exporter.exporterCode" class="form-control" />
		            	</div>
		            
		            	<label class="col-xs-2 control-label">
		            		SBU Code
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="exporter.sbu" class="form-control ">
		            			<option value="">Select</option>
		            			<option ng-repeat="sbu in sbuList" value="{{sbu}}"> {{ sbu }} </option>
		            		</select>
		            	</div>
		            
		            </div>
		            
		            <div class="row">
		            	<label class="col-xs-2 control-label">
		            		Status
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="exporter.status" class="form-control ">
		            			<option value="">-Select-</option>
							    <option value="T">To Be Screened</option>
							    <option value="A">Approved</option>
							    <option value="H">On Hold</option>
							    <option value="D">Denied</option>
							    <option value="O">Overridden</option>
		            		</select>
		            	</div>
		            	
		            	<label class="col-xs-2 control-label">
		            		Exporter/Department
		            	</label>
		            	<div class="col-xs-3">
		            		 <input ng-model="exporter.department" class="form-control" />
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="col-xs-2 control-label">
		            		Address 1
		            	</label>
		            	<div class="col-xs-3">
		            		 <input ng-model="exporter.addrLine1" class="form-control" />
		            	</div>
		            	
		            	<label class="col-xs-2 control-label">
		            		City
		            	</label>
		            	<div class="col-xs-3">
		            		 <input ng-model="exporter.city" class="form-control" />
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="col-xs-2 control-label">
		            		Address 2
		            	</label>
		            	<div class="col-xs-3">
		            		 <input ng-model="exporter.addrLine2" class="form-control" />
		            	</div>
		            	
		            	<label class="col-xs-2 control-label">
		            		State
		            	</label>
		            	<div class="col-xs-3 autosuggest">
		            		 <!-- <input ng-model="exporter.state" class="form-control" /> -->
		            		 
		            		 <input
                                   type="text" name="stateName" id="stateName" uib-typeahead="state as state.stateCode for state in getStates($viewValue, exporter.country)"
                                   data-toggle="tooltip" title="State is required"
                                   class="form-control placeholder" ng-model="exporter.stateName"
                                   typeahead-template-url="stateTmpl.html"
                                   typeahead-editable="false" 
                                   typeahead-min-length="0" 
                                   typeahead-on-select="selectStateEvent($item, $model, $label, 'stateName', 'state', exporter)" autocomplete="off" />
   		 
		            	</div>
		            	<div class="col-xs-1">
		            		 <label class="control-label">{{ exporter.state }}</label>
		            		 <input ng-model="exporter.state" ng-show="false" />
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="col-xs-2 control-label">
		            		Telephone
		            	</label>
		            	<div class="col-xs-3">
		            		 <input ng-model="exporter.telephone" class="form-control" />
		            	</div>
		            	
		            	<label class="col-xs-2 control-label">
		            		Country
		            	</label>
		            	
		            	<div class="col-xs-3 autosuggest">										      	
				      		<input
                                   type="text" name="countryName" id="countryName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
                                   data-toggle="tooltip" title="Country is required"
                                   class="form-control placeholder left-inp" ng-model="exporter.countryName"
                                   typeahead-template-url="countryTmpl.html"
                                   typeahead-editable="false" 
                                   typeahead-min-length="0" ng-blur="clearCountry('country', 'stateName', 'state', exporter.countryName, exporter)"
                                   typeahead-on-select="selectCountryEvent($item, $model, $label, 'countryName', 'country', exporter)" autocomplete="off"/>
 	
				      		<input name="country" ng-model="exporter.country" class="form-control right-inp" readonly="true"/>
				      	</div>
		            	
		            	<!-- <div class="col-xs-3">
		            		 <input ng-model="exporter.country" class="form-control" />
		            	</div> -->
		            </div>
		            
		            
		            <div class="row">
		            	<label class="col-xs-2 control-label">
		            		Fax
		            	</label>
		            	<div class="col-xs-3">
		            		 <input ng-model="exporter.fax" class="form-control" />
		            	</div>
		            	
		            	<label class="col-xs-2 control-label">
		            		Active
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="exporter.activeStr" class="form-control ">
			            		<option value="">-ALL-</option>
							    <option value="Y">Active</option>
							    <option value="N">Inactive</option>
						    </select>
		            	</div>
		            </div>
		            
		            <div class="row">
		            	<label class="col-xs-2 control-label">
		            		Sort By
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="exporter.sortBy" class="form-control ">
							    <option value="expCode">Exporter Code</option>
							    <option value="expName">Exporter/Department</option>
							    <option value="expAddr1">Address 1</option>
							    <option value="expAddr2">Address 2</option>
							    <option value="expCity">City</option>
							    <option value="expStateName">State</option>
							    <option value="expCountryName">Country</option>
						    </select>
		            	</div>
		            	
		            	<label class="col-xs-2 control-label">
		            		Direction
		            	</label>
		            	<div class="col-xs-3">
		            		<select ng-model="exporter.direction" class="form-control ">
							    <option value="ASC">Ascending</option>
							    <option value="DESC">Decending</option>
						    </select>
		            	</div>
		            </div>
		            
		            
		            
		            <div class="row btn-row-bottom">
		            	<div class="col-xs-6">
		            		<button ng-click="searchExporterNew('search')" class="btn btn-license">Search</button>
		            		<button ng-click="editExporter(exporter.expCode, 'New')" class="btn btn-license">Add Exporter</button>
		            		<button type="reset" class="btn btn-black">Reset</button>
		            	</div>
		            </div>
			   		
		        </form> 
                <!-- /Contact entity form -->
             </div>                                
		</div>
      </div>
	</div>
</div>