.panel-grid {
  margin: 0 !important;
}
.panel-grid-cell {
  padding: 0 !important;
}
.so-panel {
  margin: 0 !important;
}
.modal-form-trial {
  width: 100%;
  min-width: 320px;
  background: #f1f5fa;
  background: -webkit-linear-gradient(top, #fff, #f1f5fa);
  background: -moz-linear-gradient(top, #fff, #f1f5fa);
  background: linear-gradient(to bottom, #fff, #f1f5fa);
  background-repeat: no-repeat;
  box-shadow: 0 5px 25px #173652;
  height: 330px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  -webkit-transition: width 0.25s, height 0.25s;
  -moz-transition: width 0.25s, height 0.25s;
  transition: width 0.25s, height 0.25s;
}
.modal-form-trial__close {
  background: url("../../assets/img/vector/close.svg") no-repeat 8px 20px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0 none;
  outline: 0 none;
  font-size: 0;
  opacity: 0.8;
}
.modal-form-trial__close:hover {
  opacity: 1;
}
.modal-form-trial__title {
  margin: 0 0 37px;
  font-size: 28px;
  line-height: 1em;
  color: #8097b1;
}
.modal-form-trial__form {
  position: relative;
  height: 100%;

    background: url("../../assets/img/popup_bg.png") bottom repeat-x;
  /*background-image: url("../../assets/img/vector/pattern_popup.svg");
  background-size: 300px auto;
  background-position: 180px 104px;
  background-repeat: no-repeat;*/
}
.modal-form-trial__label {
  display: block;
  position: relative;
}
.modal-form-trial__input,
.modal-form-trial__submit {
  font-size: 15px;
}
.modal-form-trial__input {
  width: 100%;
  margin: 0;
  padding: 11px 20px;
  border-radius: 2px 2px 0 0;
}
.modal-form-trial__input::-webkit-input-placeholder {
  text-align: center;
}
.modal-form-trial__input:-moz-placeholder {
  text-align: center;
}
.modal-form-trial__input::-moz-placeholder {
  text-align: center;
}
.modal-form-trial__input:-ms-input-placeholder {
  text-align: center;
}
.modal-form-trial__input::placeholder {
  text-align: center;
}
.modal-form-trial__submit {
  width: 100%;
  margin: 0;
  padding: 11px 10px;
  position: relative;
  top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-form-trial__icon {text-align:center;
  margin: 0 0 5px;
/*  height: 78px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;*/
  padding-top: 15px;
}
.modal-form-trial__icon-svg {
  width: auto;
  height: 45px;
}
.modal-form-trial.wg-modal--pro .modal-form-trial__title,
.modal-form-trial.wg-modal--pro-price .modal-form-trial__title,
.modal-form-trial.wg-modal--home .modal-form-trial__title {
  color: #38a8f6;
}
.modal-form-trial.wg-modal--business .modal-form-trial__title {
  color: #91cd00;
}
.modal-form-trial.wg-modal--enterprise .modal-form-trial__title {
  color: #3b7ed5;
}
.modal-form-trial.wg-modal--marketers .modal-form-trial__title {
  color: #00c1d4;
}
.modal-form-trial.wg-modal--business .modal-form-trial__icon {
  padding-top: 10px;
}
.modal-form-trial.wg-modal--enterprise .modal-form-trial__icon {
  padding-top: 0;
}
.modal-form-trial.wg-modal--pro .modal-form-trial__icon-svg,
.modal-form-trial.wg-modal--pro-price .modal-form-trial__icon-svg,
.modal-form-trial.wg-modal--home .modal-form-trial__icon-svg {
  height: 41px;
}
.modal-form-trial.wg-modal--business .modal-form-trial__icon-svg {
  height: 56px;
}
.modal-form-trial.wg-modal--enterprise .modal-form-trial__icon-svg {
  height: 78px;
}
.modal-form-trial.wg-modal--marketers .modal-form-trial__icon-svg {
  height: 60px;
}
@media (max-width: 479px) {
  .lang-fr .modal-form-trial {
    min-height: 370px;
  }
}
@media (min-width: 480px) {
  .modal-form-trial {
    border-radius: 2px;
  }
  .modal-form-trial,
  .modal-form-trial--size-1 {
    width: 400px;
  }
  .modal-form-trial--size-2 {
    width: 440px;
  }
  .modal-form-trial--size-3 {
    width: 480px;
  }
}
.modal-form-contact {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal-form-contact__wrap {
  max-width: 100%;
  width: 100%;
  position: relative;
  background: #f1f5fa;
  background: -webkit-linear-gradient(top, #fff, #f1f5fa);
  background: -moz-linear-gradient(top, #fff, #f1f5fa);
  background: linear-gradient(to bottom, #fff, #f1f5fa);
  background-repeat: no-repeat;
  box-shadow: 0 5px 25px #173652;
  -webkit-transition: width 0.25s, height 0.25s;
  -moz-transition: width 0.25s, height 0.25s;
  transition: width 0.25s, height 0.25s;
  text-align: center;
}
.modal-form-contact__close {
  background: url("../../assets/img/vector/close.svg") no-repeat 8px 20px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0 none;
  outline: 0 none;
  font-size: 0;
  opacity: 0.8;
}
.modal-form-contact__close:hover {
  opacity: 1;
}
.modal-form-contact__title {
  margin: 0 0 20px;
  font-size: 28px;
  line-height: 1em;
}
.modal-form-contact__subtitle {
  margin: 0 0 30px;
  font-size: 15px;
  line-height: 1.7em;
  color: #5a606c;
}
.modal-form-contact__form {
  position: relative;
  height: 100%;
  padding: 28px 50px 50px;
  background-image: url("../../assets/img/vector/pattern_popup.svg");
  background-size: 300px auto;
  background-position: 180px 225px;
  background-repeat: no-repeat;
}
.modal-form-contact__label {
  display: block;
  position: relative;
}
.modal-form-contact__input,
.modal-form-contact__submit {
  font-size: 15px;
}
.modal-form-contact__line {
  margin: 20px 0;
  text-align: left;
}
.modal-form-contact__submit {
  width: 100%;
  margin: 0;
  padding: 11px 10px;
}
.modal-form-contact__country-flag {
  width: 100px;
  position: relative;
}
.modal-form-contact__country-flag:after {
  position: absolute;
  left: 15px;
  top: 18px;
}
.modal-form-contact__country-flag .wg-textfield__input,
.modal-form-contact__country-flag .wg-textfield__select {
  padding-left: 38px;
}
@media (min-width: 480px) {
  .modal-form-contact__wrap {
    border-radius: 2px;
  }
}
.mktoGutter,
.mktoLabel,
.mktoOffset {
  display: none !important;
}
.mktoFormRow {
  margin: 0 !important;
  padding: 0 !important;
  clear: none !important;
}
.mktoFormRow:nth-child(3) {
  display: none !important;
}
.mktoButtonWrap {
  margin: 0 !important;
  display: inline-block;
}
.mktoError {
  top: 40px !important;
}
.mktoForm {
  line-height: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.mktoForm .mktoErrorMsg,
.mktoForm .mktoErrorArrow {
  background: rgba(0,0,0,0.89) !important;
  border: none !important;
  border-top: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  font-size: 15px !important;
}
.mktoForm div {
  margin: 0;
  padding: 0;
}
.mktoForm {
  display: table !important;
  width: 370px !important;
  margin: 0 auto !important;
}
.mktoFormRow {
  width: 62% !important;
}
.mktoFormCol {
  display: table !important;
  width: 100% !important;
  float: none !important;
  min-height: 0 !important;
}
.mktoNative {
  margin-left: 0 !important;
}
.mktoFormRow,
.mktoButtonRow {
  display: table-cell !important;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top !important;
}
.mktoButtonRow {
  width: 147px !important;
}
.mktoFieldWrap,
.mktoButtonWrap {
  display: inline-block !important;
  float: none !important;
  width: 100% !important;
}
.mktoForm input {
  border-radius: 2px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  text-align: left !important;
  width: 100% !important;
  height: 40px !important;
  padding: 6px 5px 6px 20px !important;
  vertical-align: middle !important;
  font-size: 15px !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #a8b0bf !important;
  box-shadow: none !important;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.mktoForm input:focus {
  border-color: #3b7ed5 !important;
  box-shadow: 0 0 10px #b4d1ff !important;
  outline: 0 !important;
}
.mktoForm button {
  color: #fff !important;
  border: none !important;
  border-radius: 2px !important;
  padding: 7px 0 10px 0 !important;
  width: 100% !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  height: 40px !important;
  font-size: 15px !important;
  background-color: #91cd00 !important;
  border-color: #91cd00 !important;
  white-space: nowrap !important;
  outline: 0 none !important;
}
.mktoForm button:hover {
  background-color: #73bd00 !important;
}
.mktoLabel {
  display: none !important;
}
@media (max-width: 440px) {
  .mktoForm {
    width: 100% !important;
  }
  .mktoForm .mktoFormRow,
  .mktoForm .mktoButtonRow {
    width: 100% !important;
  }
  .mktoForm button {
    padding: 10px 25px 10px 25px !important;
  }
  .mktoForm button,
  .mktoForm input {
    text-align: center !important;
    border-radius: 2px !important;
  }
  .mktoFormRow,
  .mktoButtonRow {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: top !important;
  }
}
.modal-exit-popup {
  width: 100%;
  min-width: 320px;
  background: url("../../assets/img/vector/pattern-modal.svg") no-repeat 70px 170px/470px auto, #f9fbfd;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  height: 373px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  -webkit-transition: width 0.25s, height 0.25s;
  -moz-transition: width 0.25s, height 0.25s;
  transition: width 0.25s, height 0.25s;
  overflow: visible;
}
.modal-exit-popup--success:not(.modal-exit-popup--bg) {
  background: url("../../assets/img/vector/pattern-success.svg") no-repeat -9px -2px/650px auto, #1a83d4;
  height: 500px;
}
.modal-exit-popup__wrap {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
}
.modal-exit-popup--bg {
  height: 535px;
  background-position-y: 320px;
}
.modal-exit-popup--bg--success {
  height: 425px;
}
.modal-exit-popup--bg .modal-exit-popup__wrap {
  padding-top: 170px;
  background: url("../../assets/img/raster/exit-popup-bg.jpg") no-repeat center 0;
  background-size: 540px 170px;
}
.modal-exit-popup__close {
  background: url("../../assets/img/vector/close.svg") no-repeat 8px 20px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0 none;
  outline: 0 none;
  font-size: 0;
  opacity: 0.5;
}
.modal-exit-popup__close:hover {
  opacity: 0.8;
}
.modal-exit-popup--bg .modal-exit-popup__close,
.modal-exit-popup--success:not(.modal-exit-popup--bg) .modal-exit-popup__close {
  background-image: url("../../assets/img/vector/close-white.svg");
}
.modal-exit-popup__title {
  max-width: 100%;
  margin: 0 0 23px;
  padding: 0 35px;
  font-size: 27px;
  line-height: 1.3em;
  color: #91cd00;
}
.modal-exit-popup__subtitle {
  max-width: 100%;
  margin: 0 0 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.55em;
  color: #5a606c;
}
.modal-exit-popup--success .modal-exit-popup__title {
  color: #5f5f5f;
}
.modal-exit-popup--success .modal-exit-popup__subtitle:first-line {
  font-size: 23px;
  line-height: 1.95em;
  color: #91cd00;
}
.modal-exit-popup--success:not(.modal-exit-popup--bg) .modal-exit-popup__title {
  margin: 0 0 25px;
  padding: 0 20px;
  font-size: 34px;
  line-height: 1.35em;
  color: #fff;
}
.modal-exit-popup--success:not(.modal-exit-popup--bg) .modal-exit-popup__subtitle {
  margin: 0;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
}
.modal-exit-popup--success:not(.modal-exit-popup--bg) .modal-exit-popup__subtitle:first-line {
  font-size: 27px;
  color: #fff;
}
@media (min-width: 480px) {
  .modal-exit-popup--bg {
    height: 450px;
  }
  .modal-exit-popup--success:not(.modal-exit-popup--bg) {
    height: 338px;
  }
}
@media (min-width: 568px) {
  .modal-exit-popup {
    width: 540px;
    border-radius: 2px;
  }
  .modal-exit-popup__title {
    padding: 0 65px;
  }
  .modal-exit-popup__subtitle {
    padding: 0 65px;
  }
  .modal-exit-popup--success:not(.modal-exit-popup--bg) .modal-exit-popup__title {
    padding: 0 50px;
  }
  .modal-exit-popup--success:not(.modal-exit-popup--bg) .modal-exit-popup__subtitle {
    padding: 0 65px;
  }
}
@media (min-width: 768px) {
  .modal-exit-popup {
    overflow: auto;
  }
}
.switch-language {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3000;
  display: none;
  background-color: #e6f2ff;
  text-align: center;
}
.switch-language__content {
  position: relative;
  padding: 20px;
}
.switch-language__goto {
  display: none;
  font-size: 13px;
  line-height: 18px;
  color: #5a606c;
}
.switch-language__goto--opened {
  display: block;
}
.switch-language__cookie {
  display: none;
  font-size: 11px;
  line-height: 15px;
  color: #8097b1;
}
.switch-language__cookie--opened {
  display: block;
}
.switch-language__goto--opened + .switch-language__cookie--opened {
  padding-top: 10px;
}
.switch-language__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -25px;
  top: 0;
  bottom: 0;
  display: block;
  cursor: pointer;
  background: url("../../assets/img/vector/close.svg") no-repeat;
  background-position: center;
  background-size: 10px;
}
@media (min-width: 568px) {
  .switch-language__content {
    padding: 14px 0;
  }
  .switch-language__goto {
    font-size: 15px;
  }
  .switch-language__cookie {
    line-height: 18px;
  }
  .switch-language__close {
    right: -15px;
  }
}
@media (min-width: 1024px) {
  .switch-language {
    top: 29px;
  }
}
@media (min-width: 1280px) {
  .switch-language {
    background-image: url("../../assets/img/vector/pattern_lang-left.svg"), url("../../assets/img/vector/pattern_lang-right.svg");
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.global-form {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  font-size: 0;
}
.page-ve .global-form {
  max-width: 460px;
}
.global-form__input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.5em;
  border-radius: 2px 2px 0 0;
  border: 0 none;
  text-align: center;
}
.global-form__btn {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 0 0 2px 2px;
}
.global-form--big .global-form__input {
  height: 60px;
}
.global-form--big .global-form__btn {
  height: 60px;
  font-weight: 600;
}
@media (max-width: 567px) {
  .global-form__input::-webkit-input-placeholder {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .global-form__input:-moz-placeholder {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .global-form__input::-moz-placeholder {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .global-form__input:-ms-input-placeholder {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .global-form__input::placeholder {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .global-form__input:focus,
  .global-form__input:focus::-webkit-input-placeholder {
    text-align: left;
  }
  .global-form__input:focus,
  .global-form__input:focus:-moz-placeholder {
    text-align: left;
  }
  .global-form__input:focus,
  .global-form__input:focus::-moz-placeholder {
    text-align: left;
  }
  .global-form__input:focus,
  .global-form__input:focus:-ms-input-placeholder {
    text-align: left;
  }
  .global-form__input:focus,
  .global-form__input:focus::placeholder {
    text-align: left;
  }
}
@media (min-width: 568px) {
  .global-form__input {
    display: inline-block;
    width: 300px;
    font-size: 15px;
    border-radius: 2px 0 0 2px;
    text-align: left;
  }
  .page-ve .global-form__input {
    width: 260px;
  }
  .global-form__btn {
    display: inline-block;
    width: 200px;
    font-size: 15px;
    border-radius: 0 2px 2px 0;
  }
}
@media (min-width: 1024px) {
  .global-form--big {
    max-width: 540px;
  }
  .global-form--big .global-form__input {
    font-size: 18px;
  }
  .global-form--big .global-form__btn {
    font-size: 18px;
    width: 240px;
  }
  .page-ve .global-form--big .global-form__btn {
    width: 200px;
  }
}
.wistia_responsive_padding {
  position: relative;
  padding: 56.25% 0 0 0;
}
.wistia_responsive_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.wistia_embed {
  width: 100%;
  height: 100%;
}
.SnapABug_Button {
  display: none !important;
}
@media (min-width: 768px) {
  .SnapABug_Button {
    display: block !important;
  }
}
@media (max-width: 479px) {
  .wg-header__promo-mobile {
    font-size: 13px;
    line-height: 1.6em;
  }
}
@media (max-width: 767px) {
  .wg-header__promo-mobile {
    font-size: 10px;
    line-height: 1.8em;
  }
}
