
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display: block;}footer{z-index:1000;display: block;}
/*** Correct `inline-block` display not defined in IE 8/9. */
audio,canvas,video{display: inline-block;}
/** * Prevent modern browsers from displaying `audio` without controls. */
audio:not([controls]){display: none;height: 0;}
/*** Address styling not present in IE 8/9. */
[hidden]{display: none;}

/* ==========================================================================
   Base
   ========================================================================== */
/** * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom. */
html {  /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%;}
/** * Remove default margin. */
body{ margin: 0;}
/* =========== Links =========== */
/** * Address `outline` inconsistency between Chrome and other browsers. */
a:focus {outline: thin dotted;}
/** * Improve readability when focused and also mouse hovered in all browsers. */
a:active,a:hover{outline: 0;}
/* =========== Typography =========== */
/** * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome. */

/*** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title]{border-bottom: 1px dotted;}
/** * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,strong{font-weight: bold;}
/** * Address styling not present in Safari 5 and Chrome. */
dfn {font-style: italic;}
/** * Address differences between Firefox and other browsers. */
hr{-moz-box-sizing: content-box;
  box-sizing: content-box;height: 0;}
  /** * Address styling not present in IE 8/9. */
mark{background: #ff0;color: #000;}
/** * Correct font family set oddly in Safari 5 and Chrome. */
code,kbd,pre,samp {font-family: monospace, serif;font-size: 1em;}
/** * Improve readability of pre-formatted text in all browsers. */
pre{white-space: pre-wrap;}
/** * Set consistent quote types. */
q{quotes: "\201C" "\201D" "\2018" "\2019";}
/** * Address inconsistent and variable font size in all browsers. */
small {font-size: 80%;}
/** * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
/* =========== Embedded content =========== */
/** * Remove border when inside `a` element in IE 8/9. */
img{border: 0;}
/** * Correct overflow displayed oddly in IE 9. */
svg:not(:root) {overflow: hidden;}
/* =========== Figures =========== */
/** * Address margin not present in IE 8/9 and Safari 5. */
figure {margin: 0;}
/* =========== Forms =========== */
/** * Define consistent border, margin, and padding. */
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
/** * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {border: 0; /* 1 */ padding: 0; /* 2 */}
/** * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button,input,select,textarea {
font-family: inherit;/* 1 */ font-size: 100%; /* 2 */ margin: 0;/* 3 */}
/** * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
button,input {line-height:normal;}
/** * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera. */
button,select {text-transform:none;}
/** * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button,html input[type="button"],
input[type="reset"],input[type="submit"] {-webkit-appearance: button;  /* 2 */ cursor: pointer;/* 3 */}
/** * Re-set default cursor for disabled elements. */
button[disabled],html input[disabled]{cursor:default;}
/** * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9. */
input[type="checkbox"],input[type="radio"] {box-sizing: border-box;/* 1 */padding: 0;/* 2 */}
/** * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof). */
input[type="search"]{-webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box;-webkit-box-sizing: content-box;
/* 2 */  box-sizing: content-box;}
/** * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;}
/** * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {border: 0; padding: 0;}
/** * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers. */
textarea {overflow: auto;/* 1 */vertical-align: top;/* 2 */}
/* =========== Tables =========== */
/** * Remove most spacing between table cells. */
table {border-collapse: collapse;border-spacing: 0;}
/* line 160, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
*,*:before,*:after { -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
/* line 165, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
html,body {font-size: 16px;}
/* line 168, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
body {-webkit-font-smoothing: antialiased;}
/* line 182, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
img,object,embed {/**/max-width: 100%;height: auto;}
/* line 185, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
object,embed {height: 100%;}
/* line 186, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
img{-ms-interpolation-mode: bicubic;}
/* line 192, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
#map_canvas img,#map_canvas embed,#map_canvas object,.map_canvas img,.map_canvas embed,
.map_canvas object {max-width: none !important;}
/* line 104, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
.reveal-modal-bg {position: fixed;height: 100%;width: 100%;
  background: black;background: rgba(0, 0, 0, 0.45);
  z-index: 98;display: none;top: 0;left: 0;}
/*button*/
/* line 159, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_buttons.scss */
.button {border-style: solid;border-width: 1px;
cursor: pointer;font-family: inherit;
font-weight: bold;line-height: 1;
margin: 0 0 1.25em 0;
position: relative;text-decoration: none;
text-align: center;
padding:0.75em 1.5em 0.8125em 1.5em;
/*padding-top: 0.75em;padding-right: 1.5em;padding-bottom: 0.8125em;padding-left: 1.5em; display: block;*/
font-size: 1em;background-color: #cc9752;border-color: #b57e36;color: white;}

.button:hover, .button:focus { background-color: #b57e36;}
.button:hover, .button:focus { color: white;}
.button.secondary { background-color: #dddd06; border-color: #abab05; color: white;}
.button.secondary:hover, .button.secondary:focus { background-color: #abab05;}
.button.secondary:hover, .button.secondary:focus {color: white;}
.button.success { background-color: #5da423; border-color: #457a1a;  color: white;}
.button.success:hover, .button.success:focus {background-color: #457a1a;}
.button.success:hover, .button.success:focus {color: white;}
.button.alert { background-color: #c60f13; border-color: #970b0e; color: white;}
.button.alert:hover, .button.alert:focus {background-color: #970b0e;}
.button.alert:hover, .button.alert:focus { color: white;}
.button.large { padding-top: 1em; padding-right: 2em; padding-bottom: 1.0625em; padding-left: 2em;font-size: 1.25em;}
.button.small { padding-top: 0.5625em; padding-right: 1.125em; padding-bottom: 0.625em;padding-left: 1.125em;
  font-size: 0.8125em;}
.button.tiny{padding-top:0.4375em;padding-right: 0.875em; padding-bottom: 0.5em;padding-left: 0.875em;font-size: 0.6875em;}
.button.expand{padding-top: false; padding-right: 0px; padding-bottom: false0.0625em;
  padding-left: 0px; width: 100%;}
.button.left-align { text-align: left; text-indent: 0.75em;}
.button.right-align { text-align: right; padding-right: 0.75em;}
.button.disabled, .button[disabled] {  background-color: #cc9752;  border-color: #b57e36;  color: white;  cursor: default;  opacity: 0.6;  -webkit-box-shadow: none;  box-shadow: none;}

.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #b57e36;}
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: white;}
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #cc9752;}
.button.disabled.secondary, .button[disabled].secondary {  background-color: #dddd06;
  border-color: #abab05;  color: white; cursor: default; opacity: 0.6;
  -webkit-box-shadow: none; box-shadow: none;}
.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus { background-color: #abab05;}
.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus { color: white;}
.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus { background-color: #dddd06;}
.button.disabled.success, .button[disabled].success {
  background-color: #5da423; border-color: #457a1a;  color: white;  cursor: default;  opacity: 0.6;  -webkit-box-shadow: none; box-shadow: none;}
.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus { background-color: #457a1a;}

.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus { color: white;}

.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus { background-color: #5da423;}
.button.disabled.alert, .button[disabled].alert {  background-color: #c60f13;  border-color: #970b0e;
  color: white;  cursor: default;  opacity: 0.6;  -webkit-box-shadow: none;  box-shadow: none;}
.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #970b0e;}
.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: white;}
.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #c60f13;}
input.button,button.button { padding-top: 0.8125em;  padding-bottom: 0.75em;}
input.button.tiny,button.button.tiny { padding-top: 0.5em; padding-bottom: 0.4375em;}

input.button.small,button.button.small { padding-top: 0.625em; padding-bottom: 0.5625em;}
input.button.large,
button.button.large { padding-top: 1.03125em;  padding-bottom: 1.03125em;}

@media only screen {
  .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;  }
  .button:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;  }
  .button.radius { -webkit-border-radius: 3px;  border-radius: 3px;}
  .button.round { -webkit-border-radius: 1000px; border-radius: 1000px;}
}



.reveal-modal{visibility: hidden; text-align:center;
  display: none;  position: absolute;
  left: 50%;  z-index: 99;  height: auto;  background-color: #fff;
  margin-left: -40%;  width: 80%;
  background-color: #ffa100;  padding: 1.25em;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 1.1375em;}
.reveal-modal .column,.reveal-modal .columns { min-width: 0;}
.reveal-modal > :first-child { margin-top: 0;}
.reveal-modal > :last-child {  margin-bottom: 0;}
.reveal-modal .close-reveal-modal { background:#fff; padding:0px 8px 4px 8px; border-radius: 20px;
  font-size:1.99em;  line-height:25px;
  position: absolute;  top: -0.5em;  right:-0.5em;
  color: #000;  font-weight: bold;  cursor: pointer;}


@media only screen and (min-width: 48em) {
  /* line 116, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
  .reveal-modal {
    padding: 1.875em;
    top: 8.25em;
  }
  .reveal-modal p{font-size:21px;}
  /* line 119, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
  .reveal-modal.small {
    margin-left: -30%;
    width:70%;
  }
  /* line 120, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
  .reveal-modal.medium {
    margin-left: -20%;
    width: 40%;
  }
  /* line 121, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
  .reveal-modal.large {
    margin-left: -30%;
    width: 60%;
  }
  /* line 122, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
  .reveal-modal.xlarge {
    margin-left: -35%;
    width: 70%;
  }
  /* line 123, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
  .reveal-modal.expand {
    margin-left: -47.5%;
    width: 95%;
  }
}
@media print {
  /* line 129, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_reveal.scss */
  div:not(.reveal-modal) {
    display: none;
  }
}
/* Foundation Joyride */
/* line 38, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-list {
  display: none;
}

/* Default styles for the container */
/* line 41, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide {
  display: none;
  position: absolute;
  background: black;
  color: white;
  z-index: 101;
  top: 0;
  left: 2.5%;
  font-family: inherit;
  font-weight: normal;
  width: 95%;
}

/* line 54, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.lt-ie9 .joyride-tip-guide {
  max-width: 800px;
  left: 50%;
  margin-left: -400px;
}

/* line 60, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-content-wrapper {
  width: 100%;
  padding: 1.125em 1.25em 1.5em;
}
/* line 65, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-content-wrapper .button {margin-bottom: 0 !important;}

/* Add a little css triangle pip, older browser just miss out on the fanciness of it */
/* line 70, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide .joyride-nub {
  display: block;
  position: absolute;
  left: 22px;
  width: 0;
  height: 0;
  border: solid 14px;
}
/* line 78, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide .joyride-nub.top {
  border-color: black;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  top: -28px;
  bottom: none;
}
/* line 86, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide .joyride-nub.bottom {
  border-color: black !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  bottom: -28px;
  bottom: none;
}
/* line 95, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide .joyride-nub.right {
  right: -28px;
}
/* line 96, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide .joyride-nub.left {
  left: -28px;
}

/* Typography */
/* line 106, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide h1,
.joyride-tip-guide h2,
.joyride-tip-guide h3,
.joyride-tip-guide h4,
.joyride-tip-guide h5,
.joyride-tip-guide h6 {
  line-height: 1.25;
  margin: 0;
  font-weight: bold;
  color: white;
}

/* line 112, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-tip-guide p {
  margin: 0 0 1.125em 0;
  font-size: 0.875em;
  line-height: 1.3;
}

/* line 118, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-timer-indicator-wrap {
  width: 50px;
  height: 3px;
  border: solid 1px #555555;
  position: absolute;
  right: 1.0625em;
  bottom: 1em;
}

/* line 126, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-timer-indicator {
  display: block;
  width: 0;
  height: inherit;
  background: #666666;
}

/* line 133, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-close-tip {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #777777 !important;
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  line-height: .5 !important;
}
/* line 144, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-close-tip:hover, .joyride-close-tip:focus {
  color: #eee !important;
}

/* line 147, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
.joyride-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: transparent;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 48em) {
  /* line 163, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
  .joyride-tip-guide {
    width: 300px;
    left: 0;
  }
  /* line 165, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
  .joyride-tip-guide .joyride-nub.bottom {
    border-color: black !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    bottom: -28px;
    bottom: none;
  }
  /* line 173, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
  .joyride-tip-guide .joyride-nub.right {
    border-color: black !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    top: 22px;
    bottom: none;
    left: auto;
    right: -28px;
  }
  /* line 182, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_joyride.scss */
  .joyride-tip-guide .joyride-nub.left {
    border-color: black !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
    top: 22px;
    left: -28px;
    right: auto;
    bottom: none;
  }
}
/* Clearing Styles */
/* line 35, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
[data-clearing] {
  *zoom: 1;
  margin-bottom: 0;
}
/* line 152, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
[data-clearing]:before, [data-clearing]:after {
  content: " ";
  display: table;
}
/* line 153, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/_foundation-global.scss */
[data-clearing]:after {
  clear: both;
}

/* line 40, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-blackout {
  background: #111111;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
}
/* line 49, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-blackout .clearing-close {
  display: block;
}

/* line 52, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-container {
  position: relative;
  z-index: 998;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

/* line 60, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.visible-img {
  height: 95%;
  position: relative;
}
/* line 64, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.visible-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  max-height: 100%;
  max-width: 100%;
}

/* line 74, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-caption {
  color: white;
  line-height: 1.3;
  margin-bottom: 0;
  text-align: center;
  bottom: 0;
  background: #111111;
  width: 100%;
  padding: 10px 30px;
  position: absolute;
  left: 0;
}

/* line 87, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-close {
  z-index: 999;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 40px;
  line-height: 1;
  color: white;
  display: none;
}
/* line 97, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-close:hover, .clearing-close:focus {
  color: #ccc;
}

/* line 100, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-assembled .clearing-container {
  height: 100%;
}
/* line 101, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
.clearing-assembled .clearing-container .carousel > ul {
  display: none;
}

@media only screen and (min-width: 48em) {
  /* line 108, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-main-left,
  .clearing-main-right {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
  }
  /* line 113, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-main-left > span,
  .clearing-main-right > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 0;
    height: 0;
    border: solid 16px;
  }

  /* line 122, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-main-left {
    left: 0;
  }
  /* line 124, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-main-left > span {
    left: 5px;
    border-color: transparent white transparent transparent;
  }

  /* line 129, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-main-right {
    right: 0;
  }
  /* line 131, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-main-right > span {
    border-color: transparent transparent transparent white;
  }

  /* line 137, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-main-left.disabled,
  .clearing-main-right.disabled {
    opacity: 0.5;
  }

  /* line 140, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-feature ~ li {
    display: none;
  }

  /* line 144, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .carousel {
    background: #111111;
    height: 150px;
    margin-top: 5px;
  }
  /* line 149, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .carousel > ul {
    display: block;
    z-index: 999;
    width: 200%;
    height: 100%;
    margin-left: 0;
    position: relative;
    left: 0;
  }
  /* line 158, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .carousel > ul li {
    display: block;
    width: 175px;
    height: inherit;
    padding: 0;
    float: left;
    overflow: hidden;
    margin-right: 1px;
    position: relative;
    cursor: pointer;
    opacity: 0.4;
  }
  /* line 171, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .carousel > ul li.fix-height img {
    min-height: 100%;
    height: 100%;
    max-width: none;
  }
  /* line 178, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .carousel > ul li a.th {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
  }
  /* line 185, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .carousel > ul li img {
    cursor: pointer !important;
    min-width: 100% !important;
  }
  /* line 190, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .carousel > ul li.visible {
    opacity: 1;
  }
  /* line 195, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-assembled .clearing-container .visible-img {
    background: #111111;
    overflow: hidden;
    height: 75%;
  }

  /* line 202, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_clearing.scss */
  .clearing-close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding-left: 0;
    padding-top: 0;
  }
}
/* Foundation Alerts */
/* line 93, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: bold;
  margin-bottom: 1.25em;
  position: relative;
  padding: 0.6875em 1.3125em 0.75em 0.6875em;
  font-size: 0.875em;
  background-color: #cc9752;
  border-color: #b57e36;
  color: white;
}
/* line 96, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box .close {
  font-size: 1.375em;
  padding: 5px 4px 4px;
  line-height: 0;
  position: absolute;
  top: 0.4375em;
  right: 0.3125em;
  color: #333333;
  opacity: 0.3;
}
/* line 80, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box .close:hover, .alert-box .close:focus {
  opacity: 0.5;
}
/* line 98, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 99, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 101, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box.success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}
/* line 102, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
}
/* line 103, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_alert-boxes.scss */
.alert-box.secondary {
  background-color: #dddd06;
  border-color: #abab05;
  color: white;
}

/* Breadcrumbs */
/* line 108, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs {
  display: block;
  padding: 0.375em 0.875em 0.5625em;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  background-color: #f6f607;
  border-color: #c4c405;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 112, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li {
  margin: 0;
  padding: 0 0.75em 0 0;
  float: left;
}
/* line 59, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li:hover a, .breadcrumbs li:focus a {
  text-decoration: underline;
}
/* line 62, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li a,
.breadcrumbs li span {
  font-size: 0.6875em;
  padding-left: 0.75em;
  text-transform: uppercase;
  color: #cc9752;
}
/* line 71, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li.current a {
  cursor: default;
  color: #333333;
}
/* line 77, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li.current:hover a, .breadcrumbs li.current:focus a {
  text-decoration: none;
}
/* line 82, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li.unavailable a {
  color: #999999;
}
/* line 85, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li.unavailable:hover a,
.breadcrumbs li.unavailable a:focus {
  text-decoration: none;
  color: #999999;
  cursor: default;
}
/* line 92, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li:before {
  content: "/";
  color: #aaaaaa;
  position: relative;
  top: 1px;
}
/* line 99, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li:first-child a, .breadcrumbs li:first-child span {
  padding-left: 0;
}
/* line 100, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs li:first-child:before {
  content: "";
}

/* Keytroke Characters */
/* line 51, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_keystrokes.scss */
.keystroke,
kbd {
  background-color: #ededed;
  border-color: #dbdbdb;
  color: #222222;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.9375em;
  padding: 0.125em 0.25em 0em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Labels */
/* line 67, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_labels.scss */
.label {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #cc9752;
  color: #fff;
}
/* line 73, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_labels.scss */
.label.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 74, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_labels.scss */
.label.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 76, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_labels.scss */
.label.alert {
  background-color: #c60f13;
  color: #fff;
}
/* line 77, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_labels.scss */
.label.success {
  background-color: #5da423;
  color: #fff;
}
/* line 78, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_labels.scss */
.label.secondary {
  background-color: #dddd06;
  color: #fff;
}

/* Inline Lists */
/* line 43, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_inline-lists.scss */
.inline-list {
  margin: 0 0 1.0625em -1.375em;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 30, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_inline-lists.scss */
.inline-list > li {
  list-style: none;
  float: left;
  margin-left: 1.375em;
  display: block;
}
/* line 35, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_inline-lists.scss */
.inline-list > li > * {
  display: block;
}

/* Pagination */
/* line 97, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination {
  display: block;
  height: 1.5em;
  margin-left: -0.3125em;
}
/* line 45, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination li {
  display: block;
  float: left;
  height: 1.5em;
  color: #222222;
  font-size: 0.875em;
  margin-left: 0.3125em;
}
/* line 53, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination li a {
  display: block;
  padding: 0.0625em 0.4375em 0.0625em;
  color: #999999;
}
/* line 60, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination li:hover a,
.pagination li a:focus {
  background: #e6e6e6;
}
/* line 62, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination li.unavailable a {
  cursor: default;
  color: #999999;
}
/* line 67, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination li.unavailable:hover a, .pagination li.unavailable a:focus {
  background: transparent;
}
/* line 69, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination li.current a {
  background: #cc9752;
  color: white;
  font-weight: bold;
  cursor: default;
}
/* line 76, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination li.current a:hover, .pagination li.current a:focus {
  background: #cc9752;
}

/* line 82, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination-centered {
  text-align: center;
}
/* line 83, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pagination.scss */
.pagination-centered ul > li {
  float: none;
  display: inline-block;
}

/* Panels */
/* line 62, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f2f2f2;
}
/* line 43, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p {
  color: #333333;
}
/* line 47, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel > :first-child {
  margin-top: 0;
}
/* line 48, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel > :last-child {
  margin-bottom: 0;
}
/* line 51, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 53, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
  line-height: 1.4;
}
/* line 64, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #b57e36;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #cc9752;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 43, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p {
  color: #333333;
}
/* line 47, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel.callout > :first-child {
  margin-top: 0;
}
/* line 48, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel.callout > :last-child {
  margin-bottom: 0;
}
/* line 51, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 53, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
  line-height: 1.4;
}
/* line 69, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_panels.scss */
.panel.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Pricing Tables */
/* line 120, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pricing-tables.scss */
.pricing-table {
  border: solid 1px #dddddd;
  margin-left: 0;
  margin-bottom: 1.25em;
}
/* line 60, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pricing-tables.scss */
.pricing-table * {
  list-style: none;
  line-height: 1;
}
/* line 123, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pricing-tables.scss */
.pricing-table .title {
  background-color: #dddddd;
  padding: 0.9375em 1.25em;
  text-align: center;
  color: #333333;
  font-weight: bold;
  font-size: 1em;
}
/* line 124, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pricing-tables.scss */
.pricing-table .price {
  background-color: #eeeeee;
  padding: 0.9375em 1.25em;
  text-align: center;
  color: #333333;
  font-weight: normal;
  font-size: 1.25em;
}
/* line 125, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pricing-tables.scss */
.pricing-table .description {
  background-color: white;
  padding: 0.9375em;
  text-align: center;
  color: #777777;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1.4;
  border-bottom: dotted 1px #dddddd;
}
/* line 126, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pricing-tables.scss */
.pricing-table .bullet-item {
  background-color: white;
  padding: 0.9375em;
  text-align: center;
  color: #333333;
  font-size: 0.875em;
  font-weight: normal;
  border-bottom: dotted 1px #dddddd;
}
/* line 127, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_pricing-tables.scss */
.pricing-table .cta-button {background-color: whitesmoke;text-align: center; padding: 1.25em 1.25em 0;
}

/* Progress Bar */
/* line 47, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress {
  height: 1.5625em;
  border: 1px solid #cccccc;
  padding: 0.125em;
  margin-bottom: 0.625em;
}
/* line 51, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress .meter {
  background: #cc9752;
  height: 100%;
  display: block;
}
/* line 54, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress.secondary .meter {
  background: #dddd06;
  height: 100%;
  display: block;
}
/* line 55, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress.success .meter {
  background: #5da423;
  height: 100%;
  display: block;
}
/* line 56, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress.alert .meter {
  background: #c60f13;
  height: 100%;
  display: block;
}
/* line 58, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 59, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress.radius .meter {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 62, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 63, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_progress-bars.scss */
.progress.round .meter {
  -webkit-border-radius: 999px;
  border-radius: 999px;
}

/* Side Nav */
/* line 66, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_side-nav.scss */
.side-nav {
  display: block;
  margin: 0;
  padding: 0.875em 0;
  list-style-type: none;
  list-style-position: inside;
}
/* line 38, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_side-nav.scss */
.side-nav li {
  margin: 0 0 0.4375em 0;
  font-size: 0.875em;
}
/* line 42, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_side-nav.scss */
.side-nav li a {
  display: block;
  color: #cc9752;
}
/* line 47, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_side-nav.scss */
.side-nav li.active a {
  color: #4d4d4d;
  font-weight: bold;
}
/* line 52, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_side-nav.scss */
.side-nav li.divider {
  border-top: 1px solid;
  height: 0;
  padding: 0;
  list-style: none;
  border-top-color: #e6e6e6;
}

/* Side Nav */
/* line 65, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_sub-nav.scss */
.sub-nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -0.25em 0 1.125em;
  padding-top: 0.25em;
  margin-right: 0;
  margin-left: -0.5625em;
}
/* line 37, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_sub-nav.scss */
.sub-nav dt,
.sub-nav dd {
  float: left;
  display: inline;
  margin-left: 0.5625em;
  margin-bottom: 0.625em;
  font-weight: normal;
  font-size: 0.875em;
}
/* line 45, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_sub-nav.scss */
.sub-nav dt a,
.sub-nav dd a {
  color: #999999;
  text-decoration: none;
}
/* line 49, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_sub-nav.scss */
.sub-nav dt.active a,
.sub-nav dd.active a {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  font-weight: bold;
  background: #cc9752;
  padding: 0.1875em 0.5625em;
  cursor: default;
  color: white;
}

/* Foundation Switches */
@media only screen {
  /* line 214, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch {
    position: relative;
    width: 100%;
    padding: 0;
    display: block;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    -webkit-animation: webkitSiblingBugfix infinite 1s;
    height: 36px;
    background: white;
    border-color: #cccccc;
  }
  /* line 58, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch label {
    position: relative;
    left: 0;
    z-index: 2;
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    text-align: right;
    font-weight: bold;
    text-align: left;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  /* line 76, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input {
    position: absolute;
    z-index: 3;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  /* line 85, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:hover, .switch input:focus {
    cursor: pointer;
  }
  /* line 91, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch > span {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    display: block;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  /* line 106, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:last-of-type + label {
    text-align: right;
  }
  /* line 109, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:not(:checked) + label {
    opacity: 0;
  }
  /* line 112, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:checked {
    display: none;
  }
  /* line 113, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input {
    left: 0;
  }
  /* line 114, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:first-of-type + label {
    left: -50%;
  }
  /* line 115, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:first-of-type:checked + label {
    left: 0%;
  }
  /* line 116, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:last-of-type + label {
    right: -50%;
    left: auto;
  }
  /* line 117, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:last-of-type:checked + label {
    right: 0%;
    left: auto;
  }
  /* line 130, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch label {
    padding: 0 0.375em;
    line-height: 2.3em;
    font-size: 0.875em;
  }
  /* line 138, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch input:first-of-type:checked ~ span {
    left: 100%;
    margin-left: -2.1875em;
  }
  /* line 144, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch > span {
    width: 2.25em;
    height: 2.25em;
  }
  /* line 158, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch > span {
    border-color: #b3b3b3;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
    -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #e1f5d1, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 980px #e1f5d1, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke;
  }
  /* line 178, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch:hover > span, .switch:focus > span {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e6e6e6 100%);
    background: -webkit-linear-gradient(top, white 0%, #e6e6e6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  }
  /* line 186, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch:active {
    background: transparent;
  }
  /* line 218, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.large {
    height: 44px;
  }
  /* line 130, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.large label {
    padding: 0 0.375em;
    line-height: 2.3em;
    font-size: 1.0625em;
  }
  /* line 138, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.large input:first-of-type:checked ~ span {
    left: 100%;
    margin-left: -2.6875em;
  }
  /* line 144, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.large > span {
    width: 2.75em;
    height: 2.75em;
  }
  /* line 221, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.small {
    height: 28px;
  }
  /* line 130, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.small label {
    padding: 0 0.375em;
    line-height: 2.1em;
    font-size: 0.75em;
  }
  /* line 138, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.small input:first-of-type:checked ~ span {
    left: 100%;
    margin-left: -1.6875em;
  }
  /* line 144, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.small > span {
    width: 1.75em;
    height: 1.75em;
  }
  /* line 224, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.tiny {
    height: 22px;
  }
  /* line 130, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.tiny label {
    padding: 0 0.375em;
    line-height: 1.9em;
    font-size: 0.6875em;
  }
  /* line 138, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.tiny input:first-of-type:checked ~ span {
    left: 100%;
    margin-left: -1.3125em;
  }
  /* line 144, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.tiny > span {
    width: 1.375em;
    height: 1.375em;
  }
  /* line 227, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.radius {
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 228, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.radius > span {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 232, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }
  /* line 233, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.round > span {
    -webkit-border-radius: 999px;
    border-radius: 999px;
  }
  /* line 234, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
  .switch.round label {
    padding: 0 0.5625em;
  }

  @-webkit-keyframes webkitSiblingBugfix {
    /* line 239, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
    from {
      position: relative;
    }

    /* line 239, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_switch.scss */
    to {
      position: relative;
    }
}
}
/* line 3, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_magellan.scss */
[data-magellan-expedition] {
  background: #fff;
  z-index: 999;
  min-width: 100%;
  padding: 10px;
}
/* line 9, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_magellan.scss */
[data-magellan-expedition] .sub-nav {
  margin-bottom: 0;
}
/* line 11, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_magellan.scss */
[data-magellan-expedition] .sub-nav dd {
  margin-bottom: 0;
}

/* Tables */
/* line 78, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tables.scss */
table {
  background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd;
}
/* line 41, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tables.scss */
table thead,
table tfoot {
  background: whitesmoke;
  font-weight: bold;
}
/* line 47, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tables.scss */
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  padding: 0.5em 0.625em 0.625em;
  font-size: 0.875em;
  color: #222222;
  text-align: left;
}
/* line 58, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tables.scss */
table tr th,
table tr td {
  padding: 0.5625em 0.625em;
  font-size: 0.875em;
  color: #222222;
}
/* line 66, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tables.scss */
table tr.even, table tr.alt, table tr:nth-of-type(even) {
/*  background: #f9f9f9; naresh*/
}
/* line 73, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tables.scss */
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  line-height: 1.125em;
}

/* Image Thumbnails */
/* line 36, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_thumbs.scss */
.th {
  display: inline-block;
  border: solid 4px white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
/* line 28, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_thumbs.scss */
.th:hover, .th:focus {
  -webkit-box-shadow: 0 0 6px 1px rgba(204, 151, 82, 0.5);
  box-shadow: 0 0 6px 1px rgba(204, 151, 82, 0.5);
}
/* line 40, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_thumbs.scss */
.th.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Tooltips */
/* line 27, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.has-tip {
  border-bottom: dotted 1px #cccccc;
  cursor: help;
  font-weight: bold;
  color: #333333;
}
/* line 34, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.has-tip:hover, .has-tip:focus {
  border-bottom: dotted 1px #8e632a;
  color: #cc9752;
}
/* line 40, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.has-tip.tip-left, .has-tip.tip-right {
  float: none !important;
}

/* line 43, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: white;
  background:rgba(0,0,0,0.001);
}
/* line 57, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.tooltip > .nub {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent black transparent;
  top: -10px;
}
/* line 67, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.tooltip.opened {
  color: #cc9752 !important;
  border-bottom: dotted 1px #8e632a !important;
}
/* line 72, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.tooltip.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 75, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
.tap-to-close {
  display: block;
  font-size: 0.625em;
  color: #888888;
  font-weight: normal;
}

@media only screen and (min-width: 48em) {
  /* line 84, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
  .tooltip > .nub {
    border-color: transparent transparent black transparent;
    top: -10px;
  }
  /* line 88, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-top > .nub {
    border-color: black transparent transparent transparent;
    top: auto;
    bottom: -10px;
  }
  /* line 95, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-left, .tooltip.tip-right {
    float: none !important;
  }
  /* line 97, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-left > .nub {
    border-color: transparent transparent transparent black;
    right: -10px;
    left: auto;
    top: 50%;
    margin-top: -5px;
  }
  /* line 104, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-right > .nub {
    border-color: transparent black transparent transparent;
    right: auto;
    left: -10px;
    top: 50%;
    margin-top: -5px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 114, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
  .f-dropdown {
    max-width: 100%;
    left: 0;
  }
}
/* Foundation Dropdowns */
/* line 121, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown {
  position: absolute;
  left: -9999px;
  top: -9999px;
  list-style: none;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  margin-top: 2px;
  max-width: 200px;
}
/* line 49, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown *:first-child {
  margin-top: 0;
}
/* line 50, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown *:last-child {
  margin-bottom: 0;
}
/* line 75, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 99;
}
/* line 82, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 7px;
  border-color: transparent transparent #cccccc transparent;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 98;
}
/* line 125, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown li {
  font-size: 0.875em;
  cursor: pointer;
  padding: 0.3125em 0.625em;
  line-height: 1.125em;
  margin: 0;
}
/* line 105, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown li:hover, .f-dropdown li:focus {
  background: #eeeeee;
}
/* line 107, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown li a {
  color: #555555;
}
/* line 128, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown.content {
  position: absolute;
  left: -9999px;
  top: -9999px;
  list-style: none;
  padding: 1.25em;
  width: 100%;
  height: auto;
  max-height: none;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  max-width: 200px;
}
/* line 49, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown.content *:first-child {
  margin-top: 0;
}
/* line 50, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown.content *:last-child {
  margin-bottom: 0;
}
/* line 131, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown.tiny {
  max-width: 200px;
}
/* line 132, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown.small {
  max-width: 300px;
}
/* line 133, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown.medium {
  max-width: 500px;
}
/* line 134, ../../../../lib/gems/1.9.1/gems/zurb-foundation-4.0.0/scss/foundation/components/_dropdown.scss */
.f-dropdown.large {
  max-width: 800px;
}

/* line 52, ../sass/app.scss */
[data-magellan-expedition] {
  background: transparent;
  padding: 0;
}

/* line 57, ../sass/app.scss */
body {
/*  background: #e5dbcf url("../images/bg.png");*/
}

/* line 61, ../sass/app.scss */
p em {/*color: #777;*/}

/* line 65, ../sass/app.scss */
h1 {
  font-size: 2.25em;
  font-weight: normal;
}

/* line 69, ../sass/app.scss */
h2 {
  font-size: 1.5em;
  font-weight: normal;
}

/* line 74, ../sass/app.scss */
.button {-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);}

/* line 78, ../sass/app.scss */
.reveal-modal img { padding-bottom:15px;
  border: 0px solid #ddd;
}

/* line 82, ../sass/app.scss */
.button.secondary {
  color: #fff;
}

/* line 86, ../sass/app.scss */
.button.tiny {
  bottom: 4px;
  color: #333;
  margin: 0 10px;
  font-family: Arial, sans-serif;
  font-size: 0.5em;
}

/* line 94, ../sass/app.scss */
#forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* line 101, ../sass/app.scss */
.usage-section {
  margin-bottom: 40px;
}
/* line 104, ../sass/app.scss */
.usage-section ul li {
  margin-left: 20px;
  font-size: 0.8125em;
}

/* line 110, ../sass/app.scss */
.header {
  text-align: center;
}
/* line 113, ../sass/app.scss */
.header h1 {
  font-family: "Ranchers", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16em;
  font-weight: normal;
  color: #dddd06;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  position: relative;
  display: inline-block;
  clear: both;
  margin: 0;
}
/* line 124, ../sass/app.scss */
.header h2 {
  font-size: 1.5em;
}
/* line 127, ../sass/app.scss */
.header h3 {
  font-size: 0.75em;
  color: #666;
  font-weight: normal;
}
/* line 133, ../sass/app.scss */
.header .author {
  font-size: 0.75em;
  position: absolute;
  display: inline-block;
  text-align: left;
  top: 25em;
  margin-left: 52px;
  color: #888;
}
/* line 141, ../sass/app.scss */
.header .author a {
  border-bottom: 1px dotted #cc9752;
}
/* line 143, ../sass/app.scss */
.header .author a:hover {
  border-bottom: 1px dotted #cc9752;
}

/* line 150, ../sass/app.scss */
#navigation {
  height: 38px;
  text-align: center;
}
/* line 154, ../sass/app.scss */
#navigation .nav {
  width: 100%;
  z-index: 10;
  height: 38px;
  background: #333;
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 161, ../sass/app.scss */
#navigation .nav .nav-bar {
  margin: 0;
  display: inline-block;
  background: transparent;
  border-right: 1px solid #282828;
  border-left: 1px solid #444;
  height: 38px;
}
/* line 168, ../sass/app.scss */
#navigation .nav .nav-bar > li {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  display: inline-block;
  border: 0;
  border-left: 1px solid #282828;
  border-right: 1px solid #444;
  line-height: 38px;
}
/* line 177, ../sass/app.scss */
#navigation .nav .nav-bar > li:hover, #navigation .nav .nav-bar > li.active {
  background: #444;
  -webkit-box-shadow: inset 0 0 15px 5px #222222;
  -moz-box-shadow: inset 0 0 15px 5px #222222;
  box-shadow: inset 0 0 15px 5px #222222;
}
/* line 181, ../sass/app.scss */
#navigation .nav .nav-bar > li a {
  display: block;
  padding: 0 15px;
  color: #fff;
  font-size: 0.75em;
}

/* line 192, ../sass/app.scss */
#screenshots {
  margin-bottom: 15px;
}
/* line 194, ../sass/app.scss */
#screenshots p {
  font-size: 0.75em;
}

/* line 199, ../sass/app.scss */
#social {
  margin-bottom: 30px;
  text-align: center;
}
/* line 203, ../sass/app.scss */
#social .gitforked-button-container {
  bottom: 7px;
  margin-right: 50px;
}

/* line 209, ../sass/app.scss */
#download {
  text-align: center;
  margin-bottom: 30px;
}

/* line 214, ../sass/app.scss */
#development ul {
  padding-left: 30px;
}

/* line 219, ../sass/app.scss */
#themes img {
  position: relative;
}
/* line 222, ../sass/app.scss */
#themes h2 {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 0 20px 40px;
  position: absolute;
}

/* line 231, ../sass/app.scss */
section {
  padding-top: 50px;
}

/* line 235, ../sass/app.scss */
.function {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  background: #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* line 241, ../sass/app.scss */
.function h2 {
  background: #ddd;
  display: block;
  margin: 0;
  padding: 15px;
  font-size: 0.9375em;
}
/* line 249, ../sass/app.scss */
.function .usage {
  padding: 20px;
}
/* line 251, ../sass/app.scss */
.function .usage h3 {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  color: #cc9752;
  background: #fff;
  padding: 5px;
}
/* line 259, ../sass/app.scss */
.function .usage .parameter {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;
}
/* line 262, ../sass/app.scss */
.function .usage .parameter p {
  margin: 0;
  font-size: 0.75em;
}
/* line 265, ../sass/app.scss */
.function .usage .parameter p strong {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}
/* line 270, ../sass/app.scss */
.function .usage .parameter p:last-child {
  color: #888;
}
/* line 274, ../sass/app.scss */
.function .usage .parameter .option {
  margin: 10px 0 0 30px;
}

/* line 281, ../sass/app.scss */
#footer {
  background: rgba(0, 0, 0, 0.2);
  margin: 40px 0 0;
}
/* line 284, ../sass/app.scss */
#footer p {
  text-align: center;
  font-size: 0.6875em;
  padding: 15px 0;
  margin: 0;
  color: #fff;
}

/* line 292, ../sass/app.scss */
#mobile-header {
  display: none;
  height: 48px;
  background: #222;
  text-align: left;
  line-height: 48px;
}
/* line 299, ../sass/app.scss */
#mobile-header #responsive-menu-button {
  margin-left: 5px;
  color: #fff;
  background: #444;
  padding: 10px 10px 8px;
  font-family: Arial, sans-serif;
  font-size: 0.6875em;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  /* line 311, ../sass/app.scss */
  #forkme {
    display: none;
  }

  /* line 314, ../sass/app.scss */
  #navigation {
    display: none;
  }

  /* line 317, ../sass/app.scss */
  #mobile-header {
    display: block;
    position: absolute;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
  }

  /* line 325, ../sass/app.scss */
  .button.tiny {
    margin: 20px;
  }

  /* line 331, ../sass/app.scss */
  .header h1 {
    padding-top: 50px;
    font-size: 8em;
  }
  /* line 335, ../sass/app.scss */
  .header h2 {
    font-size: 0.875em;
  }
  /* line 338, ../sass/app.scss */
  .header .author {
    left: 0;
    font-size: 0.6875em;
    position: relative;
    top: auto;
    text-align: center;
    margin-left: 0;
    width: 100%;
  }
}
.sidr{display:none !important;}
