<div ng-init="parentInit('parties');initExporter()" ng-controller="exportOperationCtlr" id="exporterShipmentContr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
      <!-- TOVAR INFORMATION -->
	  <div class="tovar_information">						
		 <div class="box visible">
			  
		   <div ng-include src="'views/export/menu.html'"></div>
		   
            <div class="col-sm-12 col-md-12 margin-bottom no_pad response_info">
            	      	
        	 <!-- user form confirm-on-exit -->
			      <form name="exportForm" class="af-user row" style="font-size: 12px;" >

                      <div class="col-sm-6 col-md-6">
                      
                      		  <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                          <div class="col-sm-5 ">
                                          	<label class=""  for="name">Exporter Code:</label>
                                          </div>
                                          <div class="col-sm-7">
                                          <input
                                              type="text" name="name" id="name" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="Exporter Code"
                                              class="form-control placeholder" ng-model="shipment.exporterCode" ng-disabled="true" />                            
                                           </div>
                                  </div>
                              </div>
                      
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                          <div class="col-sm-5 ">
                                          	<label class=""  for="name"><a href="javascript:void(0)" ng-click="searchExporterPopup()">Name:</a></label>&nbsp;<span class="required">*</span>
                                          </div>
                                          <div class="col-sm-7 autosuggest expConsAutoSuggest">
                                          
                                          <input
                                                type="text" name="exporterName" id="exporterName" uib-typeahead="exporter as exporter.expCode for exporter in getExporters($viewValue) | limitTo:8"
                                                data-toggle="tooltip" title="Exporter is required"
                                                class="form-control placeholder" ng-model="shipment.exporterName"
                                                typeahead-template-url="exporter.html"
                                                typeahead-editable="true" 
                                                typeahead-min-length="0"
                                                typeahead-on-select="onExporterSelect($item, $model, $label)" autocomplete="off"/>
                                                                                    
                                          <!-- <input
                                              type="text" name="exporterName" id="name" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="Name is required"
                                              class="form-control placeholder" ng-model="shipment.exporterName" /> -->                            
                                           </div>
                                  </div>
                              </div>
                                          
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                      <div class="col-sm-5 ">
                                          <label class=""  for="address_tt">Address:</label>&nbsp;<span class="required">*</span>
                                          </div>
                                          <div class="col-sm-7">
                                          <input
                                              type="text" name="address_tt" id="address_tt" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="Address is required"
                                              class="form-control placeholder" ng-model="shipment.exporterAddressLine1"/>                            
                                           </div>
                                   </div>
                              </div> 
                              
                              <div class="af-outer af-required clearfix">                
                                  <div class="col-sm-5 ">
                                  <label class=""  for="export_city">City: </label>&nbsp;<span class="required">*</span>
                                  </div>
                                  <div class="col-sm-7 ">                                                    
                                          <div class=" ">
                                              <!-- <select class="form-control" name="export_city" id="export_city" ng-model="shipment.exporterCity" data-live-search="false" data-width="100%"
                                                  data-toggle="tooltip" title="Day">
                                                  <option value="">Select City</option>
                                                  <option value="01">ABC</option>
                                                  <option value="02">XYZ</option>
                                              </select> -->
                                              <input
	                                              type="text" name="export_city" id="export_city" placeholder="" value="" size="30"
	                                              data-toggle="tooltip" title="Address is required"
	                                              class="form-control placeholder" ng-model="shipment.exporterCity"/>
                                          </div>
                                  </div>
                          </div>
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group af-required">                
                                  <div class="col-sm-5 ">
                                  <label class=""  for="export_state">State: </label>&nbsp;<span class="required">*</span>
                                  </div>
                                  <div class="col-sm-7 autosuggest">
                                      
                                         <!-- <div class="">
                                               <select class="form-control" name="export_state" id="export_state" ng-model="shipment.exporterState" data-live-search="false" data-width="100%"
                                                  data-toggle="tooltip" title="Day" ng-options="state.stateCode as state.stateName for state in states">
                                                  <option value="">Select State</option>                                                  
                                              </select> 
                                          </div>    -->
                                             <input
	                                                type="text" name="exporterStateName" id="exporterStateName" uib-typeahead="state as state.stateCode for state in getStates($viewValue, shipment.exporterCountry)"
	                                                data-toggle="tooltip" title="State is required"
	                                                class="form-control placeholder" ng-model="shipment.exporterStateName"
	                                                typeahead-template-url="stateTmpl.html"
	                                                typeahead-editable="false" 
	                                                typeahead-min-length="0" 
	                                                typeahead-on-select="selectStateEvent($item, $model, $label, 'exporterStateName', 'exporterState', shipment)" autocomplete="off" required/>
	                                        <input
	                                              type="text" name="export_state" id="export_state" placeholder="" value="" size="30"
	                                              data-toggle="tooltip" 
	                                              class="form-control placeholder" ng-model="shipment.exporterState" ng-show="false"/>      
                                  </div>
                          </div>
                              </div>
                              
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group af-required">                
                                   <div class="col-sm-5 ">
                                   		<label class=""  for="export_country">Country: </label>&nbsp;<span class="required">*</span>
                                   </div>
                                   <div class="col-sm-7 autosuggest">
                                       
                                           <!-- <div class="form-group selectpicker-wrapper">
                                               <select class="form-control" name="export_country" id="export_country" ng-model="shipment.exporterCountry" data-live-search="true" data-width="100%"
                                                   data-toggle="tooltip" title="Day" ng-options="country.countryCode as country.countryName for country in countries"
                                                   ng-change="updateStates(shipment.exporterCountry)">
                                                   	   <option value="">Select Country</option>
                                               </select>
                                           </div> -->
                                           
                                           <input
                                                type="text" name="exporterCountryName" id="exporterCountryName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
                                                data-toggle="tooltip" title="Country is required"
                                                class="form-control placeholder left-inp" ng-model="shipment.exporterCountryName"
                                                typeahead-template-url="countryTmpl.html"
                                                typeahead-editable="false" 
                                                typeahead-min-length="0" ng-blur="clearCountry('exporterCountry', 'exporterStateName', 'exporterState', shipment.exporterCountryName, shipment)"
                                                typeahead-on-select="selectCountryEvent($item, $model, $label, 'exporterCountryName', 'exporterCountry', shipment)" autocomplete="off" required/>
								      	
								      		<input name="export_country" ng-model="shipment.exporterCountry" class="form-control right-inp" readonly="true"/>
                                        
                                   </div>
                          		   </div>
                              </div>
                              
                      </div>
                                                  
                      <div class="col-sm-6 col-md-6 ">
                          <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                          <div class="col-sm-5 ">
                                          <label class="control-label"  for="firstname">First Name:</label>&nbsp;<span class="required">*</span>
                                          </div>
                                          <div class="col-sm-7">
                                          <input
                                              type="text" name="firstname" id="firstname" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="First name is required"
                                              class="form-control placeholder" ng-model="shipment.exporterFirstName"/>                            
                                           </div>
                                  </div>
                              </div>
                          
                          <div class=" af-outer af-required clearfix">                
                              <div class="form-group ">
                                  <div class="col-sm-5 ">
                                      <label class="control-label"  for="lastname">Last Name:</label>&nbsp;<span class="required">*</span>
                                      </div>
                                      <div class="col-sm-7">
                                      <input
                                          type="text" name="lastname" id="lastname" placeholder="" value="" size="30"
                                          data-toggle="tooltip" title="Last name is required"
                                          class="form-control placeholder" ng-model="shipment.exporterLastName"/>                            
                                  </div>
                               </div>
                          </div>              
                          <div class=" af-outer af-required clearfix">
                              <div class="form-group">
                                      <div class="col-sm-5 ">
                                      <label class="control-label"  for="compname">Company Name:</label>&nbsp;<span class="required">*</span>
                                      </div>
                                      <div class="col-sm-7">
                                      <input
                                          type="text" name="Company" id="compname" placeholder="" value="" size="30"
                                          data-toggle="tooltip" title="Company name is required"
                                          class="form-control placeholder" ng-model="shipment.exporterCompanyName"/>                            
                                  </div>
                              </div>
                          </div>            
                          <div class=" af-outer af-required clearfix">
                              <div class="form-group">                
                                      <div class="col-sm-5 ">
                                      <label class="control-label"  for="phonenum">Phone No.: </label>&nbsp;<span class="required">*</span>
                                      </div>
                                      <div class="col-sm-7 ">
                                      <input
                                          type="text" name="phoneNo" id="phonenum" placeholder="" value="" size="30"
                                          data-toggle="tooltip" title="Phone No. is required"
                                          class="form-control placeholder " ng-model="shipment.exporterPhoneNo"/>                            
                                       </div>
                              </div>
                          </div>
                          <div class=" af-outer af-required clearfix">
                              <div class="form-group">                
                                      <div class="col-sm-5 ">
                                      <label class="control-label"  for="email">Email:</label>&nbsp;<span class="required">*</span>
                                      </div>
                                      <div class="col-sm-7">
                                      <input
                                          type="text" name="email" id="email" placeholder="" value="" size="30"
                                          data-toggle="tooltip" title="Email is required"
                                          class="form-control placeholder input-email" ng-model="shipment.exporterEmail"/>                            
                                       </div>
                              </div>
                          </div>
                          
                          
                         <div class=" af-outer af-required clearfix">
                             <div class="form-group">
                                 <div class="col-sm-5 ">
                                     <label class="control-label"  for="export_postal">Zip/Postal Code:</label>&nbsp;<span class="required">*</span>
                                     </div>
                                     <div class="col-sm-7">
                                     <input
                                         type="text" name="export_postal" id="export_postal" placeholder="" value="" size="30"
                                         data-toggle="tooltip" title="Zip/Postal is required"
                                         class="form-control placeholder" ng-model="shipment.exporterZip"/>                            
                                      </div>
                              </div>
                         </div>
                      <!-- /User form Left part -->
                      </div>
					  
					  
                      <div class="col-sm-12 col-md-12 clearfix " >&nbsp;</div>

                      <div class="col-sm-6 col-md-6">
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                          <div class="col-sm-5 ">
                                          <label class="control-label"  for="mode_transport">Mode of Transportation:</label> 
                                          </div>
                                          <div class="col-sm-7">
                                          <input
                                              type="text" name="mode_transport" id="mode_transport" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="Mode of transportation is required"
                                              class="form-control placeholder" ng-model="shipment.usppiMot"/>                            
                                           </div>
                                  </div>
                              </div>
                              
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                          <div class="col-sm-5 ">
                                          <label class="control-label"  for="port_export">Port of Export:</label> 
                                          </div>
                                          <div class="col-sm-7">
                                          <input
                                              type="text" name="port_export" id="port_export" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="Port of export is required"
                                              class="form-control placeholder" ng-model="shipment.usppiPortOfExport"/>                            
                                           </div>
                                  </div>
                              </div>            
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                      <div class="col-sm-5 ">
                                          <label class="control-label"  for="us_export">USPPI Exporter Id:</label> 
                                          </div>
                                          <div class="col-sm-7">
                                          <input
                                              type="text" name="us_export" id="us_export" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="US PPI exporter Id is required"
                                              class="form-control placeholder" ng-model="shipment.usppiExporterId"/>                            
                                           </div>
                                   </div>
                              </div> 
                              <div class=" af-outer af-required clearfix">
                                  <div class="form-group">
                                      <div class="col-sm-5 ">
                                          <label class="control-label"  for="usppi_export">USPPI Exporter ID Type:</label> 
                                          </div>
                                          <div class="col-sm-7">
                                          
                                          <select class="form-control" ng-model="shipment.usppiExporterIdType" name="usppiExporterIdType">
                                          	<option value="">Select</option>
                                          	<option value="E">EIN</option>
                                          	<option value="D">DUNS</option>
                                          	<option value="T">Foreign</option>
                                          </select>
                                          
                                          <!-- <input
                                              type="text" name="usppi_export" id="usppi_export" placeholder="" value="" size="30"
                                              data-toggle="tooltip" title="USPPI exporter ID type is required"
                                              class="form-control placeholder" ng-model="shipment.usppiExporterIdType"/>    -->                         
                                           </div>
                                   </div>
                              </div>                                
                              
                      </div>
                                                  
                      <div class="col-sm-6 col-md-6 ">
                          <div class=" af-outer af-required clearfix">                
                              <div class="form-group ">
                                  <div class="col-sm-5 ">
                                      <label class="control-label"  for="usppi_firstname">USPPI First Name:</label> 
                                      </div>
                                      <div class="col-sm-7">
                                      <input
                                          type="text" name="usppi_firstname" id="usppi_firstname" placeholder="" value="" size="30"
                                          data-toggle="tooltip" title="USPPI first name is required"
                                          class="form-control placeholder" ng-model="shipment.usspiFirstName"/>                            
                                  </div>
                               </div>
                          </div>              
                          <div class=" af-outer af-required clearfix">
                              <div class="form-group">
                                      <div class="col-sm-5 ">
                                      <label class="control-label"  for="usppi_lastname">USPPI Last Name:</label> 
                                      </div>
                                      <div class="col-sm-7">
                                      <input
                                          type="text" name="usppi_lastname" id="usppi_lastname" placeholder="" value="" size="30"
                                          data-toggle="tooltip" title="Company name is required"
                                          class="form-control placeholder" ng-model="shipment.usspiLastName"/>                            
                                  </div>
                              </div>
                          </div>            
                          <div class=" af-outer af-required clearfix">
                              <div class="form-group">                
                                      <div class="col-sm-5 ">
                                      <label class="control-label"  for="usppi_phone">USPPI Phone: </label> 
                                      </div>
                                      <div class="col-sm-7 ">
                                      <input
                                          type="text" name="usppi_phone" id="usppi_phone" placeholder="" value="" size="30"
                                          data-toggle="tooltip" title="Phone No. is required"
                                          class="form-control placeholder " ng-model="shipment.usspiPhone"/>                            
                                       </div>
                              </div>
                          </div>
                          
                           <!-- <div class=" af-outer af-required clearfix">
                              <div class="form-group">                
                                      <div class="col-sm-5 ">
                                      <label class="control-label"  for="usppi_phone">AES Option: </label> 
                                      </div>
                                      <div class="col-sm-7 ">
                                      <select ng-model="shipment.aesOption" class="form-control" name="aes_option">
	                                      	<option value="2">Option 2</option>
	                                      	<option value="4">Option 4</option>
                                      </select>
                                                       
                                       </div>
                              </div>
                          </div> -->
                          
                      <!-- /User form Left part -->
                      </div>

					  <div class="clearfix"></div>

                      <div class="col-sm-6 col-md-6 margin-10tb clearfix">
                          <!-- <div class=" margin-20tb text-right" >
                              <input type="button" name="Next" value="Next" ng-click="saveShipment('continue', 'exporter')" id=" " class="btn btn-primary">
                              <input type="submit" name="Save Shipment" value="Save shipment" ng-click="saveShipment('save', 'exporter')" id="btn-license" class="btn btn-primary">
                              <input type="button" name="Cancel" value="Cancel" gtn-click="/createNewShipment" id=" " class="btn btn-danger">
                          </div> -->
                          <div>
                              <input type="button" name="Next" value="Next" ng-click="saveShipment('continue', 'exporter')" id=" " class="btn btn-license">
                              <input type="submit" name="Save Shipment" value="Save shipment" ng-click="saveShipment('save', 'exporter')" id="btn-license" class="btn btn-license">
                              <input type="button" name="Cancel" value="Cancel" gtn-click="/createNewShipment" id=" " class="btn btn-black">
                          </div>
                      </div>                             
                 </form>
               <!-- /user form -->
            	
            </div>
       			   
			   <!-- <div>
			   		<div ng-view></div>
			   </div> -->
			                        
         </div>         
       </div>
     </div>
</div>
<style>
	input.form-control, select.form-control{
		margin-bottom: 5px;
	}
	.btn-primary {
	    color: #fff;
	    background-color: #337ab7;
	    border-color: #2e6da4;
	}
	.btn-success {
	    color: #fff;
	    background-color: #5cb85c;
	    border-color: #4cae4c;
	}
</style>