<div ng-init="parentInit('parties');initFreightForwarder()" ng-controller="exportOperationCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
      <!-- TOVAR INFORMATION -->
	  <div class="tovar_information">						
		 <div class="box visible">
			  
		   <div ng-include src="'views/export/menu.html'"></div>
			   
            <div class="col-sm-12 col-md-12 margin-bottom no_pad response_info">
            	      	
            	 <!-- user form -->
           	                    <form name="exporter-form" class="af-user row">
			                        <div class="col-sm-6 col-md-6">
			                        		
			                        		<div class=" af-outer af-required clearfix">
			                                    <div class="form-group">
			                                            <div class="col-sm-5 enti_tt_alig">
			                                            <label for="name">EIN (IRS) ID Type/ No:</label> 
			                                            </div>
			                                            <div class="col-sm-3">
					                                            <select class="form-control" name="filer_id_type" ng-model="shipment.ffFilerIdType">
					                                            	<option value="">Select</option>
						                                          	<option value="E">EIN</option>
						                                          	<option value="D">DUNS</option>
					                                            </select>
					                                     </div>
					                                     
					                                     <div class="col-sm-4">       
					                                            <input
					                                                type="text" name="ffFilerIdNo" id="ffFilerIdNo" placeholder="" value="" size="50"
					                                                data-toggle="tooltip" title="Filter No is required"
					                                                class="form-control placeholder" ng-model="shipment.ffFilerIdNo"/>                            
			                                             </div>
			                                    </div>
			                                </div>
			                        
			                                <div class=" af-outer af-required clearfix">
			                                    <div class="form-group">
			                                            <div class="col-sm-5 enti_tt_alig">
			                                            <label for="name">Name:</label> 
			                                            </div>
			                                            <div class="col-sm-7">
			                                            <input
			                                                type="text" name="name" id="name" placeholder="" value="" size="30"
			                                                data-toggle="tooltip" title="Name is required"
			                                                class="form-control placeholder" ng-model="shipment.freightForwaderName"/>                            
			                                             </div>
			                                    </div>
			                                </div>
			                                            
			                                <div class=" af-outer af-required clearfix">
			                                    <div class="form-group">
			                                        <div class="col-sm-5 enti_tt_alig">
			                                            <label for="address_tt">Address:</label> 
			                                            </div>
			                                            <div class="col-sm-7">
			                                            <input
			                                                type="text" name="address_tt" id="address_tt" placeholder="" value="" size="30"
			                                                data-toggle="tooltip" title="Address is required"
			                                                class="form-control placeholder" ng-model="shipment.freightForwaderAddrLine1"/>                            
			                                             </div>
			                                     </div>
			                                </div> 
			                                
			                                <div class="af-outer af-required clearfix">                
			                                    <div class="col-sm-5 enti_tt_alig">
			                                    <label for="export_city">City: </label> 
			                                    </div>
			                                    <div class="col-sm-7 ">                                                    
			                                            <div class="form-group selectpicker-wrapper">
			                                               <!--  <select class="form-control input-shipped" ng-model="shipment.freightForwaderCity" id="export_city" data-live-search="false" data-width="100%"
			                                                    data-toggle="tooltip" title="Day">
			                                                    <option value="">Select City</option>
			                                                    <option value="01">ABC </option>
			                                                    <option value="02">XYZ</option>
			                                                </select> -->
			                                                <input
					                                              type="text" name="export_city" id="export_city" placeholder="" value="" size="30"
					                                              data-toggle="tooltip" title="Address is required"
					                                              class="form-control placeholder" ng-model="shipment.freightForwaderCity"/>
			                                            </div>
			                                    </div>
			                            </div>
			                                <div class=" af-outer af-required clearfix">
			                                    <div class="form-group af-required">                
			                                    <div class="col-sm-5 enti_tt_alig">
			                                    <label for="export_state">State: </label> 
			                                    </div>
			                                    <div class="col-sm-7 autosuggest">
			                                        
			                                            <!-- <div class="form-group selectpicker-wrapper">
			                                                <select class="form-control" name="ff_state" ng-model="shipment.freightForwaderState" id="export_state" data-live-search="false" data-width="100%"
			                                                    data-toggle="tooltip" title="Day" ng-options="state.stateCode as state.stateName for state in states">
			                                                    <option value="">Select State</option>
			                                                    
			                                                </select>
			                                            </div> -->
			                                            
			                                            <input
			                                                type="text" name="freightForwaderStateName" id="freightForwaderStateName" uib-typeahead="state as state.stateCode for state in getStates($viewValue, shipment.freightForwaderCountryCode)"
			                                                data-toggle="tooltip" title="State is required"
			                                                class="form-control placeholder" ng-model="shipment.freightForwaderStateName"
			                                                typeahead-template-url="stateTmpl.html"
			                                                typeahead-editable="false" 
			                                                typeahead-min-length="0" 
			                                                typeahead-on-select="selectStateEvent($item, $model, $label, 'freightForwaderStateName', 'freightForwaderState', shipment)" autocomplete="off" />
				                                        <input
				                                              type="text" name="freightForwaderState" id="freightForwaderState" placeholder="" value="" size="30"
				                                              data-toggle="tooltip" 
				                                              class="form-control placeholder" ng-model="shipment.freightForwaderState" ng-show="false" />  
					                                            
			                                    </div>
			                            </div>
			                                </div>
			                                
			                                <div class=" af-outer af-required clearfix">
			                                    <div class="form-group af-required">                
				                                    <div class="col-sm-5 enti_tt_alig">
				                                    <label for="export_country">Country: </label> 
				                                    </div>
				                                    <div class="col-sm-7 autosuggest">
				                                        
				                                            <!-- <div class="form-group selectpicker-wrapper">
				                                                <select class="form-control" name="ff_country" ng-model="shipment.freightForwaderCountryCode" id="export_country" data-live-search="false" data-width="100%"
				                                                    data-toggle="tooltip" title="Day" ng-options="country.countryCode as country.countryName for country in countries"
				                                                    ng-change="updateStates(shipment.freightForwaderCountryCode)">
				                                                    <option value="">Select Country</option>
				                                                    
				                                                </select>
				                                            </div> -->
			                                             <input
			                                                type="text" name="freightForwaderCountryName" id="freightForwaderCountryName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
			                                                data-toggle="tooltip" title="Country is required"
			                                                class="form-control placeholder left-inp" ng-model="shipment.freightForwaderCountryName"
			                                                typeahead-template-url="countryTmpl.html"
			                                                typeahead-editable="false" 
			                                                typeahead-min-length="0" ng-blur="clearCountry('freightForwaderCountryCode', 'freightForwaderStateName', 'freightForwaderState', shipment.freightForwaderCountryName, shipment)"
			                                                typeahead-on-select="selectCountryEvent($item, $model, $label, 'freightForwaderCountryName', 'freightForwaderCountryCode', shipment)" autocomplete="off"/>
										      	
										      			<input name="freightForwaderCountryCode" ng-model="shipment.freightForwaderCountryCode" class="form-control right-inp" readonly="true"/>
		                                        
				                                    </div>
		                            			</div>
			                                </div>
			                                
			                                <div class=" af-outer af-required clearfix">
			                                    <div class="form-group">
			                                        <div class="col-sm-5 enti_tt_alig">
			                                            <label for="export_postal">Zip/Postal Code:</label> 
			                                            </div>
			                                            <div class="col-sm-7">
			                                            <input
			                                                type="text" name="export_postal" id="export_postal" placeholder="" value="" size="30"
			                                                data-toggle="tooltip" title="Zip/Postal is required"
			                                                class="form-control placeholder" ng-model="shipment.freightForwaderZip"/>                            
			                                             </div>
			                                     </div>
			                                </div>
			                        </div>
			                                                    
			                        <div class="col-sm-6 col-md-6 ">
			                        	<div class=" af-outer af-required clearfix">
			                                    <div class="form-group">
			                                            <div class="col-sm-5 enti_tt_alig">
			                                            
			                                            </div>
			                                            <div class="col-sm-7">
			                                                                        
			                                             </div>
			                                    </div>
			                                </div>
			                        
			                            <div class=" af-outer af-required clearfix">
			                                    <div class="form-group">
			                                            <div class="col-sm-5 enti_tt_alig">
			                                            <label for="firstname">First Name:</label> 
			                                            </div>
			                                            <div class="col-sm-7">
			                                            <input
			                                                type="text" name="firstname" id="firstname" placeholder="" value="" size="30"
			                                                data-toggle="tooltip" title="First name is required"
			                                                class="form-control placeholder" ng-model="shipment.freightForwaderFirstName"/>                            
			                                             </div>
			                                    </div>
			                                </div>
			                            
			                            <div class=" af-outer af-required clearfix">                
			                                <div class="form-group ">
			                                    <div class="col-sm-5 enti_tt_alig">
			                                        <label for="lastname">Last Name:</label> 
			                                        </div>
			                                        <div class="col-sm-7">
			                                        <input
			                                            type="text" name="lastname" id="lastname" placeholder="" value="" size="30"
			                                            data-toggle="tooltip" title="Last name is required"
			                                            class="form-control placeholder" ng-model="shipment.freightForwaderLastName"/>                            
			                                    </div>
			                                 </div>
			                            </div>              
			                            <div class=" af-outer af-required clearfix">
			                                <div class="form-group">
			                                        <div class="col-sm-5 enti_tt_alig">
			                                        <label for="compname">Company Name:</label> 
			                                        </div>
			                                        <div class="col-sm-7">
			                                        <input
			                                            type="text" name="Company" id="compname" placeholder="" value="" size="30"
			                                            data-toggle="tooltip" title="Company name is required"
			                                            class="form-control placeholder" ng-model="shipment.freightForwaderCompanyName"/>                            
			                                    </div>
			                                </div>
			                            </div>            
			                            <div class=" af-outer af-required clearfix">
			                                <div class="form-group">                
			                                        <div class="col-sm-5 enti_tt_alig">
			                                        <label for="phonenum">Phone No.: </label> 
			                                        </div>
			                                        <div class="col-sm-7 ">
			                                        <input
			                                            type="text" name="phoneNo" id="phonenum" placeholder="" value="" size="30"
			                                            data-toggle="tooltip" title="Phone No. is required"
			                                            class="form-control placeholder " ng-model="shipment.freightForwaderPhone"/>                            
			                                         </div>
			                                </div>
			                            </div>
			                            <div class=" af-outer af-required clearfix">
			                                <div class="form-group">                
			                                        <div class="col-sm-5 enti_tt_alig">
			                                        <label for="email">Email:</label> 
			                                        </div>
			                                        <div class="col-sm-7">
			                                        <input
			                                            type="text" name="email" id="email" placeholder="" value="" size="30"
			                                            data-toggle="tooltip" title="Email is required"
			                                            class="form-control placeholder input-email" ng-model="shipment.freightForwaderEmail"/>                            
			                                         </div>
			                                </div>
			                            </div>
			                            <div class=" af-outer af-required clearfix">
			                                <div class="form-group">                
			                                        <div class="col-sm-5 enti_tt_alig">
			                                        <label for="transmitToAes" >Transmit to AES:</label> 
			                                        </div>
			                                        <div class="col-sm-7">
			                                        <input
			                                            type="checkbox" name="transmitToAes" id="transmitToAes"
			                                            data-toggle="tooltip" ng-checked="{{ shipment.transmitToAes }}"
			                                            class="" ng-model="shipment.transmitToAes"/>                            
			                                         </div>
			                                </div>
			                            </div>
			                        <!-- /User form Left part -->
			                        </div>
			
									<div class="clearfix"></div>
			
			                        <div class="col-sm-6 col-md-6 margin-10tb clearfix" >
			                            <div>
			                                <input type="button" name="Next" value="Next" ng-click="saveShipment('continue', 'freightForwarder')" id=" " class="btn btn-license">
			                                <input type="submit" name="Save Shipment" value="Save shipment" ng-click="saveShipment('save', 'freightForwarder')" id="btn-license" class="btn btn-license">
			                                <input type="button" name="Cancel" value="Cancel" ng-click="cancelShipment(shipment.id, 'intermediateConsignee')" id=" " class="btn btn-black">
			                            </div>
			                        </div>                             
                                </form>
                   <!-- /user form -->
            	
            </div>
       			   
			   <!-- <div>
			   		<div ng-view></div>
			   </div> -->
			                        
         </div>         
       </div>
     </div>
</div>