<div ng-init="init()" ng-controller="controller">
	<div ng-init="initGenerateShipmentDocPopup()" ng-controller="exportOperationCtlr">
		<div class="modal-dialog modal-md">	
			<div class="modal-content {{gtnClass}}">
				<div class="modal-header">
			            <h3 class="modal-title" id="modal-title">Generate Documents</h3>
			        </div>
			        <div class="modal-body" id="modal-body">
			        
					        <!-- Error Messages -->
						    <div class="row ocr-error" ng-show="errors.length > 0">			
								<div class="col-xs-12">				
									<div class="alert fade in alert-danger">
										<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
										<h4>Error!</h4>
										<ul class="msg-ul">
											<li ng-repeat="error in errors track by $index">
						            			{{ error.msg }}
						            		</li>
										</ul>
									</div>
								</div>
							</div>
							      
						      <!-- Warning Messages -->
						      <div class="row ocr-warning" ng-show="warnings.length > 0">
						        <div class="col-xs-12">
						          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
						            <h4>Warning!</h4>
						            <ul class="msg-ul">
						            	<li ng-repeat="warning in warnings track by $index">
						            		{{ warning.msg }}
						            	</li>
						            </ul>
						          </div>
						        </div>
						      </div>
							      
						      <!-- Info Messages -->
						      <div class="row ocr-info" ng-show="infos.length > 0">
						        <div class="col-xs-12">
						          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
						            <h4>Information!</h4>
						            <ul class="msg-ul">
						            	<li ng-repeat="info in infos track by $index">
						            		{{ info.msg }}
						            	</li>
						            </ul>
						          </div>
						        </div>
						      </div>
			        	
			        	
		        		<div class="row margin-10tb" >                
		         	       <table class="table table-bordered table-hover table-condensed">
		                        <thead>
		                            <tr style="background-color: #f9f9f9">
		                                <th class="" style="width: 5%">#</th>
		                                <th class="" style="width: 70%">Document Name</th>
		                                <th class="" style="width: 10%">Download</th>
		                                <th class="" style="width: 10%">Email</th>
		                            </tr>
		                        </thead>
		                        
		                        <tbody>
		                        
		                        	<tr class="cart_item">
		                                <td class=""><span class="m-num">#</span> 1.</td>
		                                <td class="">Packaging List</td>
		                                <td class="">
		                                	<a href="getShipmentReport?shipId={{shipmentId}}&type=packingList" style="color: black">
		                                		<i class="fa fa-download fa-2" aria-hidden="true" ></i>
		                                	</a>
		                                </td>
		                                <td class=""><i class="fa fa-envelope fa-2" aria-hidden="true"></i></td>
		                            </tr>
		                        	
		                           <tr class="cart_item">
		                                <td class=""><span class="m-num">#</span> 2.</td>
		                                <td class="">Proforma Invoice</td>
		                                <td class="">
		                                	<a href="getShipmentReport?shipId={{shipmentId}}&type=proformaInvoice" style="color: black">
		                                		<i class="fa fa-download fa-2" aria-hidden="true" ng-click="downloadShipmentDoc(shipmentId, 'proformaInvoice')"></i>
		                                	</a>
		                                </td>
		                                <td class=""><i class="fa fa-envelope fa-2" aria-hidden="true"></i></td>
		                            </tr>
		                            
		                            <tr class="cart_item">
		                                <td class=""><span class="m-num">#</span> 3.</td>
		                                <td class="">Summary Commercial Invoice</td>
		                                <td class="">
		                                	<a href="getShipmentReport?shipId={{shipmentId}}&type=summaryCommercial" style="color: black">
		                                		<i class="fa fa-download fa-2" aria-hidden="true"  ng-click="downloadShipmentDoc(shipmentId, 'summaryCommercial')"></i>
		                                	</a>
		                                </td>
		                                <td class=""><i class="fa fa-envelope fa-2" aria-hidden="true"></i></td>
		                            </tr>
		                            
		                            <tr class="cart_item">
		                                <td class=""><span class="m-num">#</span> 4.</td>
		                                <td class="">WholeSaler Commercial Invoice</td>
		                                <td class="">
		                                	<a href="getShipmentReport?shipId={{shipmentId}}&type=wholesalerCommercial" style="color: black">
		                                		<i class="fa fa-download fa-2" aria-hidden="true"  ng-click="downloadShipmentDoc(shipmentId, 'wholesalerCommercial')"></i>
		                                	</a>	
		                                </td>		                                	
		                                <td class=""><i class="fa fa-envelope fa-2" aria-hidden="true"></i></td>
		                            </tr>
		                                           
		                        </tbody>
							</table>
		                </div>    
			        	
			        </div>
			        <div class="modal-footer">
			            <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
			            <button class="btn btn-license" type="button" ng-click="cancel()">Close</button>
			        </div>
			
			</div>
		</div>
	</div>	
</div>