<div ng-init="parentInit('');init()" ng-controller="exportOperationCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
      <!-- TOVAR INFORMATION -->
	  <div class="tovar_information">						
		 <div class="box visible">
			  
		   <!-- <div ng-include src="'views/export/menu.html'"></div> -->
		   
		  <!--  <div class="row">			
						<div class="col-xs-9">	
							<ul class="nav2">
								<li class="active">
									<a href="#createNewShipment">Shipment</a>
								</li>
								<li ng-class="{'hover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"><a href="#" class="parent2" style="margin-right: 7px">Parties</a>
									<ul class="parent2-content">
										<li class="active" ><a href="Exporter.html" >Exporter </a></li>
										<li><a href="Exporter_Ultimate_Consignee.html" >Ultimate Consignee</a></li>
										<li><a href="Exporter_Intermediate_Consignee.html" >Intermediate Consignee</a></li>
							            <li><a href="Exporter_Freight_Forwarder.html" >Freight Forwarder</a></li>
									</ul>
								</li>
								<li><a href="Exporter_Billing.html">Billing & Terms</a></li>
								<li ng-class="{'hover':itemshovering}" ng-mouseenter="itemshovering=true" ng-mouseleave="itemshovering=false"><a href="Exporter_item_cartons.html" class="parent2" style="margin-right: 7px">Item & Cartons</a>
									<ul class="parent2-content">
										<li><a href="Exporter_Items.html" >Item</a></li>
										<li><a href="Exporter_Cartons.html" >Cartons</a></li>
									</ul>
								</li>
								<li><a href="Exporter_documents.html" >Documents</a></li>
							</ul>
							
							<div class="col-sm-6 col-md-6 wel_tt wel_colo margin-top10 no_pad" style="margin-top: 20px">
				                <div class="">
				                     <span class="head strong">Export Shipment</span>
				                </div>
				               
				            </div>
						</div>
						
						<div class="col-sm-3 col-md-3 text-right">
								<div class="ship_icon">
		  	                        <a href="javascript:void(0)"><span class="ship_big ship_icn_img flt_l" ></span>
		                            	WLS
		                            </a>		                            
							    </div>
		                        
		                        <div class="ship_icon">
		  	                        <a href="javascript:void(0)"><span class="ship_big ship_icn_img2 flt_l" ></span>
		                            	LS
		                            </a>		                            
							    </div>
						</div>
								   		
			   </div> -->
			   
		   <!-- 
		   <hr class="margin0-bottom">  -->
			   
            <div class="col-sm-12 col-md-12 no_pad response_info">
            
            	    <!-- Error Messages -->
				    <div class="row ocr-error" ng-show="errors.length > 0">			
						<div class="col-xs-12">				
							<div class="alert fade in alert-danger">
								<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
								<h4>Error!</h4>
								<ul class="msg-ul">
									<li ng-repeat="error in errors track by $index">
				            			{{ error.msg }}
				            		</li>
								</ul>
							</div>
						</div>
					</div>
					      
				      <!-- Warning Messages -->
				      <div class="row ocr-warning" ng-show="warnings.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
				            <strong>Warning!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="warning in warnings track by $index">
				            		{{ warning }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
					      
				      <!-- Info Messages -->
				      <div class="row ocr-info" ng-show="infos.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
				            <strong>Information!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="info in infos track by $index">
				            		{{ info }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
				     
            
            
            	<div class="row">
            		<div class="col-xs-12">
            			<fieldset>
            				<legend>New Shipment</legend>
            			
            	<!-- <h4 class="margin10-top strong"></h4> -->            	
            	 <!-- user form -->
			                 <form name="shipment-form" class="af-user row">
			                         <div class="col-sm-12 col-md-12">
			                                     <div class=" af-outer af-required clearfix">
			                                         <div class="form-group">
			                                                 <div class="col-sm-3 enti_tt_alig">
			                                                 <label for="shipment_num">Shipment Number:</label> 
			                                                 </div>
			                                                 <div class="col-sm-3">
			                                                 <input
			                                                     type="text" name="shipment_num" id="shipment_num" placeholder="" value="" size="30"
			                                                     data-toggle="tooltip" title="Shipment Number is required"
			                                                     class="form-control placeholder" ng-model="shipment.shipmentNo" />                            
			                                                  </div>
			                                                  
			                                                  <div class="col-sm-3 enti_tt_alig">
			                                                 	<label for="date_export">Date of Export:</label> 
			                                                 </div>
			                                                 <div class="col-sm-3">
			                                                 <input
			                                                     type="date" name="date_export" id="date_export" placeholder="" value="" size="30"
			                                                     data-toggle="tooltip" title="Date of Export is required"
			                                                     class="form-control placeholder" ng-model="shipment.exportDate"/>                            
			                                                  </div>
			                                         </div>
			                                     </div>            
			                                     <!-- <div class=" af-outer af-required clearfix">
			                                         <div class="form-group">
			                                             
			                                          </div>
			                                     </div>   -->          
			                                     <!--<div class=" af-outer af-required clearfix">
			                                         <div class="form-group">                
			                                                 <div class="col-sm-5 enti_tt_alig">
			                                                 <label for="country_shipped">Country Shipped From:</label> 
			                                                 </div>
			                                                 <div class="col-sm-7">
			                                                 <input
			                                                     type="text" name="country_shipped" id="country_shipped" placeholder="" value="" size="30"
			                                                     data-toggle="tooltip" title="Country is required"
			                                                     class="form-control placeholder input-email"/>                            
			                                                  </div>
			                                         </div>
			                                     </div> -->
			                                     <div class=" af-outer af-required clearfix">                
			                                         <div class="col-sm-3 enti_tt_alig">
			                                         	<label for="shipped_country">Country Shipped From: </label> 
			                                         </div>
			                                         <div class="col-sm-3 autosuggest autosuggest100">                                                    
			                                                 <div class="form-group selectpicker-wrapper">
			                                                   
			                                                    <input
						                                                type="text" name="countryOfExportName" id="countryOfExportName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
						                                                data-toggle="tooltip" title="Country is required"
						                                                class="form-control placeholder left-inp" ng-model="shipment.countryOfExportName"
						                                                typeahead-template-url="countryTmpl.html"
						                                                typeahead-editable="false" 
						                                                typeahead-min-length="0" ng-blur="clearCountry('countryOfExportCode', '', '', shipment.countryOfExportName, shipment)"
						                                                typeahead-on-select="selectCountryEvent($item, $model, $label, 'countryOfExportName', 'countryOfExportCode', shipment)" autocomplete="off"/>
														     
														      	<input name="countryOfExportCode" ng-model="shipment.countryOfExportCode" class="form-control right-inp" readonly="true" />
														         
			                                                 </div>
			                                         </div>
			                                         
			                                           <div class="col-sm-3 enti_tt_alig">
				                                       		<label for="desti_country">Country of Ultimate destination: </label> 
				                                       </div>
			                                       <div class="col-sm-3 autosuggest autosuggest100">
			                                           		
		                                           	   <input
				                                                type="text" name="countryOfUltConsigneeName" id="countryOfUltConsigneeName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
				                                                data-toggle="tooltip" title="Country is required"
				                                                class="form-control placeholder left-inp" ng-model="shipment.countryOfUltConsigneeName"
				                                                typeahead-template-url="countryTmpl.html"
				                                                typeahead-editable="false" 
				                                                typeahead-min-length="0" ng-blur="clearCountry('countryOfUltConsigneeCode', '', '', shipment.countryOfUltConsigneeName, shipment)"
				                                                typeahead-on-select="selectCountryEvent($item, $model, $label, 'countryOfUltConsigneeName', 'countryOfUltConsigneeCode', shipment)" autocomplete="off"/>
												     
												      	<input name="countryOfUltConsigneeCode" ng-model="shipment.countryOfUltConsigneeCode" class="form-control right-inp" readonly="true" />
												         	
			                                           		
			                                           		
			                                               <!-- <div class="form-group selectpicker-wrapper">
			                                                   <select class="form-control " id="desti_country" data-live-search="false" data-width="100%"
			                                                       data-toggle="tooltip" title="Day" ng-model="shipment.countryOfUltConsigneeCode">
			                                                       <option value="">Select Country</option>
			                                                       <option value="AU">Australia </option>
			                                                        <option value="US">USA </option>
			                                                        <option value="IN">India </option>
			                                                      	<option value="PK">Pakistan</option>
			                                                   </select>
			                                               </div> -->
			                                       </div>
			                                 </div>
			                                 <div class=" af-outer af-required clearfix">
			                                      
			                                       <div class="col-xs-3">
			                                       	<div class="" >
					                                     <input type="button" name="Next" value="Next" ng-click="saveShipment('continue', 'new')" id=" " class="btn btn-license">
					                                     <input type="submit" name="Save Shipment" value="Save shipment" ng-click="saveShipment('save', 'new')" id="btn-license" class="btn btn-license">
					                                     <!-- <input type="button" name="Cancel" value="Cancel" onclick="return this);" id=" " class="btn-license"> -->
					                                 </div>
			                                       </div>
			                                       
			                                 </div>
			                                     
			                                     
			                         </div>             
			                                                     
			                    </form>
                 		</fieldset>
            		</div>
            	</div>
                   <!-- /user form -->
            	
            </div>
            <!-- <hr class="margin0-bottom">
            <BR /> -->
              <div class="row af-user">
              	<div class="col-xs-12">
              	
              		<!-- <h4 class="margin10-top strong">Search</h4>   -->
              		<fieldset>
					  <legend>Search</legend>
					  
                                     
                                     <div class=" af-outer af-required clearfix">
                                         <div class="form-group">
                                             <div class="col-sm-4 enti_tt_alig">
                                                 <label for="date_export">Date of Export:</label> 
                                                 </div>
                                                 <div class="col-sm-5">
                                                 <input
                                                     type="date" name="date_export" placeholder="" value="" size="30"
                                                     data-toggle="tooltip" title="Date of Export is required"
                                                     class="form-control placeholder" ng-model="searchShip.exportDate"/>                            
                                                  </div>
                                          </div>
                                     </div>            
                                   
                                     <div class="form-group af-required">                
                                         <div class="col-sm-4 enti_tt_alig">
                                         <label for="shipped_country">Country Shipped From: </label> 
                                         </div>
                                         <div class="col-sm-5 ">                                                    
                                                 <div class="form-group selectpicker-wrapper">
                                                     <select class="form-control input-shipped" id="shipped_country" data-live-search="false" data-width="100%"
                                                         data-toggle="tooltip" title="Day" ng-model="searchShip.countryOfExportCode">
                                                         <option value="">Select Country</option>
                                                         <option value="IN">India </option>
                                                         <option value="PK">Pakistan</option>
                                                     </select>
                                                 </div>
                                         </div>
                                 	</div>
                                 <div class=" af-outer af-required clearfix">
                                     <div class="form-group af-required">                
                                       <div class="col-sm-4 enti_tt_alig">
                                       <label for="desti_country">Country of Ultimate destination: </label> 
                                       </div>
                                       <div class="col-sm-5 ">
                                           
                                               <div class="form-group selectpicker-wrapper">
                                                   <select class="form-control" id="desti_country" data-live-search="false" data-width="100%"
                                                       data-toggle="tooltip" title="Day" ng-model="searchShip.countryOfUltConsigneeCode">
                                                       <option value="">Select Country</option>
                                                       <option value="IN">India </option>
                                                       <option value="PK">Pakistan</option>
                                                   </select>
                                               </div>
                                       </div>
                                       <div class="col-sm-3">
                                       		<button type="button" class="btn btn-license" ng-click="searchShipment()">Search</button>
                                       		<button type="reset" class="btn btn-license" ng-click="resetSearchShipment()">Reset</button>
                                       </div>
                               		</div>
                                 </div>
                                                                        
                         <!-- </div>   -->
					  
				   </fieldset>
              	</div>
              </div>
                 
             
             <div class="col-sm-12 col-md-12 margin-bottom no_pad response_info" >
                   
                   <h4 class="margin10-top strong">Current Shipments</h4>
                   <!-- theme-flatwhite -->
                   <div class="info_div ">
                                          
                           <div class="col-sm-12 col-md-12 margin-10tb" id="">                
                           
                           <table class="exp_ship_table">
                                <thead>
                                    <tr>
                                        <th class="">No.</th>
                                        <th class="">Shipment  Number</th>
                                        <th class="">Export Date</th>
                                        <th class="">Status</th>
                                        <th class="">Ultimate Consignee</th>
                                        <th class="">Ultimate  Destination</th>
                                        <th class="">Get Rates</th>
                                        <th class="">Delete</th>
                                        <!-- <th>AES Filing</th> -->
                                    </tr>
                                </thead>
                                
                                <tbody>                                    
                                    <tr ng-repeat="shipment in shipments track by $index" class="exp_ship_item">
	                                        <td class="">{{ $index+1 }}</td>	                                        
	                                        <td class=""><a ng-click="editShipment(shipment.id)" style="color: blue">{{shipment.shipmentNo}}</a></td>
	                                        <td class="">{{shipment.exportDate | date:'dd/MM/yyyy'}}</td>
	                                        <td class="">{{shipment.status | shipmentStatusDescription}}</td>
	                                        <td class="">{{shipment.countryOfUltConsigneeCode}}</td>
	                                        <td class=""></td>
	                                        <td class=""></td>	                                        
	                                        <td class=""><a href="javascript:void(0)" ng-click='deleteShipment(shipment, $index)'><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
	                                        <!-- <td><button ng-click="createShipmentInEase(shipment.id)" class="btn-sm">AES</button></td> -->
                                    </tr>                                                
                                </tbody>
                            </table>
                        </div>
                        
                       <!--  <div class="margin-50tb clearfix"></div> -->

                   </div>
                  </div>
			   
			   <!-- <div>
			   		<div ng-view></div>
			   </div> -->
			                        
         </div>         
       </div>
     </div>
</div>