<div ng-init="initAesStatusHistoryPopup()" ng-controller="exportOperationCtlr">
	<div class="modal-dialog modal-lg">	
		<div class="modal-content {{gtnClass}}">
			<div class="modal-header">
		            <h3 class="modal-title" id="modal-title">AES Filing Status History : {{ shipmentNo }}</h3>
		        </div>
		        <div class="modal-body" id="modal-body">
		            <table class="table table-bordered table-hover table-condensed" style="font-size: 12px">
		            	
		            	<thead>
		            		<tr style="background-color: #f9f9f9">
		            			<th>Sr</th>
		            			<th>Submitted On</th>
		            			<th>Received On</th>
		            			<th>Old AES Status</th>
		            			<th>New AES Status</th>  
		            			<th>Old ITN</th>
		            			<th>New ITN</th>   
		            			<th>Old XTN</th>         			
		            			<th>New XTN</th>
		            		</tr>
		            	</thead>
		            	
		            	<tbody>
		            		
		            		<tr ng-repeat="item in aesStatusHistory track by $index">
		            			<td>{{$index + 1}}</td>
		            			<td>{{item.submittedOn | date:'MM/dd/yyyy HH:mm:ss'}}</td>
		            			<td>{{item.respondedOn | date:'MM/dd/yyyy HH:mm:ss'}}</td>
		            			<td>{{item.oldAes | aesStatus}}</td>		            			
		            			<td>{{item.newAes | aesStatus}}</td>
		            			<td>{{item.oldItn}}</td>
		            			<td>{{item.newItn}}</td>
		            			<td>{{item.oldXtn}}</td>
		            			<td>{{item.newXtn}}</td>		            			
		            		</tr>
		            	
		            	</tbody>
		            	
		            
		            </table>
		        </div>
		        <div class="modal-footer">
		            <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
		            <button class="btn btn-license" type="button" ng-click="cancel()">Close</button>
		        </div>
		
		</div>
	</div>
</div>	