<div ng-init="initLsPopup()" ng-controller="exportOperationCtlr">
	<div class="modal-dialog modal-lg">	
		<div class="modal-content {{gtnClass}}">
			<div class="modal-header">
		            <h3 class="modal-title" id="modal-title">License Screening</h3>
		        </div>
		        <div class="modal-body" id="modal-body">
		            <table class="table table-bordered table-hover table-condensed" style="font-size: 12px">
		            	
		            	<thead>
		            		<tr style="background-color: #f9f9f9">
		            			<th>Sr</th>
		            			<th>Item No</th>
		            			<th>Screening Type</th>
		            			<th>License Required</th>
		            			<th>Status</th>   
		            			<th>Report Required</th>         			
		            			<th>Screened On</th>
		            		</tr>
		            	</thead>
		            	
		            	<tbody>
		            		
		            		<tr ng-repeat="item in licenseItems track by $index">
		            			<td>{{$index + 1}}</td>
		            			<td>{{item.itemNo}}</td>
		            			<td>{{item.screenType}}</td>
		            			<td>{{item.licReq}}</td>
		            			<td>
		            				<span ng-if="item.licReq == 'N'">
									    <i class="fa fa-check-circle green" aria-hidden="true"></i>
									</span>
									<span ng-if="item.licReq == 'Y'">
									    <i class="fa fa-exclamation-circle red" aria-hidden="true"></i>
									</span>
									<span ng-if="item.licReq == 'NA'">
									    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
									</span>
		            			</td>
		            			<td>{{item.repReq}}</td>
		            			<td>{{item.screenedOn | date:'MM/dd/yyyy'}}</td>
		            		</tr>
		            	
		            	</tbody>
		            	
		            
		            </table>
		        </div>
		        <div class="modal-footer">
		            <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
		            <button class="btn btn-license" type="button" ng-click="cancel()">Close</button>
		        </div>
		
		</div>
	</div>
</div>	