<div ng-init="init()" ng-controller="controller">

<div ng-init="parentInit('parties');initSearchExporterPopup();" id="searchExporterPopupParent" ng-controller="exportOperationCtlr">
	<div class="modal-dialog modal-lg ">	
		<div class="modal-content af-entity {{gtnClass}}">
			<div class="modal-header">
		            <h3 class="modal-title" id="modal-title">Search Exporter</h3>
		        </div>
		        <div class="modal-body" id="modal-body">
		        	
		        	
		        	<form  novalidate>
					        	<div style="display: none">
					        		
					        	</div>
					        	
					        	<div class="search-container" ng-show="searchPage">
					        	
						        	<div class="row">
						        		
						        		<label class="col-xs-2 control-label">
						            		Exporter code
						            	</label>
						            	<div class="col-xs-3">
						            		 <input ng-model="exporter.exporterCode" class="form-control" />
						            	</div>
						        	
						            	<label class="col-xs-2 control-label">
						            		SBU Code
						            	</label>
						            	<div class="col-xs-3">
						            		<select ng-model="exporter.sbu" class="form-control ">
						            			<option value="">Select</option>
						            			<option ng-repeat="sbu in sbuList" value="{{sbu}}"> {{ sbu }} </option>
						            		</select>
						            	</div>						            	
						            </div>
						            
						            <div class="row">
						            	<label class="col-xs-2 control-label">
						            		Status
						            	</label>
						            	<div class="col-xs-3">
						            		<select ng-model="exporter.status" class="form-control ">
						            			<option value="">-Select-</option>
											    <option value="T">To Be Screened</option>
											    <option value="A">Approved</option>
											    <option value="H">On Hold</option>
											    <option value="D">Denied</option>
											    <option value="O">Overridden</option>
						            		</select>
						            	</div>
						            	
						            	<label class="col-xs-2 control-label">
						            		Exporter/Dept.
						            	</label>
						            	<div class="col-xs-3">
						            		 <input ng-model="exporter.department" class="form-control" />
						            	</div>
						            </div>
						            
						            <div class="row">
						            	<label class="col-xs-2 control-label">
						            		Address 1
						            	</label>
						            	<div class="col-xs-3">
						            		 <input ng-model="exporter.addrLine1" class="form-control" />
						            	</div>
						            	
						            	<label class="col-xs-2 control-label">
						            		City
						            	</label>
						            	<div class="col-xs-3">
						            		 <input ng-model="exporter.city" class="form-control" />
						            	</div>
						            </div>
						            
						            <div class="row">
						            	<label class="col-xs-2 control-label">
						            		Address 2
						            	</label>
						            	<div class="col-xs-3">
						            		 <input ng-model="exporter.addrLine2" class="form-control" />
						            	</div>
						            	
						            	<label class="col-xs-2 control-label">
						            		State
						            	</label>
						            	<div class="col-xs-3 autosuggest">
						            		 <!-- <input ng-model="exporter.state" class="form-control" /> -->
						            		 
						            		 <input
				                                   type="text" name="stateName" id="stateName" uib-typeahead="state as state.stateCode for state in getStates($viewValue, exporter.country)"
				                                   data-toggle="tooltip" title="State is required"
				                                   class="form-control placeholder" ng-model="exporter.stateName"
				                                   typeahead-template-url="stateTmpl.html"
				                                   typeahead-editable="false" 
				                                   typeahead-min-length="0" 
				                                   typeahead-on-select="selectStateEvent($item, $model, $label, 'stateName', 'state', exporter)" autocomplete="off" />
				   		 						
						            	</div>
						            	
						            	<div class="col-xs-1">
						            		 <label class="" style="padding-top: 4px;">{{ exporter.state }}</label>
						            		 <input ng-model="exporter.state" ng-show="false" />
						            	</div>
						            </div>
						            
						            <div class="row">
						            	<label class="col-xs-2 control-label">
						            		Telephone
						            	</label>
						            	<div class="col-xs-3">
						            		 <input ng-model="exporter.telephone" class="form-control" />
						            	</div>
						            	
						            	<label class="col-xs-2 control-label">
						            		Country
						            	</label>
						            	
						            	<div class="col-xs-3 autosuggest">										      	
								      		<input
				                                   type="text" name="countryName" id="countryName" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
				                                   data-toggle="tooltip" title="Country is required"
				                                   class="form-control placeholder" ng-model="exporter.countryName"
				                                   typeahead-template-url="countryTmpl.html"
				                                   typeahead-editable="false" 
				                                   typeahead-min-length="0" ng-blur="clearCountry('country', 'stateName', 'state', exporter.countryName, exporter)"
				                                   typeahead-on-select="selectCountryEvent($item, $model, $label, 'countryName', 'country', exporter)" autocomplete="off"/>
				 
								      	</div>
						            	
						            	<div class="col-xs-1" style="width: 10.33%">
						            		 <input name="country" ng-model="exporter.country" class="form-control" readonly="true"/>
						            	</div>
						            </div>
						            
						            
						            <div class="row">
						            	<label class="col-xs-2 control-label">
						            		Fax
						            	</label>
						            	<div class="col-xs-3">
						            		 <input ng-model="exporter.fax" class="form-control" />
						            	</div>
						            	
						            	<label class="col-xs-2 control-label">
						            		Active
						            	</label>
						            	<div class="col-xs-3">
						            		<select ng-model="exporter.activeStr" class="form-control ">
							            		<option value="">-ALL-</option>
											    <option value="Y">Active</option>
											    <option value="N">Inactive</option>
										    </select>
						            	</div>
						            </div>
						            
						            <div class="row">
						            	<label class="col-xs-2 control-label">
						            		Sort By
						            	</label>
						            	<div class="col-xs-3">
						            		<select ng-model="exporter.sortBy" class="form-control ">
											    <option value="expCode">Exporter Code</option>
											    <option value="expName">Exporter/Department</option>
											    <option value="expAddr1">Address 1</option>
											    <option value="expAddr2">Address 2</option>
											    <option value="expCity">City</option>
											    <option value="expStateName">State</option>
											    <option value="expCountryName">Country</option>
										    </select>
						            	</div>
						            	
						            	<label class="col-xs-2 control-label">
						            		Direction
						            	</label>
						            	<div class="col-xs-3">
						            		<select ng-model="exporter.direction" class="form-control ">
											    <option value="ASC">Ascending</option>
											    <option value="DESC">Decending</option>
										    </select>
						            	</div>
						            </div>
						        
						            <div class="row btn-row-bottom">
						            	<div class="col-xs-6">
						            		<button class="btn btn-license" type="button" ng-click="searchExporter()" >Search</button>	
						            		<button class="btn btn-black" type="button" ng-click="cancel()">Close</button>	            		
						            	</div>
						            	
						            </div>
					            
					        	</div>
					        	
					        	<div class="result-conatiner" ng-hide="searchPage">
					        		
					        		<div class="row btn-row">
						            	<div class="col-xs-6">
						            		<button class="btn btn-license" type="button" ng-click="selectExporter()">Select</button>	
						            		<button class="btn btn-black" type="button" ng-click="goToSearch();">New Search</button>	
						            		<button class="btn btn-black" type="button" ng-click="cancel(); exporterResults=[];">Close</button>            		
						            	</div>
						            	
						            </div>
						            
					        		<div class="row" style="margin-bottom: 5px">
					        			<div class="col-xs-6">
					        				Total Records : {{ exporterResults.length }}
					        			</div>
					        		</div>
					        		
					        		<div class="row">
					        			<div class="col-xs-12">
						        			 <table class="table table-bordered table-hover table-condensed" style="font-size: 12px">
						            	
								            	<thead>
								            		<tr style="background-color: #f9f9f9">
								            			<th style="width: 5%">Select</th>
								            			<th>Sr</th>
								            			<th>Code</th>
								            			<th>Department</th>
								            			<th>Country</th>
								            			<th>SBU</th>  
								            			<th>Status</th>			            			       			
								            			<th style="width: 10%">Created On</th>
								            		</tr>
								            	</thead>
								            	
								            	<tbody>
								            		
								            		<tr ng-repeat="exporter in exporterResults track by $index">
								            			<td><input type="radio" name="selectedExporter" ng-model="selectedExporter" ng-value="exporter.expCode" /> </td>
								            			<td>{{$index+1}}</td>
								            			<td>{{exporter.expCode}}</td>
								            			<td>{{exporter.expName}}</td>
								            			<td>{{exporter.expCountryName}}</td>
								            			<td>{{exporter.sbu}}</td>
								            			<td>{{exporter.status | dplStatus}}</td>
								            			
								            			<td>{{exporter.createdOn | date:'MM/dd/yyyy'}}</td>
								            		</tr>
								            	
								            	</tbody>
								            	
								            
								            </table>
							            </div>
					        		</div>
					        		
					        		<BR />
						            <div class="row">
						            	<div class="col-xs-6">
						            		<button class="btn btn-license" type="button" ng-click="selectExporter()">Select</button>	
						            		<button class="btn btn-black" type="button" ng-click="initSearchExporterPopup();">New Search</button>	
						            		<button class="btn btn-black" type="button" ng-click="cancel(); exporterResults=[];">Close</button>            		
						            	</div>
						            	
						            </div>
					        		
					        	</div>
		            
		            </form>
		            
		            <BR />
		        </div>
		        <!-- <div class="modal-footer">
		            
		           
		        </div> -->
		
		</div>
	</div>
</div>	


</div>