<div ng-init="init()" ng-controller="entityScreeningCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">			
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Watch List Screening</h1>
                </div>
                <hr>
                
                    <!-- Error Messages -->
				    <div class="row ocr-error" ng-show="errors.length > 0">			
						<div class="col-xs-12">				
							<div class="alert fade in alert-danger">
								<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
								<h4>Error!</h4>
								<ul class="msg-ul">
									<li ng-repeat="error in errors track by $index">
				            			{{ error.msg }}
				            		</li>
								</ul>
							</div>
						</div>
					</div>
					      
				      <!-- Warning Messages -->
				      <div class="row ocr-warning" ng-show="warnings.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
				            <h4>Warning!</h4>
				            <ul class="msg-ul">
				            	<li ng-repeat="warning in warnings track by $index">
				            		{{ warning.msg }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
					      
				      <!-- Info Messages -->
				      <div class="row ocr-info" ng-show="infos.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
				            <h4>Information!</h4>
				            <ul class="msg-ul">
				            	<li ng-repeat="info in infos track by $index">
				            		{{ info.msg }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
				      
				<!-- Contact login form -->
				<!--<form id="registration-form" name="registration-form" class="registration-form" action="#" method="post"> -->
		        <form name="entity-form" id="entity-form" method="post" action="#entity-form" 
		        		class="af-entity row" novalidate>
			       <div class=" ">
			          <div class="col-sm-12 form-alert"></div>
			                        
			           <div class="col-sm-6 col-md-6 border_entity">
				            <div class="col-sm-12 af-outer af-required">
				                <div class="form-group ">
				                    <div class="col-sm-4 enti_tt_alig ">
				                    <label for="entity_sl">Entity Type </label>
				                    </div>                    
				                    <div class="col-sm-8">
				                    <!-- data-animation="fadeInUp" data-animation-delay="800" -->
				                        <div class="form-group selectpicker-wrapper" >
						                    <select id="entity_sl" ng-model="entity.entityType" class="form-control input-entity" 
						                    		data-live-search="false" data-width="100%" data-toggle="tooltip" 
						                    		title="Select Your Entity" ng-change="wlsFormChanged()">
						                    		
						                        <!-- <option value="">-Select-</option>
											    <option value="CON">Consignee</option>
											    <option value="FF">Freight Forwarder</option>
											    <option value="C">Carrier</option>
											    <option value="E">Exporter</option> -->
											    <option value="">-Select-</option>
											    <option value="Consignee">Consignee</option>
											    <option value="Freight Forwarder">Freight Forwarder</option>
											    <option value="Carrier">Carrier</option>
											    <option value="Exporter">Exporter</option>
						                    </select>						                    
				                         </div>
				                    </div>                    
				                 </div>            
				            </div>              
				            <div class="col-sm-12 af-outer af-required">            
				                <div class="form-group ">                
				                    <div class="col-sm-4 enti_tt_alig">
				                    <label for="id_en">Entity Code </label> 
				                    </div>
				                    <div class="col-sm-8 ">
				                    <input
				                        type="text" ng-model="entity.entityCode" id="id_en" placeholder="" value="" size="30"
				                        data-toggle="tooltip" title="Entity code is required"
				                        class="form-control placeholder" readonly="true"/>                        
				                     </div>
				                </div>
				            </div>
			            
				            <div class="col-sm-12 af-outer af-required " > 
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">
				                        <label for="name_en">
				                        	<a href="javascript:void(0)" ng-click="searchWlsEntity()">Name </a> 
				                        </label> *
				                        </div>
				                        <div class="col-sm-8 ">
				                    	<input
				                            type="text" ng-model="entity.name" id="name_en" placeholder="" value="" size="30"
				                            data-toggle="tooltip" title="Name is required"
				                            class="form-control placeholder" ng-keyup="wlsFormChanged()"/>                            
				                         </div>
				                </div>
				            </div>
			            
				            <div class="col-sm-12 af-outer af-required " >            
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">
				                        <label for="addres_en">Address </label> 
				                        </div>
				                        <div class="col-sm-8 ">
				                    	<input
				                            type="text" ng-model="entity.addressLine1" id="addres_en" placeholder="Address Line 1" value="" size="30"
				                            data-toggle="tooltip" title="Address is required"
				                            class="form-control placeholder" ng-keyup="wlsFormChanged()"/>                            
				                         </div>
				                </div>
				            </div>
			            
				            <div class="col-sm-12 af-outer af-required " >            
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">&nbsp;</div>
				                        <div class="col-sm-8 ">
				                    	<input
				                            type="text" ng-model="entity.addressLine2" id="addres_en2" placeholder="Address Line 2" value="" size="30"
				                            data-toggle="tooltip" title="Id is required"
				                            class="form-control placeholder" ng-keyup="wlsFormChanged()"/>                            
				                         </div>
				                </div>
				            </div>
			            
				            <div class="col-sm-12 af-outer af-required " >
				                <div class="form-group ">
				                        <div class="col-sm-4 enti_tt_alig">&nbsp;</div>
				                        <div class="col-sm-8 ">
				                    	<input
				                            type="text" ng-model="entity.addressLine3" id="addres_en3" placeholder="Address Line 3" value="" size="30"
				                            data-toggle="tooltip" title="Id is required"
				                            class="form-control placeholder" ng-keyup="wlsFormChanged()"/>                            
				                         </div>
				                </div>
				            </div>
			            
				            <div class="col-sm-12 af-outer af-required " >            
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">&nbsp;</div>
				                        <div class="col-sm-8 enti_tt_alig">&nbsp;</div>
				                </div>
				            </div>  
			        <!-- /Contact login form Left part -->
                       </div>
			                            
			           <div class="col-sm-6 col-md-6" >               
				            <!-- <div class="col-sm-12 af-outer af-required " >                
				                <div class="form-group ">
				                    <div class="col-sm-4 enti_tt_alig ">                    
				                    <label for="org_en">Type</label>                    
				                    </div>                    
				                    <div class="col-sm-8 radio_mar radio no_pad"> 
				                         <div class="col-sm-6">
				                            <div class="form-group af-inner text-center ">
				                                <input id="org_en" type="radio" ng-model="entity.orgType" value="Organization" class="entity_role">                                
				                                <label for="org_en">Organization</label>                                    
				                            </div>
				                         </div>
				                         <div class="col-sm-6">
				                            <div class="form-group af-inner text-center">
				                                    <input id="ind_en" type="radio" ng-model="entity.orgType" value="Individual" class="entity_role">
				                                    <label for="ind_en">Individual</label>
				                            </div>
				                         </div>                         
				                    </div>                    
				                 </div>            
				            </div>   -->            
				            <div class="col-sm-12 af-outer af-required " >				            
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">
				                        <label for="city_en">City</label> 
				                        </div>
				                        <div class="col-sm-8 ">
				                    	<input
				                            type="text" ng-model="entity.city" id="city_en" placeholder="" value="" size="30"
				                            data-toggle="tooltip" title="City is required"
				                            class="form-control placeholder input-city" ng-keyup="wlsFormChanged()"/>                            
				                         </div>
				                </div>
				            </div>            
				            <div class="col-sm-12 af-outer af-required " >            
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">
				                        <label for="state_en">State </label> 
				                        </div>
				                        <div class="col-sm-8 autosuggest100">
					                    	     
					                        <input
                                                type="text" name="stateName" id="stateName" uib-typeahead="state as state.stateCode for state in getStates($viewValue, entity.country)"
                                                data-toggle="tooltip" title="State is required"
                                                class="form-control placeholder" ng-model="entity.stateName"
                                                typeahead-template-url="stateTmpl.html"
                                                typeahead-editable="false" 
                                                typeahead-min-length="0" 
                                                typeahead-on-select="selectStateEvent($item, $model, $label, 'stateName', 'state', entity)" autocomplete="off" ng-keyup="wlsFormChanged()"/>
				            		     											
											<input
					                            type="text" ng-model="entity.state" id="state_en" placeholder="" value="" size="30"
					                            data-toggle="tooltip" title="State is required"
					                            class="form-control placeholder hidden"/> 
																                                                  
				                         </div>
				                </div>
				            </div>            
				            <div class="col-sm-12 af-outer af-required " >            
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">
				                        <label for="country_en">Country </label> 
				                        </div>
				                        <div class="col-sm-8 autosuggest100">
				                    	<!-- <input
				                            type="text" ng-model="entity.country" id="" placeholder="" value="" size="30"
				                            data-toggle="tooltip" title="Country is required"
				                            class="form-control placeholder"/> -->
				                            
				                            
				                            
				                         <input type="text" name="country_en" id="country_en" uib-typeahead="country as country.countryCode for country in getCountry($viewValue) | limitTo:8"
	                                                data-toggle="tooltip" title="Country is required"
	                                                class="form-control placeholder left-inp" ng-model="entity.countryName"
	                                                typeahead-template-url="countryTmpl.html"
	                                                typeahead-editable="false" 
	                                                typeahead-min-length="0" ng-blur="clearCountry('country', 'stateName', 'state', entity.country, entity)"
	                                                typeahead-on-select="selectCountryEvent($item, $model, $label, 'countryName', 'country', entity)" autocomplete="off" ng-keyup="wlsFormChanged()"/>
									      
									      <input name="country" ng-model="entity.country" class="form-control right-inp" readonly="true"/>   
				                            
				                            
				                                                      
				                         </div>
				                </div>
				            </div>            
				            <div class="col-sm-12 af-outer af-required " >            
				                <div class="form-group ">                
				                        <div class="col-sm-4 enti_tt_alig">
				                        <label for="zip_en">Zip </label> 
				                        </div>
				                        <div class="col-sm-8 ">
				                    	<input
				                            type="text" ng-model="entity.zip" id="zip_en" placeholder="" value="" size="30"
				                            data-toggle="tooltip" title="Zop is required"
				                            class="form-control placeholder" ng-keyup="wlsFormChanged()"/>                            
				                         </div>
				                </div>
				            </div>            
		                    <div class="col-sm-12 af-outer af-required " >            
			                        <div class="form-group ">
			                                <div class="col-sm-12 enti_tt_alig">
			                                <a href="javascript:void(0);" class="btn border_btn strong" ng-click="addEntity()">ADD <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
			                                 </div>
			                        </div>
		                    </div> 
		                </div>   
			            
			            <!-- <a href="javascript:void(0)" ng-click='deleteEntity(0)'>Delete Test</a> -->
			                              
		                <div class="col-sm-12 col-md-12 margin-10tb" >                
		         	       <table class="shop_table" id="entity-table">
		                        <thead>
		                            <tr>
		                                <th class="product-num">#</th>
		                                <th class="product-thumbnail">Type</th>
		                                <th class="product-name">Code</th>
		                                <!-- <th class="product-name">Organization</th> -->
		                                <!-- <th class="product-price">ID</th> -->
		                                <th class="product-quantity">Name</th>
		                                <th class="product-subtotal">Address</th>
		                                <th class="product-subtotal">City</th>
		                                <th class="product-subtotal">State</th>
		                                <th class="product-subtotal">Zip</th>
		                                <th class="product-subtotal">Edit</th>
		                                <th class="product-subtotal">Delete</th>                        
		                            </tr>
		                        </thead>
		                        
		                        <tbody>
		                        	
		                        	<tr ng-repeat="entity in entities track by $index">
									    <td>{{ $index + 1 }}</td>
									    <td>{{ entity.entityType }}</td>
									    <td>{{ entity.entityCode }}</td>
									    <!-- <td>{{ entity.orgType }}</td> -->
									    <!-- <td>{{ entity.entityId }}</td> -->
									    <td>{{ entity.name }}</td>
									    <td>{{ entity.addressLine1 }}</td>
									    <td>{{ entity.city }}</td>
									    <td>{{ entity.stateName }}</td>
									    <td>{{ entity.zip }}</td>
									    <td><a href="javascript:void(0)" ng-click='editEntity($index)'>Edit</a></td>
									    <td><a href="javascript:void(0)" ng-click='deleteEntity($index)'>Delete</a></td>
									  </tr>
		                        
		                            <!-- <tr class="cart_item">
		                                <td class="product-num"><span class="m-num">#</span> 1.</td>
		                                <td class="product-type"><span class="m-org">Type:</span> ABC</td>
		                                <td class="product-name"><span class="m-item">Organization: </span> XYZ </td>
		                                <td class="product-price"><span class="m-price">ID: </span> ZZ11</td>
		                                <td class="product-quantity"><span class="m-quantity">Name: </span> AAAA </td>
		                                <td class="product-subtotal"><span class="m-total">Address: </span>BBBB</td>
		                                <td class="product-subtotal"><span class="m-total">City: </span>CCCC</td>
		                                <td class="product-subtotal"><span class="m-total">State: </span>DDDD</td>
		                                <td class="product-subtotal"><span class="m-total">Zip: </span>12345</td>
		                                <td class="product-subtotal"><span class="m-total">Edit: </span><a href="javascript:void(0)">Edit</a></td>
		                                <td class="product-subtotal"><span class="m-total">Delete: </span><a href="javascript:void(0)">Delete</a></td>
		                            </tr>
		                            <tr class="cart_item">
		                                <td class="product-num"><span class="m-num">#</span> 2.</td>
		                                <td class="product-thumbnail"><span class="m-org">Type:</span> ABC</td>
		                                <td class="product-name"><span class="m-item">Organization: </span> XYZ </td>
		                                <td class="product-price"><span class="m-price">ID: </span> ZZ11</td>
		                                <td class="product-quantity"><span class="m-quantity">Name: </span> AAAA </td>
		                                <td class="product-subtotal"><span class="m-total">Address: </span>BBBB</td>
		                                <td class="product-subtotal"><span class="m-total">City: </span>CCCC</td>
		                                <td class="product-subtotal"><span class="m-total">State: </span>DDDD</td>
		                                <td class="product-subtotal"><span class="m-total">Zip: </span>12345</td>
		                                <td class="product-subtotal"><span class="m-total">Edit: </span><a href="javascript:void(0)">Edit</a></td>
		                                <td class="product-subtotal"><span class="m-total">Delete: </span><a href="javascript:void(0)">Delete</a></td>                        
		                            </tr>                        
		                            <tr class="cart_item">
		                                <td class="product-num"><span class="m-num">#</span> 3.</td>
		                                <td class="product-thumbnail"><span class="m-org">Type:</span> ABC</td>
		                                <td class="product-name"><span class="m-item">Organization: </span> XYZ </td>
		                                <td class="product-price"><span class="m-price">ID: </span> ZZ11</td>
		                                <td class="product-quantity"><span class="m-quantity">Name: </span> AAAA </td>
		                                <td class="product-subtotal"><span class="m-total">Address: </span>BBBB</td>
		                                <td class="product-subtotal"><span class="m-total">City: </span>CCCC</td>
		                                <td class="product-subtotal"><span class="m-total">State: </span>DDDD</td>
		                                <td class="product-subtotal"><span class="m-total">Zip: </span>12345</td>
		                                <td class="product-subtotal"><span class="m-total">Edit: </span><a href="javascript:void(0)">Edit</a></td>
		                                <td class="product-subtotal"><span class="m-total">Delete: </span><a href="javascript:void(0)">Delete</a></td>                            
		                            </tr>  -->                       
		                        </tbody>
							</table>
		                </div>                                    
			                
		                <div class="col-sm-12 col-md-12 margin-20b text-center" >
			                <input type="button" name="screen" value="SCREEN" ng-click="screenEntity()" class="btn btn-entity">
			                     &nbsp;
			                <input type="button" name="Reset" value="Reset" ng-click="reset()" class="btn btn-entity">
		                </div>        
			        </div>
		        </form> 
                <!-- /Contact entity form -->
             </div>                                
		</div>
      </div>
	</div>
</div>