<div ng-init="init()" ng-controller="entityScreeningResultCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>Screening Results</h1>
                </div>
                <hr>
				<!-- Contact login form -->
				<!--<form id="registration-form" name="registration-form" class="registration-form" action="#" method="post"> -->
		        <form name="entity-form" id="entity-form" method="post" action="#entity-form" class="af-entity row" novalidate>
			       <div class=" ">
			          <div class="col-sm-12 form-alert"></div>
			          			          		
			          		<div class="col-sm-12 col-md-12 margin-10b" >                
				         	       <table class="shop_table" id="hits-table">
				         	       		<caption style="text-align: left">Screened Entities</caption>
				                        <thead>
				                            <tr>
				                                <th class="product-num">Sr.</th>
				                                <th class="product-num">Hits</th>
				                                <th class="product-thumbnail">Type</th>
				                                <th class="product-thumbnail">Code</th>
				                                <th class="product-quantity">Name</th>
				                                <th class="product-subtotal">Status</th>
				                                <th class="product-subtotal">Audit</th>    
				                            </tr>
				                        </thead>				                        
				                        <tbody>		                        	
				                        	<tr ng-repeat="screening in wlsScreenings.screeningInp track by $index">
											    <td>{{ $index + 1 }}</td>
											    <td>{{ screening.hits }}</td>											    
											    <td>{{ screening.entityType }}</td>
											    <td>{{ screening.entityCode }}</td>
											    <td>{{ screening.name }}</td>
											    <td>
											    	<i class="fa fa-flag" ng-class="{red: (screening.hits > 0), green: (screening.hits == 0)}" aria-hidden="true"></i>
											    </td>
											    <td ng-if="screening.entityCode != ''" ><a href="javascript:void(0)" ng-click="showAudit(screening.entityType, screening.entityCode)"><i class="fa fa-list-ul" aria-hidden="true"></i></a></td>
											    <td ng-if="screening.entityCode == ''"><a href="javascript:void(0)" ><i class="fa fa-list-ul" aria-hidden="true"></i></a></td>								    
											 </tr>          
				                        </tbody>
									</table>
				                </div>
			    			      	
			          	
			          	<BR />
			          	<div class="col-sm-12 col-md-12" >
			          		<HR />
			          	</div>
			          	            
			            <div ng-repeat="wlsResult in wlsScreenings.screeningResponse track by $index">			            	
					            <div class="col-sm-12 col-md-12" >
				                	<span class="bold-text">Hits : </span> {{wlsResult.httsReturned.hits}}
				                </div> 
		                        
				                <div class="col-sm-12 col-md-12 margin-20b" >                
				         	       <table class="shop_table" id="hits-table">
				                        <thead>
				                            <tr>
				                                <th class="product-num">ID</th>
				                                <th class="product-thumbnail">Name</th>
				                                <th class="product-thumbnail">Score</th>
				                                <th class="product-name">City</th>
				                                <th class="product-price">Country</th>
				                                <th class="product-quantity">Agency</th>
				                                <th class="product-subtotal">Eff. Date</th>
				                                <th class="product-subtotal">FR Date</th>
				                                <th class="product-subtotal">Citatn</th>
				                                <th class="product-subtotal">DPL Category</th>                
				                            </tr>
				                        </thead>
				                        
				                        <tbody>		                        	
				                        	<tr ng-repeat="wlsResultEntity in wlsResult.httsReturned.wlsList.wlsScreenings">
											    <td>{{ $index + 1 }}</td>
											    <td>{{ wlsResultEntity.dpl_name }}</td>
											    <td>{{ wlsResultEntity.dpl_score }}</td>
											    <td>{{ wlsResultEntity.city }}</td>
											    <td>{{ wlsResultEntity.country }}</td>
											    <td>{{ wlsResultEntity.dpl_agency }}</td>
											    <td>{{ wlsResultEntity.dpl_eff_date }}</td>
											    <td>{{ wlsResultEntity.dpl_fr_date }}</td>
											    <td>{{ wlsResultEntity.dpl_citant }}</td>
											    <td>{{ wlsResultEntity.dpl_category }}</td>								    
											 </tr>          
				                        </tbody>
									</table>
				                </div>        
		                </div>
			                
		                <div class="col-sm-12 col-md-12 margin-20b text-center" >
			                <input type="button" name="screen" value="RE SCREEN" gtn-click="/createEntityScreening" class="btn btn-black">			                    
		                </div>        
			        </div>
		        </form> 
                <!-- /Contact entity form -->
             </div>                                
		</div>
      </div>
	</div>
</div>