<div ng-init="init()" ng-controller="licenseScreeningResultCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible af-user">
			<div class="col-sm-12 col-md-12 blue-div" >
                <div class="" >
                     <h1>License Screening Results</h1>
                </div>
                <hr>
            </div>
            
            <!-- Error Messages -->
		    <div class="row ocr-error" ng-show="errors.length > 0">			
				<div class="col-xs-12">				
					<div class="alert fade in alert-danger">
						<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
						<h4>Error!</h4>
						<ul class="msg-ul">
							<li ng-repeat="error in errors track by $index">
		            			{{ error.msg }}
		            		</li>
						</ul>
					</div>
				</div>
			</div>
			      
		      <!-- Warning Messages -->
		      <div class="row ocr-warning" ng-show="warnings.length > 0">
		        <div class="col-xs-12">
		          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
		            <h4>Warning!</h4>
		            <ul class="msg-ul">
		            	<li ng-repeat="warning in warnings track by $index">
		            		{{ warning.msg }}
		            	</li>
		            </ul>
		          </div>
		        </div>
		      </div>
			      
		      <!-- Info Messages -->
		      <div class="row ocr-info" ng-show="infos.length > 0">
		        <div class="col-xs-12">
		          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
		            <h4>Information!</h4>
		            <ul class="msg-ul">
		            	<li ng-repeat="info in infos track by $index">
		            		{{ info.msg }}
		            	</li>
		            </ul>
		          </div>
		        </div>
		      </div>
				      
            <div class="col-sm-12 col-md-12 margin-10tb">
            	<table class="shop_table odd_col_bold">
            		<tbody>
            			<tr>
            				<td>Export Country</td>
            				<td>{{ licenseScreeningResponse.input.expCountryName }}</td>
            				<td>Search Type</td>
            				<td>{{ licenseScreeningResponse.input.type | uppercase }}</td>
            				<td>Reg. Date</td>
            				<td>{{ licenseScreeningResponse.response.regDate | date:'dd/MM/yyyy' }}</td>            				
            			</tr>
            			<tr>
            				<td>Import Country</td>
            				<td>{{ licenseScreeningResponse.input.impCountryName }}</td>
            				<td>Input</td>
            				<td>{{ licenseScreeningResponse.input.input }}</td>            				
            			</tr>
            		</tbody>
            	</table>
            </div>
            
            	
            <div class="col-sm-12 col-md-12 margin-10tb well" style="width: 97%; margin-left: 15px;" ng-if="licenseScreeningResponse.response.overallStatusData != 'LSNA'">
            	1. A license is <span ng-if="licenseScreeningResponse.response.productLSDetails[0].screeningResult == 'LR'" class="impText"> Required </span> <span ng-if="licenseScreeningResponse.response.productLSDetails[0].screeningResult != 'LR'" class="impText"> Not Required </span> to export the  item <span class="impText bold-text">{{ licenseScreeningResponse.input.input  }}</span> from <span class="impText bold-text">{{ licenseScreeningResponse.input.expCountryName }}</span> to <span class="impText bold-text">{{ licenseScreeningResponse.input.impCountryName }}</span>.
            	<BR />
            	2. Reporting is <span ng-if="licenseScreeningResponse.response.productLSDetails[0].reportReq == 'Y'" class="impText"> Required </span> <span ng-if="licenseScreeningResponse.response.productLSDetails[0].reportReq == 'N'" class="impText"> Not Required </span> to export the item <span class="impText bold-text">{{ licenseScreeningResponse.input.input }}</span> from <span class="impText bold-text">{{ licenseScreeningResponse.input.expCountryName }}</span> to <span class="impText bold-text">{{ licenseScreeningResponse.input.impCountryName }}</span>.
            	<BR />
            </div>
         
            <div class="col-sm-12 col-md-12 margin-10tb well" style="width: 97%; margin-left: 15px;" ng-if="licenseScreeningResponse.response.overallStatusData == 'LSNA'">
            	
            	<font color='#ff0000'>License screening not available</font> to export the item <font color='#ff0000'>{{ licenseScreeningResponse.input.input }}</font> from <font color='#ff0000'>{{ licenseScreeningResponse.input.expCountryName }}</font> to <font color='#ff0000'>{{ licenseScreeningResponse.input.impCountryName }}</font>
            </div>
            
            
            <div class="col-sm-12 col-md-12">
	            <label class="col-sm-2 col-md-2 control-label">
	            	Import Country : 
	            </label>
	            
	            <div class="col-sm-3 col-md-3">
	            	  <select class="form-control" id="screenLicenseCtry" ng-change="screenLicenseCtry()" ng-model="licenseScreeningResponse.input.impCountry">
           					<option ng-repeat="item in countries" value="{{item.countryCode}}">
							    {{item.countryName}}
						    </option>
           			  </select>
	            </div>			  
            </div>
            
            <div class="col-sm-12 col-md-12 margin-20tb text-center" >
                <input type="button" name="screen" value="RE SCREEN" gtn-click="/createLicenseScreening" class="btn btn-entity">			                    
            </div>  
		                
         </div>
       </div>
     </div>
</div>
<style>
	.odd_col_bold tbody tr td{
		width: 12.5%;
	}
	.impText{
		color: #990033;
		font-weight: bold;
	}
	.well{
		background-color: #FFF;
	}
</style>