<div ng-app="restControllers" ng-init="getBillingDetails()" class="panel-grid-cell dashboard-rt">

<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-left margin-top20" >
                <div class="wel_tt">
                    <span class="head wel_colo strong">Billing </span>
                    <hr>
                    <div class="col-sm-12 col-md-12 yello-div user_information bill_info" >
                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-md-12 yello-div">

                         <!-- Error Messages -->
					    <div class="row ocr-error" ng-show="errors.length > 0">
							<div class="col-xs-12">
								<div class="alert fade in alert-danger">
									<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
									<h4>Error!</h4>
									<ul class="msg-ul">
										<li ng-repeat="error in errors track by $index">
					            			{{ error.msg }}
					            		</li>
									</ul>
								</div>
							</div>
						</div>

					      <!-- Warning Messages -->
					      <div class="row ocr-warning" ng-show="warnings.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
					            <h4>Warning!</h4>
					            <ul class="msg-ul">
					            	<li ng-repeat="warning in warnings track by $index">
					            		{{ warning.msg }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>

					      <!-- Info Messages -->
					      <div class="row ocr-info" ng-show="infos.length > 0">
					        <div class="col-xs-12">
					          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
					            <h4>Information!</h4>
					            <ul class="msg-ul">
					            	<li ng-repeat="info in infos track by $index">
					            		{{ info.msg }}
					            	</li>
					            </ul>
					          </div>
					        </div>
					      </div>


	                    <div class="col-sm-12 col-md-12">

	                    	<div class="col-sm-12 col-md-12 margin-10tb" >

	                    		<div class="col-sm-6" style="padding-left: 0px">
				                    <span class="bill_head strong">Billing Information</span>

			                        <p>Payment amount per billing cycle: ${{billingAmountToDisplay}}/month for 1 month<br>
			                            Next invoice date: Jan 25, 2017</p>


		                         </div>

		                         <!-- current subscription -->
		                         <div class="col-sm-4">
		                                <div class="clearfix"></div>

			                             <div class="clearfix bor_summary pad10px">
			                               <div class="bill_head pad_tb8px text-center">Current Subscription </div>
			                               <div class="pad_tb4px num_user text-center"><label for="num_user">Number of Users</label>
			                               	<!-- <input type="text" name="shipment_num" id="num_user" value="" size="30" data-toggle="tooltip" title="Shipment Number is required" class="form-control placeholder"> -->
			                               	<input
			                                    ng-model="sub.users" type="text" name="users" id="users" placeholder=""
			                                    data-toggle="tooltip" title="Number of users subscribed"
			                                    class="form-control placeholder" disabled="disabled"/>
			                               	</div>
			                               <table class="odersum_table">
			                                    <tbody>
			                                        <tr class="odersum_item" ng-repeat="cartItem in cartItems">
			                                            <td class="fun-call"> <label>{{cartItem.displayName}}</label> </td>

			                                            <td class="total-add"> <label>{{cartItem.cost*sub.users}} {{cartItem.currencyCode}} /month</label> </td>

			                                        </tr>
		                                           	<tr  ng-if="sub.users>0" class="odersum_item" ng-repeat="pubcartItem in pubCartItems">
			                                            <td class="fun-call"> <label>{{pubcartItem.name}}</label> </td>
			                                            <td class="total-add"><label>{{pubcartItem.price*sub.users}} USD/month</label> </td>

		                                        	</tr>
			                                    </tbody>

			                                    <tfoot>
			                                        <tr>
			                                            <th class="fun-call"><label for="price">Total Price:  </label></th>

			                                            <th class="total-add"><label for="price">{{getTotal()}} USD /month</label></th>
			                                        </tr>
			                                    </tfoot>

			                                </table>
			                            </div>

		                         </div>

	                        </div>
	                        	<span class="bill_head strong">Payment Methods</span>
	                            <div class="col-sm-12 col-md-12 margin-10tb" >
	                               <table class="payAdd_table">
	                                    <thead>
	                                        <tr>
	                                            <th class="method-num">Method</th>
	                                            <th class="bill-add">Bill to address</th>
	                                            <th class="edit-add">&nbsp;</th>
	                                        </tr>
	                                    </thead>

	                                    <tbody>
	                                        <tr ng-repeat="billing in billingMethods" class="paymethod_item">
	                                            <td class="method-num"><span class="m-method">Method</span>


												<img ng-src="img/{{billing.cardType}}.png"  />
	                                            <p>{{billing.cardNo}}
												<br>
												Expires on{{billing.exp_date}}</p>
	                                            </td>
	                                            <td class="bill-add"><span class="m-bill">Bill to Address</span> <p>{{billing.add_1}}, {{billing.add_2}}</p></td>
	                                            <td class="edit-add"><span class="m-edit">&nbsp; </span>
	 											<!-- <span ng-switch on="billing.primary"> -->
	                                                <a href ="javascript:void(0)" ng-if="billing.primary == 'Y'" class="btn btn-gray btn_active">Primary</a>
	                                     			<a href ng-click="makePrimaryNew(billing)" ng-if="billing.primary == 'N'" class="btn btn-gray">Primary</a>
												<!-- </span> -->
	                                                <a href ng-click="editPayment(billing,billingMethods.length)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
	                                                <a href ng-click="deletePayment(billing, $event)"><i class="fa fa-window-close" aria-hidden="true"></i></a>
	                                            </td>
	                                        </tr>
	        <!--                                <tr class="paymethod_item">
	                                            <td class="method-num"><span class="m-method">Method</span> <img src="img/card_img.png" >
	                                            <p>*************2002<br>
												Expires on 10/19</p>
	                                            </td>
	                                            <td class="bill-add"><span class="m-bill">Bill to Address</span> <p>2984 Walnut Avenue, Portland, Oregon, 97214</p></td>
	                                             <td class="edit-add"><span class="m-edit">&nbsp; </span>
	                                                <a href="javascript:void(0)" class="btn btn-gray">Primary</a>
	                                                <a href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
	                                                <a href="javascript:void(0)"><i class="fa fa-window-close" aria-hidden="true"></i></a>
	                                            </td>
	                                        </tr>   -->
	                                    </tbody>
	                                </table>
	                            </div>

	                            <div class="col-sm-12 col-md-12 margin-10tb" >
	                            <p>
	                            <a href ng-click="addPayment(billingMethods.length)">Add new payment method</a>
	                            </p>
	                            </div>

	                     </div>

                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top30 clearfix"></div>
	</div>
</div>
</div>
