<div class="panel-grid-cell dashboard-rt">
	<div class="container" ng-app="restControllers"
		ng-init="getAllBookingsByUser()">

		<div class="row">
			<div class="col-sm-12 col-md-12 text-left margin-top20">
				<div class="wel_tt">
					<span class="head wel_colo strong">Bookings </span>
					<hr>
					<div
						class="col-sm-12 col-md-12 yello-div user_information bill_info">
						<div class="clearfix"></div>
						<div class="col-sm-12 col-md-12 yello-div">
							<div class="col-sm-12 col-md-12">
								<span class="bill_head strong">Bookings</span>

								<div class="col-sm-12 col-md-12 margin-10tb">
									<table class="payAdd_table_ticket">
										<thead>
											<tr>
												<th class="method-num">Pick Up</th>
												<th class="method-num">Drop Off</th>
												<th class="method-num">Vehicle Make</th>
												<!-- <th class="method-num">Assigned To</th> -->
												<th class="method-num">Vehicle Model</th>
												<th class="method-num">Pickup Date/Time</th>
											</tr>
										</thead>

										<tbody>
											<tr class="paymethod_ticket_item"
												ng-repeat="item in bookings">
												<td class="method-num">
												{{item.pickupLocation}}
													</td>
												<td class="method-num">{{item.dropoffLocation}}</td>
												<td class="method-num">{{item.vehicleMake}}</td>
												<!-- <td class="method-num"><span class="m-method-t">Assigned
																		To: </span>
																	<p>{{ caseItem.assignedToName }}</p></td> -->
												<td class="method-num">{{item.vehicleModel}}</td>
												<td class="method-num">{{item.pickupDate}}</td>
											</tr>
										</tbody>
									</table>
								</div>


									<!-- user form -->
									<div><label for="createbooking"><i>Create Booking</i></label> </div>
									<form name="supportTicket" id="supportTicket" method="post"
										action="#supportTicket" class="af-user row">
										<div class="col-sm-6 col-md-6">
											<div class=" af-outer af-required clearfix">
												<div class="form-group">
													<div class="col-sm-4 enti_tt_alig">
														<label for="pickUp">Pick Up Location:</label>
													</div>

													<div class="col-sm-8 pad_6lr">
														<div class="form-group selectpicker-wrapper">
															<select class="form-control" id="card_year"
																data-live-search="false" data-width="100%"
																data-toggle="tooltip" title="Year"
																ng-model="bookingDetails.pickUpLocation"
																class="form-control placeholder"  ng-change="changeFromLocation(bookingDetails.pickUpLocation)"
																<option value="" label="Select Pick Up"></option>
																 <option ng-repeat="Item in locationFrom" value="{{Item}}">{{Item.substring(2)}}</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class=" af-outer af-required clearfix">
												<div class="form-group">
													<div class="col-sm-4 enti_tt_alig"><label for="dropOff">Drop Off Location:</label></div>
													<div class="col-sm-8 pad_6lr">
														<div class="form-group selectpicker-wrapper">
															<select class="form-control" id="card_year"
																data-live-search="false" data-width="100%"
																data-toggle="tooltip" title="Year"
																ng-model="bookingDetails.dropoffLocation"
																class="form-control placeholder"
																<option value="" label="Select Drop Off"></option>
																<option ng-repeat="Item in locationTo" value="{{Item}}" ng-disabled="Item.indexOf(bookingDetails.pickUpLocation) > -1">{{Item.substring(2)}}</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class=" af-outer af-required clearfix">
												<div class="form-group">
													<div class="col-sm-4 enti_tt_alig">
														<label for="priority">Vehicle Make:</label>
													</div>
													<div class="col-sm-8 pad_6lr">
														<div class="form-group selectpicker-wrapper">
															<select class="form-control" id="card_year"
																data-live-search="false" data-width="100%"
																data-toggle="tooltip" title="Year"
																ng-model="bookingDetails.make" name="make"
																class="form-control placeholder" ng-change="changedValue(bookingDetails.make)" >
																<option value="">Select Make</option>
																 <option ng-repeat="Item in makesData" value="{{Item.make}}">{{Item.make}}</option>
                                                            </select>

														</div>
													</div>
												</div>
											</div>




											<div class="col-sm-12 col-md-12 text-right">
												<div class="col-sm-3 enti_tt_alig "></div>
												<div class="col-sm-9 ">

												</div>
											</div>
										</div>

										<!--  second column -->
										<div class="col-sm-6 col-md-6">
										<div class=" af-outer af-required clearfix">
												<div class="form-group">
													<div class="col-sm-4 enti_tt_alig">
														<label for="priority">Vehicle Model:</label>
													</div>
													<div class="col-sm-8 pad_6lr">
														<div class="form-group selectpicker-wrapper">
														<select class="form-control" id="card_year"
																data-live-search="false" data-width="100%"
																data-toggle="tooltip" title="Year"
																ng-model="bookingDetails.model" name="model" ng-show="models.length"
																class="form-control placeholder">
																<option value="">Select Model</option>
																 <option ng-repeat="Item in models"  value="{{Item}}">{{Item}}</option>
                                                            </select></div>
													</div>
												</div>
</div>
<div class=" af-outer af-required clearfix">
											<div class="form-group">
												<div class="col-sm-4 enti_tt_alig">
													<label for="priority">Pickup Date/Time</label>
												</div>
												<div class="col-sm-8 pad_6lr">
													<div class="form-group selectpicker-wrapper">
														<input ng-model="bookingDetails.pickUp" ng-change="onDateChanged()" datetime-picker  futureOnly future-only/>
													</div>
												</div>
											</div>
</div>
<div class="form-group">
												<div class="col-sm-4 enti_tt_alig">
													<label for="priority">DropOff Date/Time</label>
												</div>
												<div class="col-sm-8 pad_6lr">
													<div class="form-group selectpicker-wrapper">
											<p ng-bind="date | date:'MM/dd/yy HH:mm a'"></p>
		</div>
												</div>
											</div>
											</div>
										</div>
 <div class="col-sm-11 col-md-12 margin-20b text-right" >
				                        <div class=" margin-20tb text-right" >
				                          <button type="button" name="Submit" value="Submit"  ng-click="createBooking()" id="submitBtn" class="btn-license">Submit</button>
				                        </div>
				                    </div>
									</form>
									<!-- /user form -->
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-top30 clearfix"></div>
	</div>
</div>
