<!DOCTYPE html>
<html ng-App="tailorAppSite" ng-controller="checkOutCtrl" >
    <head>
  @header_site()
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no ">
    <meta name="google-signin-client_id" content="232597724291-g0822shnvfj0kp23ro2ov9s4r3bku2j2.apps.googleusercontent.com">
        <title>Check Out</title>
    </head>
    <body ng-init="checkSession();">
    <div class="main-container col2-right-layout pt0">
        <div class="main">
            <div class="col-main">
            <div class="std">
        @header_site_block()
  <div class=">
    <div class="order_summary_cont">
    <h4 class="text-left order_sub_titles">CHECKOUT</h4>
      <ul class="nav nav-tabs responsive order_sum" id=">
        <li class="test-class active" id="firstTab"><a class="deco-none red-class" href="#signin">LOGIN/SIGNUP</a></li>
        <li class="test-class" ng-click="fetchCustDetails();" id="secondTab"><a href="#address">ADDRESS DETAILS</a></li>
        <li class="test-class" ng-click="generateSummary();" id="thirdTab"><a class="deco-none" href="#order_summary">ORDER SUMMARY</a></li>
        <li class="test-class" id="fourthTab"><a class="deco-none" href="#payment">PAYMENT METHOD</a></li>
      </ul>

      <div class="tab-content responsive">
        <div class="tab-pane active" id="signin">
          <div class="order_summary_content_cont" ng-if="session =='false'">
<!--             <h5 class="order_sub_titles">ADVANTAGES OF SIGNING UP</h5>
            <div class="or_list">
              <ul>
                <li>Manage all your order</li>
                <li>Receive loyalty points for every order</li>
                <li>Get quick support from our helpdesk</li>
              </ul>
            </div> -->
            <div class="order_sum_login_cont">
              <div class="order_sum_login_buttons">
              <div id="fb-root"></div>
              <div id="status"></div>
                <div class="login_buttons login_facebook" ng-click="fb_login()"><span><img src="/img/fbgplus_icon_icon.png" /></span><span>LOGIN WITH FACEBOOK</span></div>
                <div id ="my-signin2" ng-click="renderButton()" class="login_buttons login_gplus"><span><img src="/img/gplus_icon.png" /></span><span>LOGIN WITH GOOGLE</span></div>
          		<!-- Added for guest user -->
          		<div id ="my-signin3" ng-click="renderGuestButton()" class="login_buttons login_guest"><span><img src="img/gplus_icon.png" /></span><span>LOGIN AS GUEST</span></div>
                <!-- ends -->
              </div>
              <h5 class="order_sub_titles">OR LOGIN WITH EMAIL</h5>
              <div class="order_login_email">
                <div><input type="email" class="type_type" ng-model ="dataobj.email"  placeholder="E-MAIL ID"/></div>
                <div><button class="tt tosecondTab click_type"   ng-click="checkEmail();">CONTINUE WITH EMAIL</button></div>
                <div id="status"><p class="text-center">Dont Have Account? <a class="text-center" href="/pos/customer/signup">Sign up </a></p></div>
              </div>
            </div>

          </div>
<!--            <div class="order_summary_content_cont" ng-if="session =='true' && customerObj.cell_phone ==null">
                <div class="col-md-6 col-sm-12 col-xs-12">
                Plz Add A Phone Number To Link With Your Account
                    <div class="type_type_label">Enter Phone Number</div>
                        <div class="relative">
                            <span class="phone_cc_block">+91</span>
                            <input type="text" class="type_type grayBox" ng-model="dataobj.phone_no" placeholder="/>
                        </div>
                </div>  <br>

                <button class="tt tosecondTab click_type" ng-click="updatePhoneNo()" >Save &  Continue</button>
          </div> -->
          <div class="order_summary_content_cont" ng-if="session =='true' ">
                Signed In As <b>{$customerObj.email_address$}</b>         <br>
                <button ng-click="logout_checkout()" class="click_type">Logout</button>
                <button class="tt tosecondTab click_type" ng-click="fetchCustDetails();"> Continue </button>
          </div>
       </div>

        <div class="tab-pane" id="address">
        <div id="address_val" class="form-wizard ">
            <form class="form  form-validation" id="form_sample_1" name="address_val" novalidate="novalidate">
          <div class="order_summary_content_cont">
            <div class="row footer_form_row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="type_type_label">Enter Name *</div>
                <input type="text" class="type_type grayBox" ng-model="customerDetails.person_name" name="first_name" placeholder=" minlength="2" required/>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="type_type_label">Enter Pincode *</div>
                <input type="text" class="type_type grayBox" ng-model="customerDetails.postal_code" name="postal_code" placeholder=" minlength="6" required/>
              </div>
            </div>
            <div class="row footer_form_row">
              <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="type_type_label">Enter Address *</div>
                <input type="text" class="type_type grayBox" ng-model="customerDetails.line1" name="line1" placeholder=" minlength="5" required/>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="type_type_label">Enter City *</div>
                <input type="text" class="type_type grayBox" ng-model="customerDetails.city" name="city" placeholder=" minlength="2" required/>
              </div>
            </div>
            <div class="row footer_form_row">
              <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="type_type_label">Enter Mobile Number *</div>
              <div class="relative">
                <span class="phone_cc_block">+91</span>
                <input type="text" class="type_type grayBox" ng-model="customerDetails.cell_phone" name="cell_phone" placeholder=" minlength="10" required/>
              </div>
              </div>
             <!--  <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="type_type_label">Enter Phone Number </div>
              <div class="relative">
                <span class="phone_cc_block">+91</span>
                <input type="text" class="type_type grayBox" ng-model="customerDetails.phone_number1"  name="phone_number1" minlength="5" placeholder=" />
              </div>
              </div>    -->
              <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="type_type_label">Enter State *</div>
                <input type="text" class="type_type grayBox" ng-model="customerDetails.state" placeholder=" name="state" minlength="2" required />
              </div>
              <div class="col-md-12 order_line">Order confirmation will be sent to this number</div>
            </div>
            <div class="row footer_form_row">
              <div class="col-md-12"><button class="tt click_type save_click_type tothirdTab"  ng-disabled="address_val.$invalid" ng-click="saveAddress()">SAVE ADDRESS AND DELIVER HERE</button></div>
            </div>
          </div>
          </form>
          </div>
        </div>

        <div class="tab-pane" id="order_summary"  >
          <div class="order_summary_content_cont">
            <div class="col-md-5 col-xs-12">
              <div class=">

              <ul class="products_list_scroll_orders">
              <li ng-repeat="item in summary.cart">
              <div class="sidebar_product_cont">
                  <div class="sidebar_prod">
                      <div class="row text-left">
                          <div class="col-md-4 text-center norpad">
                              <img ng-src="{$item.image1$}" class="sidebar_prod_img">
                          </div>
                          <div class="col-md-8 nopad">
                              <div class="sidebar_prod_content">
                                  <div class="row">
                                      <div class="sidebar_prod_name">{$item.product_name$} - {$item.size$} </div>
                                      <div class="sidebar_prod_price">{$item.product_price$}</div>
                                  </div>
                                  <div class="row" ng-if="item.purchasing_for_kids">
                                      Includes Kids ({$item.kids_qty$}) <ul><li ng-repeat="s in item.kids_size">{$s.chart_value$}</li></ul>
                                      <div class="sidebar_prod_price">{$item.product_price_kids$}</div>
                                  </div>
                                  <div class="row">
                                      <div class="sidebar_prod_name">SHipping Charges</div>
                                      <div class="sidebar_prod_price">{$item.shipping_charges$}</div>
                                  </div>
                                  <div class="sidebar_prod_count">
                                      <span class="prod_count_minus" ng-click="qty_change(item,'minus')">-</span>
                                      <input type="text" ng-model="item.qty" readonly />
                                      <span class="prod_count_plus" ng-click="qty_change(item,'plus')">+</span>
                                      <span class="sidebar_kids popover_parent">
                                      <div class="popover_child pop_left pop_bottom">Lorem ipsium blak blak raciest Lorem ipsium blak blak  raciest raciest raciestraciestv  vraciestraciestv v  raciestraciestraciestraciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest v</div>
                                      <img src="imgs/product_desc_exclusive1.png" />
                                      </span>
                                      <span class="sidebar_kids popover_parent">
                                      <div class="popover_child pop_left pop_bottom">Lorem ipsium blak blak raciest Lorem ipsium blak blak  raciest raciest raciestraciestv  vraciestraciestv v  raciestraciestraciestraciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest vciest v</div>
                                      <img src="imgs/product_desc_exclusive2.png" />
                                      </span>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="individual_prod_closser" ng-click="remove_from_cart(item)"><i class="fa fa-trash-o"></i></div>
<!--
                                  <div class="sidebar_prod_count">
                                    <a href="> <span  ng-click="remove_from_cart(item)"> <i class="fa fa-trash-o"></i></span></a>
                                  </div> -->

              </div>
              </li>
              </ul>
              <div class="sidebar_total_cont sidebar_total_cont_orders">
                  <div class="sidebar_subtotal sidebar_subtotal_orders">SUBTOTAL<span class="sidebar_sub_price">Rs. {$final_product_price$}</span></div>
                  <div class="sidebar_promo_cont sidebar_promo_cont_orders"><input type="text" placeholder="ENTER PROMO CODE" /><button class="sidebar_promo_cont_but sidebar_promo_cont_but_orders">APPLY</button></div>
                  <div class="sidebar_subtotal sidebar_subtotal_orders">SUBTOTAL<span class="sidebar_sub_price">Rs.{$final_product_price$}</span></div>

              </div>

              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-md-offset-1">
              <div class="order_sum_summary_rblock_cont">
                <div class="sum_summary_block">
                  <div class="row">
                    <div class="col-md-10 nolpad">
                      <div class="summary_block_heading">DELIVERY ADDRESS</div>
                      <ul class="summary_block_list">
                        <li>{$summary.cust_details.person_name$}</li>
                        <li>{$summary.cust_details.line1$},</li>
                        <li>{$summary.cust_details.city$}  {$summary.cust_details.state$} , {$summary.cust_details.postal_code$}</li>
                        <br>
                        <li>+91 {$summary.cust_details.cell_phone$}</li>
                      </ul>
                    </div>
                    <div class="col-md-2">
                      <button class="change_button tosecondTab tt">CHANGE</button>
                    </div>
                  </div>
                </div>
                <div class="sum_summary_block">
                  <div class="row">
                    <div class="col-md-10 nolpad">
                      <div class="summary_block_heading">LOYALTY POINTS</div>
                    </div>
                    <div class="col-md-2">
                      <button class="change_button">REDEEM</button>
                    </div>
                  </div>
                </div>
                <div class="sum_summary_block">
                  <div class="row">
                    <div class="col-md-10 nolpad">
                      <div class="summary_block_heading">HAVE A VOUCHER</div>
                    </div>
                    <div class="col-md-2">
                      <button class="change_button">REDEEM</button>
                    </div>
                  </div>
                </div>
                <div class="sum_summary_block">
                  <div class="row">
                    <div class="col-md-12 norpad nolpad">
                      <ul class="summary_block_list">
                        <li ><span class="price_label" >TOTAL PRICE</span><span class="price_value">Rs. {$product_total_price$}</span></li>
                        <li><span class="price_label" >DISCOUNT</span><span class="price_value">Rs. -{$total_discount_price$}</span></li>
                        <li><span class="price_label" >SHIPPING</span><span class="price_value">Rs. +{$shipping_charges$}</span></li>
                        <li><span class="price_label" >GRAND TOTAL</span><span class="price_value">Rs. {$grand_total$}</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row footer_form_row">
              <div class="col-md-12"><button class="tt click_type save_click_type tofourthTab" > CONFIRM AND PROCEED TO PAY</button></div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="payment">
          <div class="order_summary_content_cont">
            <div class="row">
              <div class="col-md-6">
                <div class="radio_box_cont_orders">


                  <label class="label_radio_custom_orders">
                  <input type="radio" class="input_radio_custom_orders" name="testme" ng-model="paymentObj.payment_type" value="COD"/>
                    <div class="radio_custom_actor">
                      <div class="radio_custom_actor_dot"></div>
                    </div>
                    <span>Cash On Delivery</span>
                  </label>


                </div>
              </div>
              <div class="col-md-6">
                <div class="radio_box_cont_orders">


                 <label class="label_radio_custom_orders">
                  <input type="radio" class="input_radio_custom_orders" name="testme" ng-model="paymentObj.payment_type" value="CARD" />
                    <div class="radio_custom_actor">
                      <div class="radio_custom_actor_dot"></div>
                    </div>
                    <span>Card / Net Banking</span>
                  </label>


                </div>
              </div>
            </div>
            <br>
            <div class="row footer_form_row">
              <div class="col-md-12"><button class="click_type save_click_type" ng-click="testpay()">PLACE ORDER</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<!--         <div class="page_ender">
            <img alt=" src="../assets/imgs/xend.png" />
        </div> -->
        </div>
        </div>
        </div>
        @footer_site_block()
        </div>

    </body>
    <!-- signup modal start -->
    <div class="modal fade m_custom" id="signup_modal" role="dialog" style="z-index: 9999999">
        <div class="modal-dialog md_custom">
          <div class="modal-content mc_custom">
            <div class="modal-body mb_custom">
                <div class="signup-cont">
                     <div class="form_box signup">
                        <div>
                         <div class="form_head">SIGN UP</div>
                             <div id="signup" class="form-wizard ">
                            <form class="form  form-validation" id="form_sample_1" novalidate="novalidate">
                             <input type="email" placeholder="Email" id="email" ng-model="signupObj.email" name="email" minlength="3" maxlength="100" required />
                             <input type="password" placeholder="Password" id="Password" ng-model="signupObj.password" name="password" minlength="8" maxlength="15" required />
                             <input type="password" placeholder="Confirm Password" id="CPassword" ng-model="signupObj.confirm_password" name="CPassword" minlength="8" maxlength="15" required />
                            <!--  <input type="text" placeholder="Dob" id="dob" ng-model="signupObj.dob" name = "dob" minlength="2" maxlength="25" required/> -->
                             <input type="text" placeholder="FirstName" id="first_name" ng-model="signupObj.first_name" name="first_name" minlength="2" maxlength="50" required/>
                             <input type="text" placeholder="LastName" id="last_name" ng-model="signupObj.last_name" name="last_name" minlength="2" maxlength="50" />
                             <input type="text" placeholder="Phone Number" id="phone_no" ng-model="signupObj.phone_no" name ="phone_no" minlength="5" maxlength="15" required/>
                             <select id="gender" ng-model="signupObj.gender" name="gender" required>
                                 <option value="male">Male</option>
                                 <option value="female">Female</option>
                                 <!-- <option value="Not Specified">Do Not Specify</option> -->
                                 <!-- <option>Other</option> -->
                             </select>
                             <button class="text-center profile_form_but" id="signup_but" data-loading-text="Signing Up ! Please wait" ng-click="signup()">SIGN UP</button>
                         </form>
                         </div>
                     </div>

                 </div>
                 </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
  </div>
    <!-- signup modal end -->
    <!-- login modal start  -->
    <div class="modal fade m_custom" id="login_modal" role="dialog" style="z-index: 9999999">
    <div class="modal-dialog md_custom">
      <div class="modal-content mc_custom">
        <div class="modal-body mb_custom">
            <div class="signup-cont">
                     <div class="form_box signup">
                         <div class="form_head">Login </div>
                            {$login_msg$}
                            <div id="login" class="form-wizard ">
                              <form class="form  form-validation" id="form_sample_1" novalidate="novalidate">
                                <input type="email" placeholder="Email" id="email" ng-model="loginObj.email" name="email" minlength="3" maxlength="100" required />
                                <input type="password" placeholder="Password" id="Password" ng-model="loginObj.password" name="password" minlength="8" maxlength="15" required />
                                <button class="text-center profile_form_but" ng-click="login()">Login</button>
                              </form>
                            </div>
                 </div>
                 </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>
  </div>
    <!-- login modal end -->
<script type="text/javascript" src="js/angularjs/default/responsive-tabs.js"></script>
    <script type="text/javascript">

      $( 'ul.nav.nav-tabs  a' ).click( function ( e ) {
        e.preventDefault();
        $( this ).tab( 'show' );
      } );

      ( function( $ ) {
          // Test for making sure event are maintained
          $( '.js-alert-test' ).click( function () {
            alert( 'Button Clicked: Event was maintained' );
          } );
          fakewaffle.responsiveTabs( [ 'xs', 'sm' ] );
      } )( jQuery );

    </script>

    <!-- tabs -->
 <script>
/*  setTimeout(

    function()
    {
      $('button').click(
        function()
        {
          var neededClass = $(this).attr('class');
          $('.test-class').removeClass('active');
          $('.tab-pane').removeClass('active');


          if(neededClass.toLowerCase().indexOf("tofirsttab") >= 0)
          {
            $('#firstTab').addClass('active');
            $('#signin').addClass('active');
          }
          if(neededClass.toLowerCase().indexOf("tosecondtab") >= 0)
          {
            $('#secondTab').addClass('active');
            $('#address').addClass('active');

          }
          if(neededClass.toLowerCase().indexOf("tothirdtab") >= 0)
          {
            $('#thirdTab').addClass('active');
            $('#order_summary').addClass('active');
          }
          if(neededClass.toLowerCase().indexOf("tofourthtab") >= 0)
          {
            $('#fourthTab').addClass('active');
            $('#payment').addClass('active');
          }
        })

    },2000);*/


</script>

    <script type="text/javascript" src="js/checkout.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</html>