<div class="container" ng-app="restControllers" ng-init="forgotPasswordInit()" ng-controller="HomeCtrl">
                        
         <div class="row">
            <div class="col-sm-12 col-md-12 text-left margin-top10">
                <div class="wel_tt">
                                    
                    <div class="margin-20tb"></div>
                    <div class="col-sm-12 col-md-12 yello-div user_information" >
                        <div class="clearfix margin-10tb"></div>
                            <div class="mid_div_marg">
                                <div class="col-sm-8 col-md-8 yello-div table-bordered login_gt" >     
                                <!-- user form -->
                                <form name="user-form" id="user-form" method="post" action="" class="af-user row">                                    
                                <div class="col-sm-12 col-md-12 ">
                                    <div class="col-sm-12 col-md-12 ">
                                        <h3>Reset Password</h3>
                                    </div>
                                 </div>
                                 		<div ng-if="message">{{ message }}</div>
                                    		<!-- Error Messages -->
                                    		
                                    		
                        <div class="col-sm-12 col-xs-12 pad_10px">            		
							<div class="ocr-error" ng-show="errors.length > 0">
								<div class="col-xs-12">
									<div class="alert fade in alert-danger">
										<a class="close close-error" style="font-size: 15px;"
											href="javascript:void(0)" ng-click="errors.length = 0">x</a>
										<h4>Error!</h4>
										<ul class="msg-ul">
											<li ng-repeat="error in errors track by $index">{{
												error.msg }}</li>
										</ul>
									</div>
								</div>
							</div>

							<!-- Warning Messages -->
							<div class="ocr-warning" ng-show="warnings.length > 0">
								<div class="col-xs-12">
									<div class="alert fade in">
										<a class="close" style="font-size: 15px;"
											href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
										<strong>Warning!</strong>
										<ul class="msg-ul">
											<li ng-repeat="warning in warnings track by $index">{{
												warning }}</li>
										</ul>
									</div>
								</div>
							</div>

							<!-- Info Messages -->
							<div class="ocr-info" ng-show="infos.length > 0">
								<div class="col-xs-12">
									<div class="alert fade in alert-info">
										<a class="close" style="font-size: 15px;"
											href="javascript:void(0)" ng-click="infos.length = 0">x</a> <strong>Information!</strong>
										<ul class="msg-ul">
											<li ng-repeat="info in infos track by $index">{{ info }}
											</li>
										</ul>
									</div>
								</div>
							</div>
					</div>
							<div class="form-group af-inner">
										<div class=" af-outer af-required clearfix">
											<div class="form-group ">

												<div class="col-sm-4 enti_tt_alig">
													<label for="email">Email Id </label>
												</div>
												<div class="col-sm-6">
													<input ng-model="username" type="text"
														name="email" id="email" placeholder="" value=""
														size="30" data-toggle="tooltip"
														title="Email is required"
														class="form-control placeholder" readonly/>

												</div>
											</div>
										</div>
											<div class=" af-outer af-required clearfix">                
                                                <div class="form-group ">
                                                    <div class="col-sm-4 enti_tt_alig">
                                                        <label for="passwordfield">OTP</label> 
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="password">
                                                                <input ng-model="fp.otp" type="password" id="passwordfield" placeholder="" value="" size="30"
                                                                data-toggle="tooltip" title="OTP is required" ng-keyup="$event.keyCode == 13 ? resetPassword() : null"
                                                                class="form-control placeholder"/>
                                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                            </div>
                                                            <div class="font_11px lineht-11">(Your password is required to change your password)</div>
                                                    </div>
                                                 </div>
                                            </div>              
                                            <div class=" af-outer af-required clearfix">
                                                <div class="form-group">
                                                        <div class="col-sm-4 enti_tt_alig">
                                                        <label for="passwordfield2">New Password:</label> 
                                                        </div>
                                                        <div class="col-sm-6">
                                                        	<div  class="password">
                                                                <input ng-model="fp.newpwd" type="password" id="passwordfield2" placeholder="" value="" size="30"
                                                                data-toggle="tooltip" title="New password is required" ng-keyup="$event.keyCode == 13 ? resetPassword() : null"
                                                                class="form-control placeholder"/>
                                                                <span class="glyphicon  glyphicon-eye-open2"></span>
                                                            </div>                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" af-outer af-required clearfix">
                                                <div class="form-group">
                                                        <div class="col-sm-4 enti_tt_alig">
                                                        	<label for="passwordfield2">Confirm New Password:</label> 
                                                        </div>
                                                        <div class="col-sm-6">
                                                        	<div class="password">
                                                                <input ng-model="fp.confirmpwd" type="password" id="passwordfield3" placeholder="" value="" size="30"
                                                                data-toggle="tooltip" title="New password is required" ng-keyup="$event.keyCode == 13 ? resetPassword() : null"
                                                                class="form-control placeholder"/>
                                                                <span class="glyphicon  glyphicon-eye-open2"></span>
                                                            </div>                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="af-outer af-required clearfix margin-20b" >
                                               	 <div class="form-group">
                                               	 	<div class="col-sm-4 enti_tt_alig">
                                               	 	</div>
                                               	 	<div class="col-sm-6">
                                               	 		<input type="button" name="Save" value="Save" ng-click="resetPassword()" id="user_secur_btn" class="signup_btn">
                                                   		<input type="reset" name="Cancel" value="Cancel" gtn-click="/login" class="signup_btn">
                                               	 	</div>
                                                    
                                                 </div>  
													<!-- <a href ng-click="forgotPassword()"  class="col_skyblue" >Forgot Password?</a> -->
													
                                                
                                            </div>
                                <!-- /User form Left part -->
                                </div>                                    
                                        </form>
                                <!-- /user form -->
                                </div> 
							</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top30 clearfix"></div>
                
            </div>
