
<div class="content-area" ng-init="loginInit()" ng-app="restControllers">

	<!-- PAGE login -->
	<section class="page-section-yel  ">
		<div class="container wg-grid-page-m">
			<div class="row clearfix page_m ">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="index.html#!/login">Login</a></li>

					Vehicle Tracking System
					<li>	<a href="javascrip:void(0)" id="sign-up">Create an Account</a>
					</li>
					<!--<li class="active"> <a href="javascrip:void(0)"  >Login</a> </li> -->
				</ul>
			</div>
		</div>
	</section>
	<!-- /PAGE login -->

	<!-- PAGE ABOUT -->
	<section class="page-section">
		<div class="container">

			<div class="row clearfix">&nbsp;</div>
			<div class=" ">
				<div ng-show="showDiv"
					class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mid-width-log login_gt">

					<div class="tb_title caps">Log in</div>

					<div class="pad_lr16px tt_change text-right ">
						or &nbsp; &nbsp;<a ng-click="showRegisterationDiv()" >create an account</a>
					</div>

					<div class="clearfix pad_tb10px" id="logindiv"></div>

								<div class="col-sm-12 col-xs-12 pad_10px">
									<div class=" ocr-error" ng-show="errors.length > 0">

											<div class="alert fade in alert-danger">
												<a class="close close-error" style="font-size: 15px;"
													href="javascript:void(0)" ng-click="errors.length = 0">x</a>
												<h4>Error!</h4>
												<ul class="msg-ul">
													<li ng-repeat="error in errors track by $index">{{
														error.msg }}</li>
												</ul>
											</div>

									</div>

									<!-- Warning Messages -->
									<div class="row ocr-warning" ng-show="warnings.length > 0">
										<div class="col-xs-12">
											<div class="alert fade in">
												<a class="close" style="font-size: 15px;"
													href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
												<strong>Warning!</strong>
												<ul class="msg-ul">
													<li ng-repeat="warning in warnings track by $index">
														{{ warning }}</li>
												</ul>
											</div>
										</div>
									</div>

									<!-- Info Messages -->
									<div class="row ocr-info" ng-show="infos.length > 0">
										<div class="col-xs-12">
											<div class="alert fade in alert-info">
												<a class="close" style="font-size: 15px;"
													href="javascript:void(0)" ng-click="infos.length = 0">x</a>
												<strong>Information!</strong>
												<ul class="msg-ul">
													<li ng-repeat="info in infos track by $index">{{ info
														}}</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

					<!-- Contact login form -->
					<form name="loginform" method="post" class="af-login row"
						id="af-login" novalidate>
						<div class="col-sm-12 af-outer af-required ">
							<div ng-if="message">{{ message }}</div>
							<div class="form-group af-inner">

								<div class="col-sm-4 ">
									<label for="email">Email Id </label>
								</div>
								<div class="col-sm-8 ">
									<input ng-model="login.username" type="text" name="email"
										id="email" placeholder="" value="" size="30"
										data-toggle="tooltip" title="Email is required"
										class="form-control placeholder" required/>

								</div>
							</div>
						</div>

						<div class="col-sm-12 af-outer af-required ">
							<div class="form-group af-inner">

								<div class="col-sm-4 ">
									<label for="password">Password </label>

								</div>
								<div class="col-sm-8">
									<div class="password">
										<input ng-model="login.password" type="password" name="pass"
											id="passwordfield" placeholder="" value="" size="30"
											data-toggle="tooltip" title="Password is required"
											class="form-control placeholder" autosuggest="off" required/> <span
											class="glyphicon glyphicon-eye-open"></span>
									</div>

								</div>
							</div>

						</div>

						<div class="col-sm-12 af-outer af-required text-center">
							<div class="form-group af-inner">
								<button name="submit" ng-click="loginFn(true)" class="signup_btn" >LOGIN</button> <br>
									<br> Or <br><br>
									 <div id ="my-signin2" ng-click="renderButton()" class="login_buttons login_gplus"><span><img src="img/gmail.png" /></span><span>LOGIN WITH Gmail</span></div>

								<input id="chkDelhi" type="checkbox" name="chkDelhi" />

								<label for="chkDelhi">Remember me</label>
									<br>
								<br>
								<br>
							</div>
						</div>

					</form>
					<!-- /Contact login form -->
				</div> <!-- id = sign in div -->
			</div>
			<!-- login in -->


			<!-- sign up div start -->
			<div class=" ">
				<div ng-hide="showDiv"
					class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mid-width-log signup">
					<div class="tb_title caps">sign up for free</div>

					<div class="pad_lr16px tt_change text-right ">
						or &nbsp; &nbsp;<a ng-click="showLoginDiv()">log
							in</a>
					</div>

					<div class="clearfix pad_tb10px"></div>
							<div class="col-sm-12 col-xs-12 pad_10px">
								<div class="ocr-error" ng-show="errors.length > 0">

											<div class="alert fade in alert-danger">
												<a class="close close-error" style="font-size: 15px;"
													href="javascript:void(0)" ng-click="errors.length = 0">x</a>
												<h4>Error!</h4>
												<ul class="msg-ul">
													<li ng-repeat="error in errors track by $index">{{
														error.msg }}</li>
												</ul>
											</div>

									</div>

									<!-- Warning Messages -->
									<div class="ocr-warning" ng-show="warnings.length > 0">

											<div class="alert fade in">
												<a class="close" style="font-size: 15px;"
													href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
												<strong>Warning!</strong>
												<ul class="msg-ul">
													<li ng-repeat="warning in warnings track by $index">
														{{ warning }}</li>
												</ul>
											</div>

									</div>

									<!-- Info Messages -->
									<div class="ocr-info" ng-show="infos.length > 0">

											<div class="alert fade in alert-info">
												<a class="close" style="font-size: 15px;"
													href="javascript:void(0)" ng-click="infos.length = 0">x</a>
												<strong>Information!</strong>
												<ul class="msg-ul">
													<li ng-repeat="info in infos track by $index">{{ info
														}}</li>
												</ul>
											</div>

									</div>
								</div>
					<!-- Contact signup form -->
					<form name="signupform" method="post" class="af-signup row"
						id="af-signup">

						<div class="col-sm-12 af-outer af-required">
							<!-- <div ng-if="message">{{ message }}</div> -->
							<div class="form-group af-inner">
								<div class="col-sm-4 ">
									<label for="name">First Name</label>
								</div>
								<div class="col-sm-8 ">
									<input ng-model="user.name" type="text" name="name" id="name"
										placeholder="" value="" size="30" data-toggle="tooltip"
										title="Name is required" ng-keyup="$event.keyCode == 13 ? signUp() : null" class="form-control placeholder" required/>
								</div>
							</div>
						</div>

						<div class="col-sm-12 af-outer af-required">
							<div class="form-group af-inner">
								<div class="col-sm-4 ">
									<label for="name2">Last Name</label>
								</div>
								<div class="col-sm-8">
									<input ng-model="user.name2" type="text" name="name2"
										id="name2" placeholder="" value="" size="30"
										data-toggle="tooltip" title="Last Name is required"
										class="form-control placeholder" ng-keyup="$event.keyCode == 13 ? signUp() : null" required/>
								</div>
							</div>
						</div>

						<div class="col-sm-12 af-outer af-required ">
							<div class="form-group af-inner">

								<div class="col-sm-4 ">
									<label for="email_signup">Business Email Id </label>
								</div>
								<div class="col-sm-8">
									<input ng-model="username" type="email" name="email"
										id="email_signup" placeholder="" value="" size="30"
										data-toggle="tooltip" title="Email is required"
										class="form-control placeholder" ng-keyup="$event.keyCode == 13 ? signUp() : null" required/>
								</div>
							</div>
						</div>

						<div class="col-sm-12 af-outer af-required ">
							<div class="form-group af-inner">

								<div class="col-sm-4 ">
									<label for="passwordfield2">Password </label>

								</div>
								<div class="col-sm-8">
									<div class="password">
										<input ng-model="user.password" type="password"
											name="passwordfield2" id="passwordfield2" placeholder="" value="" size="30"
											data-toggle="tooltip" title="Password is required"
											class="form-control placeholder" ng-keyup="$event.keyCode == 13 ? signUp() : null" required/> <span
											class="glyphicon glyphicon-eye-open2" ></span>
									</div>

								</div>
							</div>

						</div>

						<div class="col-sm-12 af-outer af-required">
							<div class="form-group af-inner">
								<div class="col-sm-4 ">
									<label for="phone">Phone </label>
								</div>
								<div class="col-sm-8">
									<input ng-model="user.phone" type="text" name="phone"
										id="phone" placeholder="" value="" size="30"
										data-toggle="tooltip" title="Phone is required"
										class="form-control placeholder" ng-keyup="$event.keyCode == 13 ? signUp() : null" required/>
								</div>
							</div>
						</div>

						<div class="col-sm-12 af-outer af-required text-center">
							<div class="form-group af-inner">
								<button type="button" name="submit" value="GET STARTED"
									ng-click="signUp()" id="submit_btn" class="signup_btn">GET
									STARTED</button>
								<br> <br>

							</div>
						</div>

					</form>
					<!-- /Contact signup form -->
				</div>
			</div>
			<!-- sign up div end -->

		</div>
		<!-- <script type="text/javascript">
			function createAccount() {
				$('#sign-up-m').show();
				$('#signup_div').show();
				$('#signin_div').hide();
				$('#logindiv').hide();
			}

			function loginShow() {
				$('#sign-up-m').show();
				$('#signup_div').hide();
				$('#signin_div').show();
				$('#logindiv').show();
			}
		</script> -->
	</section>
	<!-- /PAGE ABOUT -->

</div>