<div ng-app="restControllers" ng-init="loadUser()" class="panel-grid-cell dashboard-rt">

    <!-- Error Messages -->
    <div class="row ocr-error" ng-show="errors.length > 0">
		<div class="col-xs-12">
			<div class="alert fade in alert-danger">
				<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
				<h4>Error!</h4>
				<ul class="msg-ul">
					<li ng-repeat="error in errors track by $index">
            			{{ error.msg }}
            		</li>
				</ul>
			</div>
		</div>
	</div>

      <!-- Warning Messages -->
      <div class="row ocr-warning" ng-show="warnings.length > 0">
        <div class="col-xs-12">
          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
            <strong>Warning!</strong>
            <ul class="msg-ul">
            	<li ng-repeat="warning in warnings track by $index">
            		{{ warning }}
            	</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Info Messages -->
      <div class="row ocr-info" ng-show="infos.length > 0">
        <div class="col-xs-12">
          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
            <strong>Information!</strong>
            <ul class="msg-ul">
            	<li ng-repeat="info in infos track by $index">
            		{{ info }}
            	</li>
            </ul>
          </div>
        </div>
      </div>

    <div class="container af-user">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-left margin-top20" >
                <div class="wel_tt">
                    <span class="head wel_colo strong">Profile </span>
 <div id="profile-errors"></div>

<hr>
                    <div class="col-sm-12 col-md-12 yello-div user_information" >
                        <div class="user_div">
							 <span class="gb_big gbii flt_l">
							 	<img class="gb_b gb_db gb_R" style="height: 100%" ng-src="data:image/JPEG;base64,{{user.image}}"/>
							 </span>

                            <div class="user_nm flt_l">
                                <span class="title_tt ">{{user.firstName}} {{user.lastName}}</span>
                                <span class="title_sub ">{{user.companyName}}</span>
                            </div>
     <form name="user-form" id="user-form" method="post"  class="af-user row">


                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-md-12 yello-div" >
                        <div class="col-sm-12 col-md-12" > &nbsp; </div>

                        <!-- user form -->
                                <div class="col-sm-6 col-md-6">
                                            <div class=" af-outer af-required clearfix">
                                                <div class="form-group">
                                                        <div class="col-sm-5 enti_tt_alig">
                                                        <label for="firstname">First Name:</label>
                                                        </div>
                                                        <div class="col-sm-7">
                                                        <input
                                                            type="text" name="firstname" id="firstname" placeholder="" ng-model="user.firstName" size="30"
                                                            data-toggle="tooltip" title="First name is required"
                                                            class="form-control placeholder"/>
                                                         </div>
                                                </div>
                                            </div>
                                            <div class=" af-outer af-required clearfix">
                                                <div class="form-group">
                                                    <div class="col-sm-5 enti_tt_alig">
                                                        <label for="title_tt">Title:</label>
                                                        </div>
                                                        <div class="col-sm-7">
                                                        <input
                                                            type="text" name="title" id="title_tt" placeholder="" ng-model="user.title" size="30"
                                                            data-toggle="tooltip" title="Title is required"
                                                            class="form-control placeholder"/>
                                                         </div>
                                                 </div>
                                            </div>
                                            <div class=" af-outer af-required clearfix">
                                                <div class="form-group">
                                                        <div class="col-sm-5 enti_tt_alig">
                                                        <label for="email">Email:</label>
                                                        </div>
                                                        <div class="col-sm-7">
                                                        <input
                                                            type="text" name="email" id="email" placeholder="" ng-model="user.emailId" size="30"
                                                            data-toggle="tooltip" title="Email is required"
                                                            class="form-control placeholder input-email" readonly/>
                                                         </div>
                                                </div>
                                            </div>
                                </div>

                        <div class="col-sm-6 col-md-6 ">
                                    <div class=" af-outer af-required clearfix">
                                        <div class="form-group ">
                                            <div class="col-sm-5 enti_tt_alig">
                                                <label for="lastname">Last Name:</label>
                                                </div>
                                                <div class="col-sm-7">
                                                <input
                                                    type="text" name="lastname" id="lastname" placeholder="" ng-model="user.lastName"  size="30"
                                                    data-toggle="tooltip" title="Last name is required"
                                                    class="form-control placeholder"/>
                                            </div>
                                         </div>
                                    </div>
                                    <div class=" af-outer af-required clearfix">
                                        <div class="form-group">
                                                <div class="col-sm-5 enti_tt_alig">
                                                <label for="compname">Company Name:</label>
                                                </div>
                                                <div class="col-sm-7">
                                                <input
                                                    type="text" name="Company" id="compname" placeholder="" ng-model="user.companyName" size="30"
                                                    data-toggle="tooltip" title="Company name is required"
                                                    class="form-control placeholder"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" af-outer af-required clearfix">
                                        <div class="form-group">
                                                <div class="col-sm-5 enti_tt_alig">
                                                <label for="phonenum">Phone No.: </label>
                                                </div>
                                                <div class="col-sm-7 ">
                                                <input
                                                    type="text" name="Phone No" id="phonenum" placeholder="" ng-model="user.phone" size="30"
                                                    data-toggle="tooltip" title="Phone No. is required"
                                                    class="form-control placeholder "/>
                                                 </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 margin-20b text-right" >
                                        <div class=" margin-20tb text-right" >
                                            <button type="button" name="Save Changes" value="Save Changes" ng-click="modifyUserDetails()"  id="user_btn" class="btn-license">Save Changes</button>
                                        </div>
                                    </div>

                        <!-- /User form Left part -->
                        </div>
                                </form>
                        <!-- /user form -->
                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top30 clearfix">
    </div>
</div>


            </div>
