<div ng-app="restControllers" ng-controller="UsersCtrl" ng-init="getListOfUsers()"class="panel-grid-cell dashboard-rt">

    
<div class="container">                
        <div class="row">
            <div class="col-sm-12 col-md-12 text-left margin-top20" >                    
                <div class="wel_tt">
                    <span class="head wel_colo strong">Users List</span>
                    <hr>
                    
                    <!-- Error Messages -->
						    <div class="row ocr-error" ng-show="errors.length > 0">
								<div class="col-xs-12">
									<div class="alert fade in alert-danger">
										<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
										<h4>Error!</h4>
										<ul class="msg-ul">
											<li ng-repeat="error in errors track by $index">
						            			{{ error.msg }}
						            		</li>
										</ul>
									</div>
								</div>
							</div>
						
						      <!-- Warning Messages -->
						      <div class="row ocr-warning" ng-show="warnings.length > 0">
						        <div class="col-xs-12">
						          <div class="alert fade in alert-warning"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
						            <strong>Warning!</strong>
						            <ul class="msg-ul">
						            	<li ng-repeat="warning in warnings track by $index">
						            		{{ warning }}
						            	</li>
						            </ul>
						          </div>
						        </div>
						      </div>
						
						      <!-- Info Messages -->
						      <div class="row ocr-info" ng-show="infos.length > 0">
						        <div class="col-xs-12">
						          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
						            <strong>Information!</strong>
						            <ul class="msg-ul">
						            	<li ng-repeat="info in infos track by $index">
						            		{{ info }}
						            	</li>
						            </ul>
						          </div>
						        </div>
						      </div>
                    
 					<p style="margin-top: 0px">You can have atmost <b>{{NoOfUsersAllowed+1}}</b> users including yourself</p>
                       
                    <hr>
                    <div class=" yello-div user_information bill_info" >
                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-md-12 yello-div">
                    		<div class="col-sm-12 col-md-12">
	                      
                            <span class="bill_head strong">Users</span>
                              <div id="billing-errors"></div>

                            <div class="col-sm-12 col-md-12 margin-10tb" >
                               <table class="payAdd_table">
                                    <thead>
                                        <tr>
                                            <th class="method-num">Name</th>
                                            <th class="bill-add">Company</th>
                                            <th class="edit-add">Email</th> 
										     <th class="edit-add">Delete?</th> 
										                                                                              
										 </tr>
                                    </thead>
                                    
                                    <tbody>                   
                                        <tr ng-repeat="user in users" class="paymethod_item">
                                            <td class="method-num"><span class="m-method">Name</span>

 
                                            <p>{{user.firstName}}&nbsp;  {{user.lastName}}</p>
                                            </td>
                                            <td class="bill-add"><span class="m-bill">company</span> <p>{{user.company}}</p></td>
                                            <td class="edit-add"><span class="m-edit">&nbsp; </span> 
                                             <p>{{user.email}}</p> </td><td class="edit-add">        <a href ng-click="deleteUser(user, $event)"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                                            </td> 
                                        </tr>   
                                   </tbody>
                                </table>
                            </div>
                            
                            
                     </div>
            
                </div> 
                    </div>         
                </div>
            </div>
        </div>
        <div class="row margin-top10 clearfix"></div>
	</div>    

<div ng-if="allowMoreUsers && isPaymentDone!='false'" class="">
    <div class="container" ng-app="restControllers" ng-controller="SubCtrl">                
        <div class="row">
            <div class="col-sm-12 col-md-12 text-left margin-top10">
                <div class="wel_tt">
                            <span class="bill_head strong">Add New User </span>

                    <hr>
                    <div class="col-sm-12 col-md-12 yello-div user_information" >
                        <div class="clearfix margin-10tb"></div>
                            <div class="mid_div_marg">
                            <div ng-if="message">{{ message }}</div>
                                <div class="col-sm-6 col-md-6 yello-div table-bordered" >     
                                <!-- user form -->
                                <form name="user-form" id="user-form" method="post" action="" class="af-user row">                                    
                                <div class="col-sm-12 col-md-12 margin-10tb">                                
                                            <div class=" af-outer af-required clearfix">
                                                <div class="form-group ">
                                                    <div class="col-sm-5 enti_tt_alig">
                                                        <label for="lastname">First Name * :</label> 
                                                        </div>
                                                        <div class="col-sm-7">
                                                        <input
                                                            ng-model= "user.firstname" type="text" name="firstname" id="firstname" placeholder="" value="" size="30"
                                                            data-toggle="tooltip" title="First name is required"
                                                            class="form-control placeholder"/>														
                                                    </div>
                                                 </div>
                                            </div> 
                                            <div class=" af-outer af-required clearfix">                
                                                <div class="form-group ">
                                                    <div class="col-sm-5 enti_tt_alig">
                                                        <label for="lastname">Last Name * :</label> 
                                                        </div>
                                                        <div class="col-sm-7">
                                                        <input
                                                            ng-model= "user.lastname" type="text" name="lastname" id="lastname" placeholder="" value="" size="30"
                                                            data-toggle="tooltip" title="Last name is required"
                                                            class="form-control placeholder"/>														
                                                    </div>
                                                 </div>
                                            </div>             
                                            <div class=" af-outer af-required ">
                                                <div class="form-group">
                                                        <div class="col-sm-5 enti_tt_alig">
                                                        <label for="email">Business Email Id * :</label> 
                                                        </div>
                                                        <div class="col-sm-7">
                                                        <input
                                                            ng-model= "user.email" type="text" name="email" id="email" placeholder="" value="" size="30"
                                                            data-toggle="tooltip" title="Business Email is required"
                                                            class="form-control placeholder input-email"/>                            
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-12 col-md-12 text-right" >
                                                <div class=" margin-20tb text-right" >
                                                    <input type="button" name="Save" value="ADD +" ng-click="addUserNew(true)" id="user1_btn" class="btn-license">
                                                </div>
                                            </div>
                                <!-- /User form Left part -->
                                </div>                                    
                                        </form>
                                         
                                <!-- /user form -->
                                </div> 
                                								
							</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top30 clearfix"></div>
	</div>           
</div>
</div>
