 <div class="container" ng-app="restControllers" ng-init="getProducts()">
    <div class="panel-grid-cell ">
    <div class="container wg-grid-page-m">                
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-12 col-md-12 text-left" >                    
                <div class="wel_tt">
                    <span class="head wel_colo strong">Subscription </span>
                    <div ng-if="freeTrail">Your free trial subscription on products of this site will be active for 15 days. Please confirm to proceed.
                    	<div class="col-sm-12 col-md-12 text-right">
                                             <a href ng-click="doFreeTrial()"  target="_self" data-animation="flipInY" data-animation-delay="100" class="btn btn-theme btn-theme-xs yello_btn_colo">
                        										<i class="fa fa-arrow-circle-right"></i> Proceed </a>
                    </div>
                    </div>
                    <!--<hr> -->
                    <div class="col-sm-12 col-md-12 yello-div bill_info margin-top30" >
                    
                    	
                    <!-- Error Messages -->
				    <div class="row ocr-error" ng-show="errors.length > 0">			
						<div class="col-xs-12">				
							<div class="alert fade in alert-danger">
								<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
								<h4>Error!</h4>
								<ul class="msg-ul">
									<li ng-repeat="error in errors track by $index">
				            			{{ error.msg }}
				            		</li>
								</ul>
							</div>
						</div>
					</div>
					      
				      <!-- Warning Messages -->
				      <div class="row ocr-warning" ng-show="warnings.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
				            <h4>Warning!</h4>
				            <ul class="msg-ul">
				            	<li ng-repeat="warning in warnings track by $index">
				            		{{ warning.msg }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
					      
				      <!-- Info Messages -->
				      <div class="row ocr-info" ng-show="infos.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
				            <h4>Information!</h4>
				            <ul class="msg-ul">
				            	<li ng-repeat="info in infos track by $index">
				            		{{ info.msg }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
                    
                    
                        <div class="col-sm-12 col-md-12 yello-div" >
                        <!-- user form -->
                        <form name="user-form" id="user-form" method="post" action="" class="af-user af-user-sub row">
                        	<div class="form-group af-inner">                      
                            <div class="col-sm-4 ">
                                <label for="users">Number of Users </label> 
                            </div>
                            <div class="col-sm-8 ">
								<input
                                    ng-model="sub.users" type="number" step="1" name="users" id="users" placeholder="" value="" size="3"
                                    data-toggle="tooltip" title="Enter Number of users to be subscribed" ng-keyup="getTotal()"
                                    class="form-control placeholder"/>                                    
                            </div>
                        	</div>
						
						
							<!-- commented by naveen 21-July remove countries on UI -->
							<!-- <div class="form-group af-inner">                      
	                            <div class="col-sm-4 ">
	                                <label for="countries">Number of Countries </label> 
	                            </div>
	                            <div class="col-sm-8 ">
									<input
	                                    ng-model="sub.countries" type="text" name="countries" id="countries" placeholder="" value="" size="3"
	                                    data-toggle="tooltip" title="Enter Number of countries to be subscribed"
	                                    class="form-control placeholder"/>                                    
	                            </div>
                        	</div> -->
                        	
                        	<div class="col-sm-8 col-md-8 margin-20b">
                            <ul>
                            <li ng-repeat="products in productsData">
                            <div class="bill_head strong margin-10b">{{products.product}}</div>
                                    <div class="margin-30b">
                                    <ul>
                  					<li ng-repeat="subproducts in products.subproduct">
                                    <div class=" af-outer af-required clearfix card_exp margin-5b">
                                    
                                        <div class="form-group">                
                                                <div class="col-sm-3  no_pad">
                                                <label for="watch_list">{{subproducts.displayName}}</label> 
                                                </div>
                                                <div class="col-sm-9 ">
                                                 	<div class="col-sm-3 no_pad">
                                                    <label for="price">{{subproducts.cost}} {{subproducts.currencyCode}} /month</label>
  	                                                </div>   
                                                    <div class="col-sm-4 no_pad enti_tt_alig">
                                                        <a href="javascript:void(0)" ng-click="addToCart(subproducts)" class="btn btn_addcart no_pad caps">
                                                        	<!-- <img src="img/cart_icon.png" alt="{{ subproducts.labelText }}" title="{{ subproducts.labelText }}"> -->	
                                                        		<span style="width: 80px;">{{ subproducts.labelText }}</span>
                                                        </a>
                                                    </div> 
                                                </div>
                                        </div>
                                    </div>
                                  </li>
                                   </ul>
                                   </div>
                                    <li>
                                    <ul>
                               
                                    <div class="col-sm-12 col-md-12 text-right" >
                                    	<div class="col-sm-3 enti_tt_alig " ></div>
                                        <div class="col-sm-9 " >
                                        </div>
                                    </div>
                                    
                        <!-- /User form Left part -->
                        </div>
                            
                            <div class="col-sm-4 col-md-4 margin-20b">
                                <div class="col-sm-12 col-md-12 margin-10b no_pad ">
                                    <span class="bill_head strong">Order Summary</span>
                                </div>                                
                                <div class="clearfix"></div>

                             <div class="clearfix bor_summary pad10px">
                               <table class="odersum_table">
                                    <thead>
                                        <tr>
                                            <th class="fun-call">Function</th>
                                            <th class="user-call">Users</th>
                                            <!-- <th class="count-add">Countries</th> -->
                                            <th class="total-add">Total</th> 
                                        </tr>
                                    </thead>
                                    
                                    <tbody>                   
                                        <tr class="odersum_item" ng-repeat="cartItem in cartItems">
                                            <td class="fun-call"><span class="m-fun">Function: </span> <label>{{cartItem.displayName}}</label> </td>
                                            <td class="user-call"><span class="m-user">Users: </span> <label>{{sub.users}}</label></td>
                                            <!-- <td class="count-add"><span class="m-count">Countries: </span> <label>{{sub.countries}}</label></td> -->
                                            
                                            <!-- <td class="total-add"><span class="m-total">Total: </span> <label>{{cartItem.cost*sub.users*sub.countries}} {{cartItem.currencyCode}} /month</label> </td> -->
                                            <td class="total-add"><span class="m-total">Total: </span> <label>{{cartItem.cost*sub.users}} {{cartItem.currencyCode}} /month</label> </td> 
                                        </tr>                                     
                                    </tbody>
                                    
                                    <tfoot>
                                        <tr>
                                            <th class="fun-call"><label for="price">Total Price:  </label></th>
                                            <!-- <th class="user-call">&nbsp;</th> -->
                                            <th class="count-add">&nbsp;</th>
                                            <th class="total-add"><label for="price">{{ getTotal() }} {{carTotalCurrency}} /month</label></th> 
                                        </tr>
                                    </tfoot>
                                    
                                </table>
                                
                                <div class=" text-center">
                                <input type="button" name="Checkout" value="Checkout" ng-click="checkout(cartItems,carTotal,carTotalCurrency)" id="user_btn_pay_mod" class="wid_100 btn-blue margin-10tb strong"><br>
									<img src="img/pay_cards_img.png">
                                </div>
                            </div>
                                        
                                        
                                </div>
                                
                        </form>
                        <!-- /user form -->
                </div>                                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top30 clearfix">
    </div>
</div>
                
                 
            </div>
</div>
                
                 

