<div ng-init="userThemeInit()" ng-controller="controller" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad" >                   
          	<!-- TOVAR INFORMATION -->
	  <div class="tovar_information">
						
		<div class="box visible">
				
						
		        <form class="af-entity">	
		            <div class="col-sm-12 col-md-12 blue-div" >
		                <div class="" >
		                     <h1>Themes</h1>
		                </div>
		                <hr>
		            </div>
		             <!-- Error Messages -->
				    <div class="row ocr-error" ng-show="errors.length > 0">			
						<div class="col-xs-12">				
							<div class="alert fade in alert-danger">
								<a class="close close-error" style="font-size: 15px;" href="javascript:void(0)" ng-click="errors.length = 0">x</a>
								<h4>Error!</h4>
								<ul class="msg-ul">
									<li ng-repeat="error in errors track by $index">
				            			{{ error.msg }}
				            		</li>
								</ul>
							</div>
						</div>
					</div>
					      
				      <!-- Warning Messages -->
				      <div class="row ocr-warning" ng-show="warnings.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="warnings.length = 0">x</a>
				            <strong>Warning!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="warning in warnings track by $index">
				            		{{ warning }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
					      
				      <!-- Info Messages -->
				      <div class="row ocr-info" ng-show="infos.length > 0">
				        <div class="col-xs-12">
				          <div class="alert fade in alert-info"> <a class="close" style="font-size: 15px;" href="javascript:void(0)" ng-click="infos.length = 0">x</a>
				            <strong>Information!</strong>
				            <ul class="msg-ul">
				            	<li ng-repeat="info in infos track by $index">
				            		{{ info }}
				            	</li>
				            </ul>
				          </div>
				        </div>
				      </div>
		            
		            
		            
		            <div class="row">
		            		<div class="col-xs-1"></div>
		            		<div class="color-picker blue-colorpicker col-xs-1" ng-click="updateTheme('gtn-blue')"></div>
		            		<div class="color-picker yellow-colorpicker col-xs-1" ng-click="updateTheme('gtn-yellow')" style="margin-left: 10px;"></div>
		            		<div class="color-picker neutral-grey-colorpicker col-xs-1" ng-click="updateTheme('gtn-neutral-grey')" style="margin-left: 10px;"></div>
		            		
		            		<div class="color-picker brown-colorpicker col-xs-1" ng-click="updateTheme('gtn-brown')" style="margin-left: 10px;"></div>
		            		<div class="color-picker dark-blue-colorpicker col-xs-1" ng-click="updateTheme('gtn-dark-blue')" style="margin-left: 10px;"></div>
		            		<div class="color-picker medium-dark-blue-colorpicker col-xs-1" ng-click="updateTheme('gtn-medium-dark-blue')" style="margin-left: 10px;"></div>
		            		
		            		<div class="color-picker purple-colorpicker col-xs-1" ng-click="updateTheme('gtn-purple')" style="margin-left: 10px;"></div>
		            		<div class="color-picker dark-purple-colorpicker col-xs-1" ng-click="updateTheme('gtn-dark-purple')" style="margin-left: 10px;"></div>
		            		<div class="color-picker light-blue-colorpicker col-xs-1" ng-click="updateTheme('gtn-light-blue')" style="margin-left: 10px;"></div>
		            </div>
		            
		            <div class="row" style="margin-top: 15px;">		
		            		<div class="col-xs-1"></div>
		            		
		            		<div class="color-picker teal-colorpicker col-xs-1" ng-click="updateTheme('gtn-teal')"></div>
		            		<div class="color-picker light-teal-colorpicker col-xs-1" ng-click="updateTheme('gtn-light-teal')" style="margin-left: 10px;"></div>
		            		<div class="color-picker green-colorpicker col-xs-1" ng-click="updateTheme('gtn-green')" style="margin-left: 10px;"></div>
		            		
		            		<div class="color-picker light-green-colorpicker col-xs-1" ng-click="updateTheme('gtn-light-green')" style="margin-left: 10px;"></div>
		            		<div class="color-picker orange-colorpicker col-xs-1" ng-click="updateTheme('gtn-orange')" style="margin-left: 10px;"></div>
		            		<div class="color-picker dark-orange-colorpicker col-xs-1" ng-click="updateTheme('gtn-dark-orange')" style="margin-left: 10px;"></div>
		            		
		            		<div class="color-picker dark-red-colorpicker col-xs-1" ng-click="updateTheme('gtn-dark-red')" style="margin-left: 10px;"></div>
		            		<div class="color-picker pink-colorpicker col-xs-1" ng-click="updateTheme('gtn-pink')" style="margin-left: 10px;"></div>
		            				            		
		            </div>
		            
            </form>
         </div>
       </div>
     </div>
</div>